<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pim.mapper.PimSearchFieldSetMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PimSearchFieldSetResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CODELISTID`, t1.`COLUMNLOGICNAME`, t1.`COLUMNNAME`, t1.`COLUMNWIDTH`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENTITYID`, t1.`ENTITYLOGICNAME`, t1.`ENTITYNAME`, t1.`FIELDTYPE`, t1.`ISSHOWN`, t1.`LINKFIELDNAME`, t1.`PIMSEARCHFIELDSETID`, t1.`PIMSEARCHFIELDSETNAME`, t1.`PXH`, t1.`PXH2`, t1.`SEARCHTAG`, t1.`TNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VNAME` FROM `T_PIMSEARCHFIELDSET` t1  ) t1 where pimsearchfieldsetid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PimSearchFieldSetResultMap" type="cn.ibizlab.ehr.core.pim.domain.PimSearchFieldSet" autoMapping="true">
        <id property="pimsearchfieldsetid" column="pimsearchfieldsetid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[AllDATA]-->
	 <select id="searchAllDATA"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimSearchFieldSetSearchContext"  resultMap="PimSearchFieldSetResultMap">
         select t1.* from (
                <include refid="AllDATA" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimSearchFieldSetSearchContext"  resultMap="PimSearchFieldSetResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[AllDATA]-->
    <sql id="AllDATA" databaseId="mysql">
       <![CDATA[	SELECT t1.`CODELISTID`, t1.`COLUMNLOGICNAME`, t1.`COLUMNNAME`, t1.`COLUMNWIDTH`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENTITYID`, t1.`ENTITYLOGICNAME`, t1.`ENTITYNAME`, t1.`FIELDTYPE`, t1.`ISSHOWN`, t1.`LINKFIELDNAME`, t1.`PIMSEARCHFIELDSETID`, t1.`PIMSEARCHFIELDSETNAME`, t1.`PXH`, t1.`PXH2`, t1.`SEARCHTAG`, t1.`TNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VNAME` FROM `T_PIMSEARCHFIELDSET` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CODELISTID`, t1.`COLUMNLOGICNAME`, t1.`COLUMNNAME`, t1.`COLUMNWIDTH`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENTITYID`, t1.`ENTITYLOGICNAME`, t1.`ENTITYNAME`, t1.`FIELDTYPE`, t1.`ISSHOWN`, t1.`LINKFIELDNAME`, t1.`PIMSEARCHFIELDSETID`, t1.`PIMSEARCHFIELDSETNAME`, t1.`PXH`, t1.`PXH2`, t1.`SEARCHTAG`, t1.`TNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VNAME` FROM `T_PIMSEARCHFIELDSET` t1  
				 WHERE 	( t1.`ISSHOWN` = 1 )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CODELISTID`, t1.`COLUMNLOGICNAME`, t1.`COLUMNNAME`, t1.`COLUMNWIDTH`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENTITYID`, t1.`ENTITYLOGICNAME`, t1.`ENTITYNAME`, t1.`FIELDTYPE`, t1.`ISSHOWN`, t1.`LINKFIELDNAME`, t1.`PIMSEARCHFIELDSETID`, t1.`PIMSEARCHFIELDSETNAME`, t1.`PXH`, t1.`PXH2`, t1.`SEARCHTAG`, t1.`TNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VNAME` FROM `T_PIMSEARCHFIELDSET` t1  
			]]>
    </sql>
</mapper>

