<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pim.mapper.PimArchiveSloanandreturnMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PimArchiveSloanandreturnResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GHRQ`, t1.`JYQSSJ`, t1.`JYR`, t1.`JYYY`, t1.`PIMARCHIVESID`, t1.`PIMARCHIVESLOANANDRETURNID`, t1.`PIMARCHIVESLOANANDRETURNNAME`, t11.`PIMARCHIVESNAME`, t1.`PIMPERSONID`, t1.`PIMPERSONID2`, t1.`PIMPERSONID3`, t31.`PIMPERSONNAME`, t21.`PIMPERSONNAME` AS `PIMPERSONNAME2`, t1.`PIMPERSONNAME3`, t1.`SPDATE`, t1.`SPPERSON`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZT` FROM `T_PIMARCHIVESLOANANDRETURN` t1  LEFT JOIN T_PIMARCHIVES t11 ON t1.PIMARCHIVESID = t11.PIMARCHIVESID  LEFT JOIN T_PIMPERSON t21 ON t1.PIMPERSONID2 = t21.PIMPERSONID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  ) t1 where pimarchivesloanandreturnid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PimArchiveSloanandreturnResultMap" type="cn.ibizlab.ehr.core.pim.domain.PimArchiveSloanandreturn" autoMapping="true">
        <id property="pimarchivesloanandreturnid" column="pimarchivesloanandreturnid" /><!--主键字段映射-->
		<result property="pimpersonid3" column="pimpersonid3" />
		<result property="pimpersonid" column="pimpersonid" />
		<result property="pimarchivesid" column="pimarchivesid" />
		<result property="pimpersonid2" column="pimpersonid2" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimarchives" javaType="cn.ibizlab.ehr.core.pim.domain.PimArchives" column="pimarchivesid" select="cn.ibizlab.ehr.core.pim.mapper.PimArchivesMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson2" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid2" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson3" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid3" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMARCHIVESLOANANDRETURN_PIMARCHIVES_PIMARCHIVESID] -->
	 <select id="selectByPimarchivesid" resultMap="PimArchiveSloanandreturnResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimarchivesid=#{pimarchivesid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMARCHIVESLOANANDRETURN_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="PimArchiveSloanandreturnResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMARCHIVESLOANANDRETURN_PIMPERSON_PIMPERSONID2] -->
	 <select id="selectByPimpersonid2" resultMap="PimArchiveSloanandreturnResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid2=#{pimpersonid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMARCHIVESLOANANDRETURN_PIMPERSON_PIMPERSONID3] -->
	 <select id="selectByPimpersonid3" resultMap="PimArchiveSloanandreturnResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid3=#{pimpersonid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimArchiveSloanandreturnSearchContext"  resultMap="PimArchiveSloanandreturnResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GHRQ`, t1.`JYQSSJ`, t1.`JYR`, t1.`JYYY`, t1.`PIMARCHIVESID`, t1.`PIMARCHIVESLOANANDRETURNID`, t1.`PIMARCHIVESLOANANDRETURNNAME`, t11.`PIMARCHIVESNAME`, t1.`PIMPERSONID`, t1.`PIMPERSONID2`, t1.`PIMPERSONID3`, t31.`PIMPERSONNAME`, t21.`PIMPERSONNAME` AS `PIMPERSONNAME2`, t1.`PIMPERSONNAME3`, t1.`SPDATE`, t1.`SPPERSON`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZT` FROM `T_PIMARCHIVESLOANANDRETURN` t1  LEFT JOIN T_PIMARCHIVES t11 ON t1.PIMARCHIVESID = t11.PIMARCHIVESID  LEFT JOIN T_PIMPERSON t21 ON t1.PIMPERSONID2 = t21.PIMPERSONID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GHRQ`, t1.`JYQSSJ`, t1.`JYR`, t1.`JYYY`, t1.`PIMARCHIVESID`, t1.`PIMARCHIVESLOANANDRETURNID`, t1.`PIMARCHIVESLOANANDRETURNNAME`, t11.`PIMARCHIVESNAME`, t1.`PIMPERSONID`, t1.`PIMPERSONID2`, t1.`PIMPERSONID3`, t31.`PIMPERSONNAME`, t21.`PIMPERSONNAME` AS `PIMPERSONNAME2`, t1.`PIMPERSONNAME3`, t1.`SPDATE`, t1.`SPPERSON`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZT` FROM `T_PIMARCHIVESLOANANDRETURN` t1  LEFT JOIN T_PIMARCHIVES t11 ON t1.PIMARCHIVESID = t11.PIMARCHIVESID  LEFT JOIN T_PIMPERSON t21 ON t1.PIMPERSONID2 = t21.PIMPERSONID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

