<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmPostMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmPostResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  ) t1 where ormpostid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmPostResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmPost" autoMapping="true">
        <id property="ormpostid" column="ormpostid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMPOST_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>

    <!--数据集合[EJZZGW]-->
	 <select id="searchEJZZGW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="EJZZGW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[AuthPost]-->
	 <select id="searchAuthPost"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurOrg]-->
	 <select id="searchCurOrg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="CurOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[DQGW]-->
	 <select id="searchDQGW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="DQGW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[DQORGGW]-->
	 <select id="searchDQORGGW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="DQORGGW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[GWXH]-->
	 <select id="searchGWXH"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="GWXH" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[JZBGWCX]-->
	 <select id="searchJZBGWCX"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="JZBGWCX" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CXGW]-->
	 <select id="searchCXGW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmPostSearchContext"  resultMap="OrmPostResultMap">
         select t1.* from (
                <include refid="CXGW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( t1.`ORMORGID` =  #{srf.sessioncontext.srforgid}  AND  t1.`ISTEMP` = '0'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[CXGW]-->
    <sql id="CXGW" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( ( t1.ORMORGID in (select (case when t2.ORGCODE ='10101' then t2.PORGID else t1.COMPANYFLAG end) as orgid FROM T_SRFORG t1  left join T_SRFORG t2 on t1.COMPANYFLAG = t2.orgid where t1.ORGID = #{srf.datacontext.orginfoid} ))  AND  t1.`STARTSTOPSIGN` = '1'  AND  t1.`ISTEMP` = '0'  AND  t1.`GWTYPE` LIKE '%180%' )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
			]]>
    </sql>
    <!--数据查询[DQGW]-->
    <sql id="DQGW" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( t1.`ORMORGID` =  #{srf.datacontext.ormorgid}  AND  t1.`ISTEMP` = '0'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[DQORGGW]-->
    <sql id="DQORGGW" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( ( t1.ORMORGID in (select (case when t2.ORGCODE ='10101' then t2.PORGID else t1.COMPANYFLAG end) as orgid FROM T_SRFORG t1  left join T_SRFORG t2 on t1.COMPANYFLAG = t2.orgid where t1.ORGID = #{srf.datacontext.orgid} ))  AND  t1.`ISTEMP` = '0'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[EJZZGW]-->
    <sql id="EJZZGW" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( t1.`ISTEMP` = '0'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[GWXH]-->
    <sql id="GWXH" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( t1.`ISTEMP` = '0'  AND  ( t1.`ORMORGID` =  #{srf.sessioncontext.srforgid}  OR  'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.srfpersonid})  OR  (t1.ormorgid in (select t.orgid from t_srforg t where instr(t.levelcode, ( select b.levelcode from t_srforg b where b.orgid = #{srf.sessioncontext.srforgid} ) ) =1 ) ) ) )
			]]>
    </sql>
    <!--数据查询[JZBGWCX]-->
    <sql id="JZBGWCX" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	( t1.ormorgid in (select orgid from v_ormorg t2 where t2.porgid is null)  AND  t1.`ISTEMP` = '0'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BXJLNX`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GWFL`, t1.`GWTYPE`, t1.`ISCONFIDENTIAL`, t1.`ISKEYPOSTION`, t1.`ISTEMP`, t1.`LGNX`, t1.`NX`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMPOSTID`, t1.`ORMPOSTNAME`, t1.`POSTNATURE`, t1.`QZLGNX`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMPOST` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
			]]>
    </sql>
</mapper>

