<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TrmInvoiceMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TrmInvoiceResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DH`, t1.`DZ`, t1.`ENABLE`, t1.`KHH`, t1.`KHHZH`, t1.`KPLX`, t1.`KPR`, t1.`NSRSBH`, t1.`TRMINVOICEID`, t1.`TRMINVOICENAME`, t1.`TRMTRAINAGENCYID`, t11.`TRMTRAINAGENCYNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_TRMINVOICE` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID = t11.TRMTRAINAGENCYID  ) t1 where trminvoiceid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TrmInvoiceResultMap" type="cn.ibizlab.ehr.core.trm.domain.TrmInvoice" autoMapping="true">
        <id property="trminvoiceid" column="trminvoiceid" /><!--主键字段映射-->
		<result property="trmtrainagencyid" column="trmtrainagencyid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtrainagency" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainAgency" column="trmtrainagencyid" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainAgencyMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMINVOICE_TRMTRAINAGENCY_TRMTRAINAGENCYID] -->
	 <select id="selectByTrmtrainagencyid" resultMap="TrmInvoiceResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtrainagencyid=#{trmtrainagencyid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TrmInvoiceSearchContext"  resultMap="TrmInvoiceResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DH`, t1.`DZ`, t1.`ENABLE`, t1.`KHH`, t1.`KHHZH`, t1.`KPLX`, t1.`KPR`, t1.`NSRSBH`, t1.`TRMINVOICEID`, t1.`TRMINVOICENAME`, t1.`TRMTRAINAGENCYID`, t11.`TRMTRAINAGENCYNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_TRMINVOICE` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID = t11.TRMTRAINAGENCYID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DH`, t1.`DZ`, t1.`ENABLE`, t1.`KHH`, t1.`KHHZH`, t1.`KPLX`, t1.`KPR`, t1.`NSRSBH`, t1.`TRMINVOICEID`, t1.`TRMINVOICENAME`, t1.`TRMTRAINAGENCYID`, t11.`TRMTRAINAGENCYNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_TRMINVOICE` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID = t11.TRMTRAINAGENCYID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

