<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFStepMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFStepResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFStep" autoMapping="true">
        <id property="wfstepid" column="wfstepid" /><!--主键字段映射-->
		<result property="wfinstanceid" column="wfinstanceid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfinstance" javaType="cn.ibizlab.ehr.core.wf.domain.WFInstance" column="wfinstanceid" select="cn.ibizlab.ehr.core.wf.mapper.WFInstanceMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFSTEP_WFINSTANCE_WFINSTANCEID] -->
	 <select id="selectByWfinstanceid" resultMap="WFStepResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfinstanceid=#{wfinstanceid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFStepSearchContext"  resultMap="WFStepResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEADLINE, t1.ENDTIME, t1.FROMWFSTEPID, t1.ISFINISH, t1.ISINTERACTIVE, t1.LASTACTORID, t1.MEMO, t1.STARTTIME, t1.TRACESTEP, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFINSTANCEID, t11.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFPNAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFVERSION FROM T_SRFWFSTEP t1  LEFT JOIN T_SRFWFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DEADLINE`, t1.`ENDTIME`, t1.`FROMWFSTEPID`, t1.`ISFINISH`, t1.`ISINTERACTIVE`, t1.`LASTACTORID`, t1.`MEMO`, t1.`STARTTIME`, t1.`TRACESTEP`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WFINSTANCEID`, t11.`WFINSTANCENAME`, t1.`WFPLOGICNAME`, t1.`WFPNAME`, t1.`WFSTEPID`, t1.`WFSTEPLANRESTAG`, t1.`WFSTEPNAME`, t1.`WFVERSION` FROM `T_SRFWFSTEP` t1  LEFT JOIN T_SRFWFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEADLINE, t1.ENDTIME, t1.FROMWFSTEPID, t1.ISFINISH, t1.ISINTERACTIVE, t1.LASTACTORID, t1.MEMO, t1.STARTTIME, t1.TRACESTEP, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFINSTANCEID, t11.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFPNAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFVERSION FROM T_WFSTEP t1  LEFT JOIN T_WFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEADLINE, t1.ENDTIME, t1.FROMWFSTEPID, t1.ISFINISH, t1.ISINTERACTIVE, t1.LASTACTORID, t1.MEMO, t1.STARTTIME, t1.TRACESTEP, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFINSTANCEID, t11.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFPNAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFVERSION FROM T_SRFWFSTEP t1  LEFT JOIN T_SRFWFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEADLINE, t1.ENDTIME, t1.FROMWFSTEPID, t1.ISFINISH, t1.ISINTERACTIVE, t1.LASTACTORID, t1.MEMO, t1.STARTTIME, t1.TRACESTEP, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFINSTANCEID, t11.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFPNAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFVERSION FROM T_SRFWFSTEP t1  LEFT JOIN T_SRFWFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[DEADLINE], t1.[ENDTIME], t1.[FROMWFSTEPID], t1.[ISFINISH], t1.[ISINTERACTIVE], t1.[LASTACTORID], t1.[MEMO], t1.[STARTTIME], t1.[TRACESTEP], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WFINSTANCEID], t11.[WFINSTANCENAME], t1.[WFPLOGICNAME], t1.[WFPNAME], t1.[WFSTEPID], t1.[WFSTEPLANRESTAG], t1.[WFSTEPNAME], t1.[WFVERSION] FROM [T_SRFWFSTEP] t1  LEFT JOIN T_SRFWFINSTANCE t11 ON t1.WFINSTANCEID = t11.WFINSTANCEID  
			]]>
    </sql>

</mapper>

