.dashboard {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    .ivu-row{
      .ivu-card{
        .ivu-card-head{
          border-bottom:0;
          p{
            display: flex;
            height: 24px;
            align-items: center;
            .line{
              width:100%;
              border-bottom: 1px solid #e8eaec;
              margin-left: 14px;
            }
          }
        }
      }
    }   
}

// this is less
