<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFWorkListMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFWorkListResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFWorkList" autoMapping="true">
        <id property="wfworklistid" column="wfworklistid" /><!--主键字段映射-->
		<result property="originalwfuserid" column="originalwfuserid" />
		<result property="wfinstanceid" column="wfinstanceid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfinstance" javaType="cn.ibizlab.ehr.core.wf.domain.WFInstance" column="wfinstanceid" select="cn.ibizlab.ehr.core.wf.mapper.WFInstanceMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="originalwfuser" javaType="cn.ibizlab.ehr.core.wf.domain.WFUser" column="originalwfuserid" select="cn.ibizlab.ehr.core.wf.mapper.WFUserMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFWORKLIST_WFINSTANCE_WFINSTANCEID] -->
	 <select id="selectByWfinstanceid" resultMap="WFWorkListResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfinstanceid=#{wfinstanceid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFWORKLIST_WFUSER_ORIGINALWFUSERID] -->
	 <select id="selectByOriginalwfuserid" resultMap="WFWorkListResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  originalwfuserid=#{wfuserid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFWorkListSearchContext"  resultMap="WFWorkListResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CANCELFLAG, t1.CANCELINFORM, t1.CREATEDATE, t1.CREATEMAN, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERDATA3, t1.USERDATA4, t1.USERDATAINFO, t1.WFACTORID, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFLANRESTAG, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFWORKFLOWID, t1.WFWORKFLOWNAME, t1.WFWORKLISTID, t1.WFWORKLISTNAME, t1.WORKINFORM FROM T_SRFWFWORKLIST t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CANCELFLAG`, t1.`CANCELINFORM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORIGINALWFUSERID`, t1.`ORIGINALWFUSERNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`USERDATA3`, t1.`USERDATA4`, t1.`USERDATAINFO`, t1.`WFACTORID`, t1.`WFINSTANCEID`, t1.`WFINSTANCENAME`, t1.`WFLANRESTAG`, t1.`WFSTEPID`, t1.`WFSTEPLANRESTAG`, t1.`WFSTEPNAME`, t1.`WFWORKFLOWID`, t1.`WFWORKFLOWNAME`, t1.`WFWORKLISTID`, t1.`WFWORKLISTNAME`, t1.`WORKINFORM` FROM `T_WFWORKLIST` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CANCELFLAG, t1.CANCELINFORM, t1.CREATEDATE, t1.CREATEMAN, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERDATA3, t1.USERDATA4, t1.USERDATAINFO, t1.WFACTORID, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFLANRESTAG, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFWORKFLOWID, t1.WFWORKFLOWNAME, t1.WFWORKLISTID, t1.WFWORKLISTNAME, t1.WORKINFORM FROM T_WFWORKLIST t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CANCELFLAG, t1.CANCELINFORM, t1.CREATEDATE, t1.CREATEMAN, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERDATA3, t1.USERDATA4, t1.USERDATAINFO, t1.WFACTORID, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFLANRESTAG, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFWORKFLOWID, t1.WFWORKFLOWNAME, t1.WFWORKLISTID, t1.WFWORKLISTNAME, t1.WORKINFORM FROM T_SRFWFWORKLIST t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CANCELFLAG, t1.CANCELINFORM, t1.CREATEDATE, t1.CREATEMAN, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERDATA3, t1.USERDATA4, t1.USERDATAINFO, t1.WFACTORID, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFLANRESTAG, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME, t1.WFWORKFLOWID, t1.WFWORKFLOWNAME, t1.WFWORKLISTID, t1.WFWORKLISTNAME, t1.WORKINFORM FROM T_SRFWFWORKLIST t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CANCELFLAG], t1.[CANCELINFORM], t1.[CREATEDATE], t1.[CREATEMAN], t1.[ORIGINALWFUSERID], t1.[ORIGINALWFUSERNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[USERDATA3], t1.[USERDATA4], t1.[USERDATAINFO], t1.[WFACTORID], t1.[WFINSTANCEID], t1.[WFINSTANCENAME], t1.[WFLANRESTAG], t1.[WFSTEPID], t1.[WFSTEPLANRESTAG], t1.[WFSTEPNAME], t1.[WFWORKFLOWID], t1.[WFWORKFLOWNAME], t1.[WFWORKLISTID], t1.[WFWORKLISTNAME], t1.[WORKINFORM] FROM [T_SRFWFWORKLIST] t1  
			]]>
    </sql>

</mapper>

