<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFReminderMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFReminderResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFReminder" autoMapping="true">
        <id property="wfreminderid" column="wfreminderid" /><!--主键字段映射-->
		<result property="wfstepactorid" column="wfstepactorid" />
		<result property="wfuserid" column="wfuserid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfstepactor" javaType="cn.ibizlab.ehr.core.wf.domain.WFStepActor" column="wfstepactorid" select="cn.ibizlab.ehr.core.wf.mapper.WFStepActorMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfuser" javaType="cn.ibizlab.ehr.core.wf.domain.WFUser" column="wfuserid" select="cn.ibizlab.ehr.core.wf.mapper.WFUserMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFREMINDER_WFSTEPACTOR_WFSTEPACTORID] -->
	 <select id="selectByWfstepactorid" resultMap="WFReminderResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfstepactorid=#{wfstepactorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFREMINDER_WFUSER_WFUSERID] -->
	 <select id="selectByWfuserid" resultMap="WFReminderResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfuserid=#{wfuserid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFReminderSearchContext"  resultMap="WFReminderResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t11.ACTORID, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t11.REMINDERCOUNT, t1.REMINDERTIME, t1.UPDATEDATE, t1.UPDATEMAN, t11.CREATEDATE AS WFCREATEDATE, t1.WFREMINDERID, t1.WFREMINDERNAME, t1.WFSTEPACTORID, t11.WFSTEPACTORNAME, t1.WFUSERID, t1.WFUSERNAME FROM T_SRFWFREMINDER t1  LEFT JOIN T_SRFWFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t11.`ACTORID`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t11.`REMINDERCOUNT`, t1.`REMINDERTIME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t11.`CREATEDATE` AS `WFCREATEDATE`, t1.`WFREMINDERID`, t1.`WFREMINDERNAME`, t1.`WFSTEPACTORID`, t11.`WFSTEPACTORNAME`, t1.`WFUSERID`, t1.`WFUSERNAME` FROM `T_WFREMINDER` t1  LEFT JOIN T_WFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t11.ACTORID, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t11.REMINDERCOUNT, t1.REMINDERTIME, t1.UPDATEDATE, t1.UPDATEMAN, t11.CREATEDATE AS WFCREATEDATE, t1.WFREMINDERID, t1.WFREMINDERNAME, t1.WFSTEPACTORID, t11.WFSTEPACTORNAME, t1.WFUSERID, t1.WFUSERNAME FROM T_WFREMINDER t1  LEFT JOIN T_WFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t11.ACTORID, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t11.REMINDERCOUNT, t1.REMINDERTIME, t1.UPDATEDATE, t1.UPDATEMAN, t11.CREATEDATE AS WFCREATEDATE, t1.WFREMINDERID, t1.WFREMINDERNAME, t1.WFSTEPACTORID, t11.WFSTEPACTORNAME, t1.WFUSERID, t1.WFUSERNAME FROM T_SRFWFREMINDER t1  LEFT JOIN T_SRFWFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t11.ACTORID, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t11.REMINDERCOUNT, t1.REMINDERTIME, t1.UPDATEDATE, t1.UPDATEMAN, t11.CREATEDATE AS WFCREATEDATE, t1.WFREMINDERID, t1.WFREMINDERNAME, t1.WFSTEPACTORID, t11.WFSTEPACTORNAME, t1.WFUSERID, t1.WFUSERNAME FROM T_SRFWFREMINDER t1  LEFT JOIN T_SRFWFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t11.[ACTORID], t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t11.[REMINDERCOUNT], t1.[REMINDERTIME], t1.[UPDATEDATE], t1.[UPDATEMAN], t11.[CREATEDATE] AS [WFCREATEDATE], t1.[WFREMINDERID], t1.[WFREMINDERNAME], t1.[WFSTEPACTORID], t11.[WFSTEPACTORNAME], t1.[WFUSERID], t1.[WFUSERNAME] FROM [T_SRFWFREMINDER] t1  LEFT JOIN T_SRFWFSTEPACTOR t11 ON t1.WFSTEPACTORID = t11.WFSTEPACTORID  
			]]>
    </sql>

</mapper>

