<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pcm.mapper.PcmPcmSgqMgrMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PcmPcmSgqMgrResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`JSSJ`, t1.`KSSJ`, t1.`PCMBDSQDMXID`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`SFTGSH`, t1.`SGQMGRID`, t1.`SGQMGRNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YGBH` FROM `T_SGQMGR` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  ) t1 where sgqmgrid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PcmPcmSgqMgrResultMap" type="cn.ibizlab.ehr.core.pcm.domain.PcmPcmSgqMgr" autoMapping="true">
        <id property="sgqmgrid" column="sgqmgrid" /><!--主键字段映射-->
		<result property="pimpersonid" column="pimpersonid" />
		<result property="pcmbdsqdmxid" column="pcmbdsqdmxid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pcmbdsqdmx" javaType="cn.ibizlab.ehr.core.pcm.domain.PcmBdsqdmx" column="pcmbdsqdmxid" select="cn.ibizlab.ehr.core.pcm.mapper.PcmBdsqdmxMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SGQMGR_PCMBDSQDMX_PCMBDSQDMXID] -->
	 <select id="selectByPcmbdsqdmxid" resultMap="PcmPcmSgqMgrResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pcmbdsqdmxid=#{pcmbdsqdmxid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SGQMGR_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="PcmPcmSgqMgrResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pcm.filter.PcmPcmSgqMgrSearchContext"  resultMap="PcmPcmSgqMgrResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`JSSJ`, t1.`KSSJ`, t1.`PCMBDSQDMXID`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`SFTGSH`, t1.`SGQMGRID`, t1.`SGQMGRNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YGBH` FROM `T_SGQMGR` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`JSSJ`, t1.`KSSJ`, t1.`PCMBDSQDMXID`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`SFTGSH`, t1.`SGQMGRID`, t1.`SGQMGRNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YGBH` FROM `T_SGQMGR` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  
			]]>
    </sql>
</mapper>

