<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmSignOrgMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmSignOrgResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORGCODE`, t1.`ORMSIGNORGID`, t1.`ORMSIGNORGNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZZJC` FROM `T_ORMSIGNORG` t1  ) t1 where ormsignorgid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmSignOrgResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmSignOrg" autoMapping="true">
        <id property="ormsignorgid" column="ormsignorgid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[HTQDDW]-->
	 <select id="searchHTQDDW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmSignOrgSearchContext"  resultMap="OrmSignOrgResultMap">
         select t1.* from (
                <include refid="HTQDDW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmSignOrgSearchContext"  resultMap="OrmSignOrgResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CKBDWDFRZT]-->
	 <select id="searchCKBDWDFRZT"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmSignOrgSearchContext"  resultMap="OrmSignOrgResultMap">
         select t1.* from (
                <include refid="CKBDWDFRZT" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CKBDWDFRZT]-->
    <sql id="CKBDWDFRZT" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORGCODE`, t1.`ORMSIGNORGID`, t1.`ORMSIGNORGNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZZJC` FROM `T_ORMSIGNORG` t1  
				 WHERE 	( ( exists( select * from T_CONTRACTSIGNORG t2 where t2.enable = 1 and t2.ormsignorgid=t1.ormsignorgid  and  t2.ormorgid  in ( select t.companyflag from t_srforg t where t.orgid in ( select ormorgid from t_pimperson where jlss='10' and pimpersonid = #{srf.datacontext.pimpersonid} ) ) )  OR  'ibzadmin' = ( select t.loginaccountname from t_srfloginaccount t where t.loginaccountid  =  #{srf.sessioncontext.srfpersonid} ) ) )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORGCODE`, t1.`ORMSIGNORGID`, t1.`ORMSIGNORGNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZZJC` FROM `T_ORMSIGNORG` t1  
			]]>
    </sql>
    <!--数据查询[HTQDDW]-->
    <sql id="HTQDDW" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORGCODE`, t1.`ORMSIGNORGID`, t1.`ORMSIGNORGNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZZJC` FROM `T_ORMSIGNORG` t1  
				 WHERE 	( ( exists( select * from T_CONTRACTSIGNORG t2 where  t2.enable=1 and t2.ormsignorgid=t1.ormsignorgid  and  t2.ormorgid in (select companyflag from v_ormorg a where a.orgid = #{srf.datacontext.ormorgid}) ) ) )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORGCODE`, t1.`ORMSIGNORGID`, t1.`ORMSIGNORGNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZZJC` FROM `T_ORMSIGNORG` t1  
			]]>
    </sql>
</mapper>

