<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.SystemMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SystemResultMap" type="cn.ibizlab.ehr.core.common.domain.System" autoMapping="true">
        <id property="systemid" column="systemid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.SystemSearchContext"  resultMap="SystemResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.AURLOGINADDR, t1.AURLOGOUTADDR, t1.BIGICON, t1.CREATEDATE, t1.CREATEMAN, t1.FUNLIC, t1.SERVICE, t1.SYSTEMADDR, t1.SYSTEMFUN, t1.SYSTEMID, t1.SYSTEMNAME, t1.SYSTEMTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFSYSTEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`AURLOGINADDR`, t1.`AURLOGOUTADDR`, t1.`BIGICON`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FUNLIC`, t1.`SERVICE`, t1.`SYSTEMADDR`, t1.`SYSTEMFUN`, t1.`SYSTEMID`, t1.`SYSTEMNAME`, t1.`SYSTEMTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SYSTEM` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.AURLOGINADDR, t1.AURLOGOUTADDR, t1.BIGICON, t1.CREATEDATE, t1.CREATEMAN, t1.FUNLIC, t1.SERVICE, t1.SYSTEMADDR, t1.SYSTEMFUN, t1.SYSTEMID, t1.SYSTEMNAME, t1.SYSTEMTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SYSTEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.AURLOGINADDR AS AURLOGINADDR, t1.AURLOGOUTADDR AS AURLOGOUTADDR, t1.BIGICON AS BIGICON, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FUNLIC AS FUNLIC, t1.SERVICE AS SERVICE, t1.SYSTEMADDR AS SYSTEMADDR, t1.SYSTEMFUN AS SYSTEMFUN, t1.SYSTEMID AS SYSTEMID, t1.SYSTEMNAME AS SYSTEMNAME, t1.SYSTEMTYPE AS SYSTEMTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFSYSTEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.AURLOGINADDR AS AURLOGINADDR, t1.AURLOGOUTADDR AS AURLOGOUTADDR, t1.BIGICON AS BIGICON, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FUNLIC AS FUNLIC, t1.SERVICE AS SERVICE, t1.SYSTEMADDR AS SYSTEMADDR, t1.SYSTEMFUN AS SYSTEMFUN, t1.SYSTEMID AS SYSTEMID, t1.SYSTEMNAME AS SYSTEMNAME, t1.SYSTEMTYPE AS SYSTEMTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFSYSTEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[AURLOGINADDR], t1.[AURLOGOUTADDR], t1.[BIGICON], t1.[CREATEDATE], t1.[CREATEMAN], t1.[FUNLIC], t1.[SERVICE], t1.[SYSTEMADDR], t1.[SYSTEMFUN], t1.[SYSTEMID], t1.[SYSTEMNAME], t1.[SYSTEMTYPE], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFSYSTEM] t1  
			]]>
    </sql>

</mapper>

