<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.PortalPageMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="db2">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="mysql">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="oracle">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="postgresql">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="ppas">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PortalPageResultMap" databaseId="sqlserver">
        <![CDATA[select * from v_portalpage t1     where  portalpageid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PortalPageResultMap" type="cn.ibizlab.ehr.core.common.domain.PortalPage" autoMapping="true">
        <id property="portalpageid" column="portalpageid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.PortalPageSearchContext"  resultMap="PortalPageResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLECTX, t1.MEMO, t1.PORTALPAGEID, t1.PORTALPAGEMEMO, t1.PORTALPAGENAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPORTALPAGE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLECTX`, t1.`MEMO`, t1.`PORTALPAGEID`, t1.`PORTALPAGEMEMO`, t1.`PORTALPAGENAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SRFPORTALPAGE` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLECTX, t1.MEMO, t1.PORTALPAGEID, t1.PORTALPAGEMEMO, t1.PORTALPAGENAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPORTALPAGE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ENABLECTX AS ENABLECTX, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t1.PORTALPAGEMEMO AS PORTALPAGEMEMO, t1.PORTALPAGENAME AS PORTALPAGENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPORTALPAGE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ENABLECTX AS ENABLECTX, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t1.PORTALPAGEMEMO AS PORTALPAGEMEMO, t1.PORTALPAGENAME AS PORTALPAGENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPORTALPAGE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[ENABLECTX], t1.[MEMO], t1.[PORTALPAGEID], t1.[PORTALPAGEMEMO], t1.[PORTALPAGENAME], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFPORTALPAGE] t1  
			]]>
    </sql>

</mapper>

