<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmXmxqhzMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmXmxqhzResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GW`, t1.`ND`, t1.`ORGID`, t1.`ORMXMXQHZID`, t1.`ORMXMXQHZNAME`, t1.`RS`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`XM`, t1.`XMID`, t1.`YF`, t1.`ZZ` FROM `T_ORMXMXQHZ` t1  ) t1 where ormxmxqhzid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmXmxqhzResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmXmxqhz" autoMapping="true">
        <id property="ormxmxqhzid" column="ormxmxqhzid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[XMRYQKMX]-->
	 <select id="searchXMRYQKMX"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmXmxqhzSearchContext"  resultMap="OrmXmxqhzResultMap">
         select t1.* from (
                <include refid="XMRYQKMX" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmXmxqhzSearchContext"  resultMap="OrmXmxqhzResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GW`, t1.`ND`, t1.`ORGID`, t1.`ORMXMXQHZID`, t1.`ORMXMXQHZNAME`, t1.`RS`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`XM`, t1.`XMID`, t1.`YF`, t1.`ZZ` FROM `T_ORMXMXQHZ` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GW`, t1.`ND`, t1.`ORGID`, t1.`ORMXMXQHZID`, t1.`ORMXMXQHZNAME`, t1.`RS`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`XM`, t1.`XMID`, t1.`YF`, t1.`ZZ` FROM `T_ORMXMXQHZ` t1  
			]]>
    </sql>
    <!--数据查询[XMRYQKMX]-->
    <sql id="XMRYQKMX" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`GW`, t1.`ND`, t1.`ORGID`, t1.`ORMXMXQHZID`, t1.`ORMXMXQHZNAME`, t1.`RS`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`XM`, t1.`XMID`, t1.`YF`, t1.`ZZ` FROM `T_ORMXMXQHZ` t1  
				 WHERE 	( t1.`XM` <> '0'  AND  t1.`GW` =  #{srf.webcontext.gw}  AND  t1.`ND` =  #{srf.webcontext.nd}  AND  ( t1.`ORGID` =  #{srf.webcontext.orgid}  OR  instr((select b.levelcode from t_srforg b where b.orgid = t1.orgid), ( select a.levelcode from t_srforg a where a.orgid = #{srf.webcontext.orgid} ) )=1 ) )
			]]>
    </sql>
</mapper>

