<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.att.mapper.AttEndanceMreportMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="AttEndanceMreportResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  ) t1 where attendancemreportid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="AttEndanceMreportResultMap" type="cn.ibizlab.ehr.core.att.domain.AttEndanceMreport" autoMapping="true">
        <id property="attendancemreportid" column="attendancemreportid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
		<result property="attendencesetupid" column="attendencesetupid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="attendencesetup" javaType="cn.ibizlab.ehr.core.att.domain.AttEndenceSetup" column="attendencesetupid" select="cn.ibizlab.ehr.core.att.mapper.AttEndenceSetupMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDANCEMREPORT_ATTENDENCESETUP_ATTENDENCESETUPID] -->
	 <select id="selectByAttendencesetupid" resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  attendencesetupid=#{attendencesetupid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDANCEMREPORT_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>

    <!--数据集合[KQYBDY]-->
	 <select id="searchKQYBDY"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndanceMreportSearchContext"  resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="KQYBDY" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndanceMreportSearchContext"  resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[KQYCZKQYB]-->
	 <select id="searchKQYCZKQYB"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndanceMreportSearchContext"  resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="KQYCZKQYB" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurORMORGKQYB]-->
	 <select id="searchCurORMORGKQYB"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndanceMreportSearchContext"  resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="CurORMORGKQYB" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurORMORGSECTORKQYB]-->
	 <select id="searchCurORMORGSECTORKQYB"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndanceMreportSearchContext"  resultMap="AttEndanceMreportResultMap">
         select t1.* from (
                <include refid="CurORMORGSECTORKQYB" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurORMORGKQYB]-->
    <sql id="CurORMORGKQYB" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
					 AND ( ( t1.`ORMORGID` =  #{srf.webcontext.nodeid}  OR  EXISTS (select orgid from T_SRFORG where ORGCODE='BG' and orgid=  #{srf.webcontext.nodeid})  OR  t1.ORMORGID IN (select orgid from T_SRFORG where  COMPANYFLAG= #{srf.webcontext.nodeid})  OR  t1.ORMORGID IN (select orgid from T_SRFORG where  porgid= #{srf.webcontext.nodeid}) ) )
			]]>
    </sql>
    <!--数据查询[CurORMORGSECTORKQYB]-->
    <sql id="CurORMORGSECTORKQYB" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[KQYBDY]-->
    <sql id="KQYBDY" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[KQYCZKQYB]-->
    <sql id="KQYCZKQYB" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
					 AND ( t21.`PIMPERSONID` =  #{srf.sessioncontext.srfpersonid} )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[WQRDYB]-->
    <sql id="WQRDYB" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCEMREPORTID`, t1.`ATTENDANCEMREPORTNAME`, t1.`ATTENDENCESETUPID`, t21.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ZZDZS` AS `ORMORGNAME`, t21.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YF`, t1.`ZT` FROM `T_ATTENDANCEMREPORT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_ATTENDENCESETUP t21 ON t1.ATTENDENCESETUPID = t21.ATTENDENCESETUPID  LEFT JOIN T_PIMPERSON t31 ON t21.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
					 AND ( t1.`ZT` <> '20' )
			]]>
    </sql>
</mapper>

