<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.sal.mapper.SalPersonStdMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SalPersonStdResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BEGINTIME`, t1.`CHANGEREASON`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ENDTIME`, t1.`MEMO`, t1.`ORMDUTYID`, t51.`ORMDUTYNAME`, t1.`ORMORGID`, t41.`ORGNAME` AS `ORMORGNAME`, t1.`ORMORGSECTORID`, t21.`ORGSECTORNAME` AS `ORMORGSECTORNAME`, t1.`ORMPOSTID`, t11.`ORMPOSTNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`SALPERSONSTDID`, t1.`SALPERSONSTDNAME`, t1.`SALTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALPERSONSTD` t1  LEFT JOIN T_ORMPOST t11 ON t1.ORMPOSTID = t11.ORMPOSTID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMORGSECTORID = t21.ORGSECTORID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  LEFT JOIN T_SRFORG t41 ON t1.ORMORGID = t41.ORGID  LEFT JOIN T_ORMDUTY t51 ON t1.ORMDUTYID = t51.ORMDUTYID  ) t1 where salpersonstdid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SalPersonStdResultMap" type="cn.ibizlab.ehr.core.sal.domain.SalPersonStd" autoMapping="true">
        <id property="salpersonstdid" column="salpersonstdid" /><!--主键字段映射-->
		<result property="pimpersonid" column="pimpersonid" />
		<result property="ormdutyid" column="ormdutyid" />
		<result property="ormpostid" column="ormpostid" />
		<result property="ormorgid" column="ormorgid" />
		<result property="ormorgsectorid" column="ormorgsectorid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormduty" javaType="cn.ibizlab.ehr.core.orm.domain.OrmDuty" column="ormdutyid" select="cn.ibizlab.ehr.core.orm.mapper.OrmDutyMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorgsector" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrgsector" column="ormorgsectorid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgsectorMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormpost" javaType="cn.ibizlab.ehr.core.orm.domain.OrmPost" column="ormpostid" select="cn.ibizlab.ehr.core.orm.mapper.OrmPostMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALPERSONSTD_ORMDUTY_ORMDUTYID] -->
	 <select id="selectByOrmdutyid" resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormdutyid=#{ormdutyid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALPERSONSTD_ORMORGSECTOR_ORMORGSECTORID] -->
	 <select id="selectByOrmorgsectorid" resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgsectorid=#{orgsectorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALPERSONSTD_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALPERSONSTD_ORMPOST_ORMPOSTID] -->
	 <select id="selectByOrmpostid" resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormpostid=#{ormpostid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALPERSONSTD_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.sal.filter.SalPersonStdSearchContext"  resultMap="SalPersonStdResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BEGINTIME`, t1.`CHANGEREASON`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ENDTIME`, t1.`MEMO`, t1.`ORMDUTYID`, t51.`ORMDUTYNAME`, t1.`ORMORGID`, t41.`ORGNAME` AS `ORMORGNAME`, t1.`ORMORGSECTORID`, t21.`ORGSECTORNAME` AS `ORMORGSECTORNAME`, t1.`ORMPOSTID`, t11.`ORMPOSTNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`SALPERSONSTDID`, t1.`SALPERSONSTDNAME`, t1.`SALTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALPERSONSTD` t1  LEFT JOIN T_ORMPOST t11 ON t1.ORMPOSTID = t11.ORMPOSTID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMORGSECTORID = t21.ORGSECTORID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  LEFT JOIN T_SRFORG t41 ON t1.ORMORGID = t41.ORGID  LEFT JOIN T_ORMDUTY t51 ON t1.ORMDUTYID = t51.ORMDUTYID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BEGINTIME`, t1.`CHANGEREASON`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ENDTIME`, t1.`MEMO`, t1.`ORMDUTYID`, t51.`ORMDUTYNAME`, t1.`ORMORGID`, t41.`ORGNAME` AS `ORMORGNAME`, t1.`ORMORGSECTORID`, t21.`ORGSECTORNAME` AS `ORMORGSECTORNAME`, t1.`ORMPOSTID`, t11.`ORMPOSTNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`SALPERSONSTDID`, t1.`SALPERSONSTDNAME`, t1.`SALTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALPERSONSTD` t1  LEFT JOIN T_ORMPOST t11 ON t1.ORMPOSTID = t11.ORMPOSTID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMORGSECTORID = t21.ORGSECTORID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  LEFT JOIN T_SRFORG t41 ON t1.ORMORGID = t41.ORGID  LEFT JOIN T_ORMDUTY t51 ON t1.ORMDUTYID = t51.ORMDUTYID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

