<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFTmpStepActorMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFTmpStepActorResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFTmpStepActor" autoMapping="true">
        <id property="wftmpstepactorid" column="wftmpstepactorid" /><!--主键字段映射-->
		<result property="prevwfstepid" column="prevwfstepid" />
		<result property="wfactorid" column="wfactorid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfactor" javaType="cn.ibizlab.ehr.core.wf.domain.WFActor" column="wfactorid" select="cn.ibizlab.ehr.core.wf.mapper.WFActorMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfstep" javaType="cn.ibizlab.ehr.core.wf.domain.WFStep" column="prevwfstepid" select="cn.ibizlab.ehr.core.wf.mapper.WFStepMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFTMPSTEPACTOR_WFACTOR_WFACTORID] -->
	 <select id="selectByWfactorid" resultMap="WFTmpStepActorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfactorid=#{wfactorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFTMPSTEPACTOR_WFSTEP_PREVWFSTEPID] -->
	 <select id="selectByPrevwfstepid" resultMap="WFTmpStepActorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  prevwfstepid=#{wfstepid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFTmpStepActorSearchContext"  resultMap="WFTmpStepActorResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CONNECTION, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.PREVPROCESS, t1.PREVWFSTEPID, t1.PREVWFSTEPNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFACTORID, t1.WFACTORNAME, t1.WFTMPSTEPACTORID, t1.WFTMPSTEPACTORNAME FROM T_SRFWFTMPSTEPACTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CONNECTION`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t1.`PREVPROCESS`, t1.`PREVWFSTEPID`, t1.`PREVWFSTEPNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WFACTORID`, t1.`WFACTORNAME`, t1.`WFTMPSTEPACTORID`, t1.`WFTMPSTEPACTORNAME` FROM `T_SRFWFTMPSTEPACTOR` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CONNECTION, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.PREVPROCESS, t1.PREVWFSTEPID, t1.PREVWFSTEPNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFACTORID, t1.WFACTORNAME, t1.WFTMPSTEPACTORID, t1.WFTMPSTEPACTORNAME FROM T_SRFWFTMPSTEPACTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CONNECTION AS CONNECTION, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.MEMO AS MEMO, t1.PREVPROCESS AS PREVPROCESS, t1.PREVWFSTEPID AS PREVWFSTEPID, t1.PREVWFSTEPNAME AS PREVWFSTEPNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFACTORID AS WFACTORID, t1.WFACTORNAME AS WFACTORNAME, t1.WFTMPSTEPACTORID AS WFTMPSTEPACTORID, t1.WFTMPSTEPACTORNAME AS WFTMPSTEPACTORNAME FROM T_SRFWFTMPSTEPACTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CONNECTION AS CONNECTION, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.MEMO AS MEMO, t1.PREVPROCESS AS PREVPROCESS, t1.PREVWFSTEPID AS PREVWFSTEPID, t1.PREVWFSTEPNAME AS PREVWFSTEPNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFACTORID AS WFACTORID, t1.WFACTORNAME AS WFACTORNAME, t1.WFTMPSTEPACTORID AS WFTMPSTEPACTORID, t1.WFTMPSTEPACTORNAME AS WFTMPSTEPACTORNAME FROM T_SRFWFTMPSTEPACTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CONNECTION], t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t1.[PREVPROCESS], t1.[PREVWFSTEPID], t1.[PREVWFSTEPNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WFACTORID], t1.[WFACTORNAME], t1.[WFTMPSTEPACTORID], t1.[WFTMPSTEPACTORNAME] FROM [T_SRFWFTMPSTEPACTOR] t1  
			]]>
    </sql>

</mapper>

