.app-org-voc-num-list {
    height: 100%;
    width: 100%;
    .title{
      padding: 0 0 14px;
      display: -webkit-box;
      display: flex;
      height: 39px;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      line-height: 22px;
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #304265;
      font-weight: 600;
    }
    .el-table td, .el-table th{
      padding: 5px 0;
    }
    .cell{
      width: 100%;
    }
    .column-countnum{
      text-align: center;
    }
}