<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmErporgMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmErporgResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT (substr(t1.`ORGCODE`,1,3)) AS `ADMCODING`, (select ormerporgname from t_ormerporg t where t.ormerporgid=t1.`OUID`) AS `BELONGOU`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATEFROM`, t1.`DATETO`, t1.`ISENABLE`, t1.`LASTUPDATEDATE`, t1.`NUMCOMP`, t1.`ORDERNUM`, t1.`ORGADDRESSLINE1`, t1.`ORGADDRESSLINE2`, t1.`ORGADDRESSLINE3`, t1.`ORGCODE`, t1.`ORGCREATEDATE`, t1.`ORGSHORTNAME`, t1.`ORGTYPE`, t1.`ORGTYPENAME`, t1.`ORGZIPCODE`, t1.`ORMERPORGID`, t1.`ORMERPORGNAME`, t1.`OUCODE`, t1.`OUID`, t1.`PARENTORGID`, t1.`TOWNCITY`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYFLAG` FROM `T_ORMERPORG` t1  ) t1 where ormerporgid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmErporgResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmErporg" autoMapping="true">
        <id property="ormerporgid" column="ormerporgid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[CXBM]-->
	 <select id="searchCXBM"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmErporgSearchContext"  resultMap="OrmErporgResultMap">
         select t1.* from (
                <include refid="CXBM" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[LegalChoice]-->
	 <select id="searchLegalChoice"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmErporgSearchContext"  resultMap="OrmErporgResultMap">
         select t1.* from (
                <include refid="LegalChoice" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmErporgSearchContext"  resultMap="OrmErporgResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CX]-->
	 <select id="searchCX"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmErporgSearchContext"  resultMap="OrmErporgResultMap">
         select t1.* from (
                <include refid="CX" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CXZBM]-->
	 <select id="searchCXZBM"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmErporgSearchContext"  resultMap="OrmErporgResultMap">
         select t1.* from (
                <include refid="CXZBM" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurFQXJBM]-->
    <sql id="CurFQXJBM" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[CurFQXJZBM]-->
    <sql id="CurFQXJZBM" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[CurFQXJZZ]-->
    <sql id="CurFQXJZZ" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[CX]-->
    <sql id="CX" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[CXBM]-->
    <sql id="CXBM" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[CXZBM]-->
    <sql id="CXZBM" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT (substr(t1.`ORGCODE`,1,3)) AS `ADMCODING`, (select ormerporgname from t_ormerporg t where t.ormerporgid=t1.`OUID`) AS `BELONGOU`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATEFROM`, t1.`DATETO`, t1.`ISENABLE`, t1.`LASTUPDATEDATE`, t1.`NUMCOMP`, t1.`ORDERNUM`, t1.`ORGADDRESSLINE1`, t1.`ORGADDRESSLINE2`, t1.`ORGADDRESSLINE3`, t1.`ORGCODE`, t1.`ORGCREATEDATE`, t1.`ORGSHORTNAME`, t1.`ORGTYPE`, t1.`ORGTYPENAME`, t1.`ORGZIPCODE`, t1.`ORMERPORGID`, t1.`ORMERPORGNAME`, t1.`OUCODE`, t1.`OUID`, t1.`PARENTORGID`, t1.`TOWNCITY`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYFLAG` FROM `T_ORMERPORG` t1  
			]]>
    </sql>
    <!--数据查询[LegalChoice]-->
    <sql id="LegalChoice" databaseId="mysql">
       <![CDATA[	SELECT (substr(t1.`ORGCODE`,1,3)) AS `ADMCODING`, (select ormerporgname from t_ormerporg t where t.ormerporgid=t1.`OUID`) AS `BELONGOU`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATEFROM`, t1.`DATETO`, t1.`ISENABLE`, t1.`LASTUPDATEDATE`, t1.`NUMCOMP`, t1.`ORDERNUM`, t1.`ORGADDRESSLINE1`, t1.`ORGADDRESSLINE2`, t1.`ORGADDRESSLINE3`, t1.`ORGCODE`, t1.`ORGCREATEDATE`, t1.`ORGSHORTNAME`, t1.`ORGTYPE`, t1.`ORGTYPENAME`, t1.`ORGZIPCODE`, t1.`ORMERPORGID`, t1.`ORMERPORGNAME`, t1.`OUCODE`, t1.`OUID`, t1.`PARENTORGID`, t1.`TOWNCITY`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYFLAG` FROM `T_ORMERPORG` t1  
				 WHERE 	( ( t1.orgtype  in  ('CCEED1','CCEED2','CCEED3','CCEED4','CCEED5','CCEED6','CCEED9') )  AND  ( ( length(  #{srf.datacontext.orgcode} ) = 3   and   length( t1.orgcode ) =3 )  OR  ( length(  #{srf.datacontext.orgcode} )  > 3   and  ( substr(t1.ORGCODE,1,3) )  in  (select  t.orgcode from t_ormrelation  t  where t.magunitid = #{srf.datacontext.porgid} ) ) ) )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT (substr(t1.`ORGCODE`,1,3)) AS `ADMCODING`, (select ormerporgname from t_ormerporg t where t.ormerporgid=t1.`OUID`) AS `BELONGOU`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATEFROM`, t1.`DATETO`, t1.`ISENABLE`, t1.`LASTUPDATEDATE`, t1.`NUMCOMP`, t1.`ORDERNUM`, t1.`ORGADDRESSLINE1`, t1.`ORGADDRESSLINE2`, t1.`ORGADDRESSLINE3`, t1.`ORGCODE`, t1.`ORGCREATEDATE`, t1.`ORGSHORTNAME`, t1.`ORGTYPE`, t1.`ORGTYPENAME`, t1.`ORGZIPCODE`, t1.`ORMERPORGID`, t1.`ORMERPORGNAME`, t1.`OUCODE`, t1.`OUID`, t1.`PARENTORGID`, t1.`TOWNCITY`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYFLAG` FROM `T_ORMERPORG` t1  
			]]>
    </sql>
</mapper>

