<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pim.mapper.PimOutputMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PimOutputResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t11.`ORGCODE`, t1.`ORMORGID`, t11.`SHORTNAME` AS `ORMORGNAME`, t1.`OUTPUT`, t1.`PIMOUTPUTID`, t1.`PIMOUTPUTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YD`, t11.`ZZDZS` AS `ZZXS` FROM `T_PIMOUTPUT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  ) t1 where pimoutputid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PimOutputResultMap" type="cn.ibizlab.ehr.core.pim.domain.PimOutput" autoMapping="true">
        <id property="pimoutputid" column="pimoutputid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMOUTPUT_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="PimOutputResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>

    <!--数据集合[CurOrg]-->
	 <select id="searchCurOrg"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimOutputSearchContext"  resultMap="PimOutputResultMap">
         select t1.* from (
                <include refid="CurOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimOutputSearchContext"  resultMap="PimOutputResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[REP_OUTPUT]-->
	 <select id="searchREP_OUTPUT"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimOutputSearchContext"  resultType="java.util.HashMap">
	 	select outdate as "outdate",outnum as "outnum" from (
         select t1.* from (
                <include refid="REP_OUTPUT" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 ) groupinfo
		 group by outdate,outnum
     </select>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t11.`ORGCODE`, t1.`ORMORGID`, t11.`SHORTNAME` AS `ORMORGNAME`, t1.`OUTPUT`, t1.`PIMOUTPUTID`, t1.`PIMOUTPUTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YD`, t11.`ZZDZS` AS `ZZXS` FROM `T_PIMOUTPUT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( ( ((length(t1.orgcode) = 3) and ((select a.orgcode from t_srforg a where a.orgid = #{srf.sessioncontext.srforgid})  in  ('100','BG')))   or ((length(t1.orgcode) = 5) and ((select a.orgcode from t_srforg a where a.orgid = #{srf.sessioncontext.srforgid})  not in  ('100','BG')  and a.orgcode = substr(t1.orgcode,1,3))) ) )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t11.`ORGCODE`, t1.`ORMORGID`, t11.`SHORTNAME` AS `ORMORGNAME`, t1.`OUTPUT`, t1.`PIMOUTPUTID`, t1.`PIMOUTPUTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YD`, t11.`ZZDZS` AS `ZZXS` FROM `T_PIMOUTPUT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[REP_OUTPUT]-->
    <sql id="REP_OUTPUT" databaseId="mysql">
       <![CDATA[	select outdate ,output/10000 as outnum from BIS_PIMOUTPUT_T t  where  timestampdiff(month,outdate,sysdate())>0 and timestampdiff(month,outdate,sysdate())<=12
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ND`, t11.`ORGCODE`, t1.`ORMORGID`, t11.`SHORTNAME` AS `ORMORGNAME`, t1.`OUTPUT`, t1.`PIMOUTPUTID`, t1.`PIMOUTPUTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YD`, t11.`ZZDZS` AS `ZZXS` FROM `T_PIMOUTPUT` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

