<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pcm.mapper.PCMGxxkTempMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PCMGxxkTempResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`ND`, t21.`ND` AS `ND2`, t1.`PCMGXMLID`, t11.`PCMGXMLNAME`, t1.`PCMGXXKTEMPID`, t1.`PCMGXXKTEMPNAME`, t1.`PCMXKMLID`, t21.`PCMXKMLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PCMGXXKTEMP` t1  LEFT JOIN T_PCMGXML t11 ON t1.PCMGXMLID = t11.PCMGXMLID  LEFT JOIN T_PCMXKML t21 ON t1.PCMXKMLID = t21.PCMXKMLID  ) t1 where pcmgxxktempid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PCMGxxkTempResultMap" type="cn.ibizlab.ehr.core.pcm.domain.PCMGxxkTemp" autoMapping="true">
        <id property="pcmgxxktempid" column="pcmgxxktempid" /><!--主键字段映射-->
		<result property="pcmxkmlid" column="pcmxkmlid" />
		<result property="pcmgxmlid" column="pcmgxmlid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pcmgxml" javaType="cn.ibizlab.ehr.core.pcm.domain.PcmGxml" column="pcmgxmlid" select="cn.ibizlab.ehr.core.pcm.mapper.PcmGxmlMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pcmxkml" javaType="cn.ibizlab.ehr.core.pcm.domain.PcmXkml" column="pcmxkmlid" select="cn.ibizlab.ehr.core.pcm.mapper.PcmXkmlMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PCMGXXKTEMP_PCMGXML_PCMGXMLID] -->
	 <select id="selectByPcmgxmlid" resultMap="PCMGxxkTempResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pcmgxmlid=#{pcmgxmlid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PCMGXXKTEMP_PCMXKML_PCMXKMLID] -->
	 <select id="selectByPcmxkmlid" resultMap="PCMGxxkTempResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pcmxkmlid=#{pcmxkmlid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pcm.filter.PCMGxxkTempSearchContext"  resultMap="PCMGxxkTempResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`ND`, t21.`ND` AS `ND2`, t1.`PCMGXMLID`, t11.`PCMGXMLNAME`, t1.`PCMGXXKTEMPID`, t1.`PCMGXXKTEMPNAME`, t1.`PCMXKMLID`, t21.`PCMXKMLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PCMGXXKTEMP` t1  LEFT JOIN T_PCMGXML t11 ON t1.PCMGXMLID = t11.PCMGXMLID  LEFT JOIN T_PCMXKML t21 ON t1.PCMXKMLID = t21.PCMXKMLID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`ND`, t21.`ND` AS `ND2`, t1.`PCMGXMLID`, t11.`PCMGXMLNAME`, t1.`PCMGXXKTEMPID`, t1.`PCMGXXKTEMPNAME`, t1.`PCMXKMLID`, t21.`PCMXKMLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PCMGXXKTEMP` t1  LEFT JOIN T_PCMGXML t11 ON t1.PCMGXMLID = t11.PCMGXMLID  LEFT JOIN T_PCMXKML t21 ON t1.PCMXKMLID = t21.PCMXKMLID  
			]]>
    </sql>
</mapper>

