<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.DataSyncAgentMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DataSyncAgentResultMap" type="cn.ibizlab.ehr.core.common.domain.DataSyncAgent" autoMapping="true">
        <id property="datasyncagentid" column="datasyncagentid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.DataSyncAgentSearchContext"  resultMap="DataSyncAgentResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.AGENTTYPE, t1.CLIENTID, t1.CREATEDATE, t1.CREATEMAN, t1.DATASYNCAGENTID, t1.DATASYNCAGENTNAME, t1.ENABLE, t1.MEMO, t1.PWD, t1.SERVERPATH, t1.SERVICENAME, t1.SYNCDIR, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERNAME FROM T_SRFDATASYNCAGENT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`AGENTTYPE`, t1.`CLIENTID`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATASYNCAGENTID`, t1.`DATASYNCAGENTNAME`, t1.`ENABLE`, t1.`MEMO`, t1.`PWD`, t1.`SERVERPATH`, t1.`SERVICENAME`, t1.`SYNCDIR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERNAME` FROM `T_DATASYNCAGENT` t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.AGENTTYPE, t1.CLIENTID, t1.CREATEDATE, t1.CREATEMAN, t1.DATASYNCAGENTID, t1.DATASYNCAGENTNAME, t1.ENABLE, t1.MEMO, t1.PWD, t1.SERVERPATH, t1.SERVICENAME, t1.SYNCDIR, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERNAME FROM T_DATASYNCAGENT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.AGENTTYPE AS AGENTTYPE, t1.CLIENTID AS CLIENTID, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DATASYNCAGENTID AS DATASYNCAGENTID, t1.DATASYNCAGENTNAME AS DATASYNCAGENTNAME, t1.ENABLE AS ENABLE, t1.MEMO AS MEMO, t1.PWD AS PWD, t1.SERVERPATH AS SERVERPATH, t1.SERVICENAME AS SERVICENAME, t1.SYNCDIR AS SYNCDIR, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERNAME AS USERNAME FROM T_SRFDATASYNCAGENT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.AGENTTYPE AS AGENTTYPE, t1.CLIENTID AS CLIENTID, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DATASYNCAGENTID AS DATASYNCAGENTID, t1.DATASYNCAGENTNAME AS DATASYNCAGENTNAME, t1.ENABLE AS ENABLE, t1.MEMO AS MEMO, t1.PWD AS PWD, t1.SERVERPATH AS SERVERPATH, t1.SERVICENAME AS SERVICENAME, t1.SYNCDIR AS SYNCDIR, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERNAME AS USERNAME FROM T_SRFDATASYNCAGENT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[AGENTTYPE], t1.[CLIENTID], t1.[CREATEDATE], t1.[CREATEMAN], t1.[DATASYNCAGENTID], t1.[DATASYNCAGENTNAME], t1.[ENABLE], t1.[MEMO], t1.[PWD], t1.[SERVERPATH], t1.[SERVICENAME], t1.[SYNCDIR], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERNAME] FROM [T_SRFDATASYNCAGENT] t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

</mapper>

