<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmDepEstManMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmDepEstManResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NUMCOMPILATION`, t1.`ORMDEPESTMANID`, t1.`ORMDEPESTMANNAME`, t1.`ORMDUTYID`, t11.`ORMDUTYNAME`, t1.`ORMZWBZID`, t21.`ORGSECTORNAME` AS `ORMZWBZMC`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`ZWZZSM` FROM `T_ORMDEPESTMAN` t1  LEFT JOIN T_ORMDUTY t11 ON t1.ORMDUTYID = t11.ORMDUTYID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMZWBZID = t21.ORGSECTORID  ) t1 where ormdepestmanid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmDepEstManResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmDepEstMan" autoMapping="true">
        <id property="ormdepestmanid" column="ormdepestmanid" /><!--主键字段映射-->
		<result property="ormzwbzid" column="ormzwbzid" />
		<result property="ormdutyid" column="ormdutyid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormduty" javaType="cn.ibizlab.ehr.core.orm.domain.OrmDuty" column="ormdutyid" select="cn.ibizlab.ehr.core.orm.mapper.OrmDutyMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormzwbz" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrgsector" column="ormzwbzid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgsectorMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMDEPESTMAN_ORMDUTY_ORMDUTYID] -->
	 <select id="selectByOrmdutyid" resultMap="OrmDepEstManResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormdutyid=#{ormdutyid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMDEPESTMAN_ORMORGSECTOR_ORMZWBZID] -->
	 <select id="selectByOrmzwbzid" resultMap="OrmDepEstManResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormzwbzid=#{orgsectorid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmDepEstManSearchContext"  resultMap="OrmDepEstManResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NUMCOMPILATION`, t1.`ORMDEPESTMANID`, t1.`ORMDEPESTMANNAME`, t1.`ORMDUTYID`, t11.`ORMDUTYNAME`, t1.`ORMZWBZID`, t21.`ORGSECTORNAME` AS `ORMZWBZMC`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`ZWZZSM` FROM `T_ORMDEPESTMAN` t1  LEFT JOIN T_ORMDUTY t11 ON t1.ORMDUTYID = t11.ORMDUTYID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMZWBZID = t21.ORGSECTORID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NUMCOMPILATION`, t1.`ORMDEPESTMANID`, t1.`ORMDEPESTMANNAME`, t1.`ORMDUTYID`, t11.`ORMDUTYNAME`, t1.`ORMZWBZID`, t21.`ORGSECTORNAME` AS `ORMZWBZMC`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH`, t1.`ZWZZSM` FROM `T_ORMDEPESTMAN` t1  LEFT JOIN T_ORMDUTY t11 ON t1.ORMDUTYID = t11.ORMDUTYID  LEFT JOIN T_SRFORGSECTOR t21 ON t1.ORMZWBZID = t21.ORGSECTORID  
			]]>
    </sql>
</mapper>

