<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pim.mapper.PimArchivesCenterMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PimArchivesCenterResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ARCHIVESCENTERID`, t1.`ARCHIVESCENTERNAME`, t1.`BNUMBER`, t1.`CABINETNO`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`LAYERNO`, t1.`MEMO`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, concat(t1.`ARCHIVESCENTERNAME`,t1.`CABINETNO`,(case when t1.`LAYERNO`='10' then '上层'  when t1.`LAYERNO`='20' then '中层' when t1.`LAYERNO`='30' then '下层' else ' ' end),t1.`BNUMBER`) AS `POSITION`, t1.`SERIALNO`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ARCHIVESCENTER` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  ) t1 where archivescenterid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PimArchivesCenterResultMap" type="cn.ibizlab.ehr.core.pim.domain.PimArchivesCenter" autoMapping="true">
        <id property="archivescenterid" column="archivescenterid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ARCHIVESCENTER_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="PimArchivesCenterResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimArchivesCenterSearchContext"  resultMap="PimArchivesCenterResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ARCHIVESCENTERID`, t1.`ARCHIVESCENTERNAME`, t1.`BNUMBER`, t1.`CABINETNO`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`LAYERNO`, t1.`MEMO`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, concat(t1.`ARCHIVESCENTERNAME`,t1.`CABINETNO`,(case when t1.`LAYERNO`='10' then '上层'  when t1.`LAYERNO`='20' then '中层' when t1.`LAYERNO`='30' then '下层' else ' ' end),t1.`BNUMBER`) AS `POSITION`, t1.`SERIALNO`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ARCHIVESCENTER` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`ARCHIVESCENTERID`, t1.`ARCHIVESCENTERNAME`, t1.`BNUMBER`, t1.`CABINETNO`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`LAYERNO`, t1.`MEMO`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, concat(t1.`ARCHIVESCENTERNAME`,t1.`CABINETNO`,(case when t1.`LAYERNO`='10' then '上层'  when t1.`LAYERNO`='20' then '中层' when t1.`LAYERNO`='30' then '下层' else ' ' end),t1.`BNUMBER`) AS `POSITION`, t1.`SERIALNO`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ARCHIVESCENTER` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

