<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFStepDataMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFStepDataResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFStepData" autoMapping="true">
        <id property="wfstepdataid" column="wfstepdataid" /><!--主键字段映射-->
		<result property="originalwfuserid" column="originalwfuserid" />
		<result property="wfstepid" column="wfstepid" />
		<result property="wfinstanceid" column="wfinstanceid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfinstance" javaType="cn.ibizlab.ehr.core.wf.domain.WFInstance" column="wfinstanceid" select="cn.ibizlab.ehr.core.wf.mapper.WFInstanceMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfstep" javaType="cn.ibizlab.ehr.core.wf.domain.WFStep" column="wfstepid" select="cn.ibizlab.ehr.core.wf.mapper.WFStepMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="originalwfuser" javaType="cn.ibizlab.ehr.core.wf.domain.WFUser" column="originalwfuserid" select="cn.ibizlab.ehr.core.wf.mapper.WFUserMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFSTEPDATA_WFINSTANCE_WFINSTANCEID] -->
	 <select id="selectByWfinstanceid" resultMap="WFStepDataResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfinstanceid=#{wfinstanceid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFSTEPDATA_WFSTEP_WFSTEPID] -->
	 <select id="selectByWfstepid" resultMap="WFStepDataResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfstepid=#{wfstepid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFSTEPDATA_WFUSER_ORIGINALWFUSERID] -->
	 <select id="selectByOriginalwfuserid" resultMap="WFStepDataResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  originalwfuserid=#{wfuserid}
     </select>

    <!--数据集合[MyHist]-->
	 <select id="searchMyHist"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFStepDataSearchContext"  resultMap="WFStepDataResultMap">
         select t1.* from (
                <include refid="MyHist" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFStepDataSearchContext"  resultMap="WFStepDataResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE` AS `ACTIONTIME`, t1.`ACTORID`, t1.`ACTORNAME`, t1.`ACTORNAME2`, t1.`CONNECTIONNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t1.`NEXTTO`, t1.`ORIGINALWFUSERID`, t1.`ORIGINALWFUSERNAME`, t1.`SDPARAM`, t1.`SDPARAM2`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATADESC`, t1.`WFACTIONLANRESTAG`, t1.`WFINSTANCEID`, t1.`WFINSTANCENAME`, t1.`WFPLOGICNAME`, t1.`WFSTEPDATAID`, t1.`WFSTEPDATANAME`, t1.`WFSTEPID`, t1.`WFSTEPLANRESTAG`, t1.`WFSTEPNAME` FROM `T_SRFWFSTEPDATA` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE] AS [ACTIONTIME], t1.[ACTORID], t1.[ACTORNAME], t1.[ACTORNAME2], t1.[CONNECTIONNAME], t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t1.[NEXTTO], t1.[ORIGINALWFUSERID], t1.[ORIGINALWFUSERNAME], t1.[SDPARAM], t1.[SDPARAM2], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATADESC], t1.[WFACTIONLANRESTAG], t1.[WFINSTANCEID], t1.[WFINSTANCENAME], t1.[WFPLOGICNAME], t1.[WFSTEPDATAID], t1.[WFSTEPDATANAME], t1.[WFSTEPID], t1.[WFSTEPLANRESTAG], t1.[WFSTEPNAME] FROM [T_SRFWFSTEPDATA] t1  
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
				 WHERE 	( t1.CONNECTIONNAME <> 'SRFWFTIMEOUT'  AND  t1.ACTORID =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE` AS `ACTIONTIME`, t1.`ACTORID`, t1.`ACTORNAME`, t1.`ACTORNAME2`, t1.`CONNECTIONNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t1.`NEXTTO`, t1.`ORIGINALWFUSERID`, t1.`ORIGINALWFUSERNAME`, t1.`SDPARAM`, t1.`SDPARAM2`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATADESC`, t1.`WFACTIONLANRESTAG`, t1.`WFINSTANCEID`, t1.`WFINSTANCENAME`, t1.`WFPLOGICNAME`, t1.`WFSTEPDATAID`, t1.`WFSTEPDATANAME`, t1.`WFSTEPID`, t1.`WFSTEPLANRESTAG`, t1.`WFSTEPNAME` FROM `T_SRFWFSTEPDATA` t1  
				 WHERE 	( t1.`CONNECTIONNAME` <> 'SRFWFTIMEOUT'  AND  t1.`ACTORID` =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
				 WHERE 	( t1.CONNECTIONNAME <> 'SRFWFTIMEOUT'  AND  t1.ACTORID =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
				 WHERE 	( t1.CONNECTIONNAME <> 'SRFWFTIMEOUT'  AND  t1.ACTORID =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS ACTIONTIME, t1.ACTORID, t1.ACTORNAME, t1.ACTORNAME2, t1.CONNECTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.NEXTTO, t1.ORIGINALWFUSERID, t1.ORIGINALWFUSERNAME, t1.SDPARAM, t1.SDPARAM2, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATADESC, t1.WFACTIONLANRESTAG, t1.WFINSTANCEID, t1.WFINSTANCENAME, t1.WFPLOGICNAME, t1.WFSTEPDATAID, t1.WFSTEPDATANAME, t1.WFSTEPID, t1.WFSTEPLANRESTAG, t1.WFSTEPNAME FROM T_SRFWFSTEPDATA t1  
				 WHERE 	( t1.CONNECTIONNAME <> 'SRFWFTIMEOUT'  AND  t1.ACTORID =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

    <!--数据查询[MyHist]-->
    <sql id="MyHist" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE] AS [ACTIONTIME], t1.[ACTORID], t1.[ACTORNAME], t1.[ACTORNAME2], t1.[CONNECTIONNAME], t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t1.[NEXTTO], t1.[ORIGINALWFUSERID], t1.[ORIGINALWFUSERNAME], t1.[SDPARAM], t1.[SDPARAM2], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATADESC], t1.[WFACTIONLANRESTAG], t1.[WFINSTANCEID], t1.[WFINSTANCENAME], t1.[WFPLOGICNAME], t1.[WFSTEPDATAID], t1.[WFSTEPDATANAME], t1.[WFSTEPID], t1.[WFSTEPLANRESTAG], t1.[WFSTEPNAME] FROM [T_SRFWFSTEPDATA] t1  
				 WHERE 	( t1.[CONNECTIONNAME] <> 'SRFWFTIMEOUT'  AND  t1.[ACTORID] =  #{srf.sessioncontext.SRFPERSONID} )
			]]>
    </sql>

</mapper>

