<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.TSSDGroupDetailMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TSSDGroupDetailResultMap" type="cn.ibizlab.ehr.core.common.domain.TSSDGroupDetail" autoMapping="true">
        <id property="tssdgroupdetailid" column="tssdgroupdetailid" /><!--主键字段映射-->
		<result property="tssdgroupid" column="tssdgroupid" />
		<result property="tssditemid" column="tssditemid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="tssdgroup" javaType="cn.ibizlab.ehr.core.common.domain.TSSDGroup" column="tssdgroupid" select="cn.ibizlab.ehr.core.common.mapper.TSSDGroupMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="tssditem" javaType="cn.ibizlab.ehr.core.common.domain.TSSDItem" column="tssditemid" select="cn.ibizlab.ehr.core.common.mapper.TSSDItemMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TSSDGROUPDETAIL_TSSDGROUP_TSSDGROUPID] -->
	 <select id="selectByTssdgroupid" resultMap="TSSDGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  tssdgroupid=#{tssdgroupid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TSSDGROUPDETAIL_TSSDITEM_TSSDITEMID] -->
	 <select id="selectByTssditemid" resultMap="TSSDGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  tssditemid=#{tssditemid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.TSSDGroupDetailSearchContext"  resultMap="TSSDGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.TSSDGROUPDETAILID, t1.TSSDGROUPDETAILNAME, t1.TSSDGROUPID, t11.TSSDGROUPNAME, t1.TSSDITEMID, t21.TSSDITEMNAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFTSSDGROUPDETAIL t1  LEFT JOIN T_SRFTSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_SRFTSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`TSSDGROUPDETAILID`, t1.`TSSDGROUPDETAILNAME`, t1.`TSSDGROUPID`, t11.`TSSDGROUPNAME`, t1.`TSSDITEMID`, t21.`TSSDITEMNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SRFTSSDGROUPDETAIL` t1  LEFT JOIN T_SRFTSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_SRFTSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.TSSDGROUPDETAILID, t1.TSSDGROUPDETAILNAME, t1.TSSDGROUPID, t11.TSSDGROUPNAME, t1.TSSDITEMID, t21.TSSDITEMNAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_TSSDGROUPDETAIL t1  LEFT JOIN T_TSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_TSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.TSSDGROUPDETAILID AS TSSDGROUPDETAILID, t1.TSSDGROUPDETAILNAME AS TSSDGROUPDETAILNAME, t1.TSSDGROUPID AS TSSDGROUPID, t11.TSSDGROUPNAME AS TSSDGROUPNAME, t1.TSSDITEMID AS TSSDITEMID, t21.TSSDITEMNAME AS TSSDITEMNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFTSSDGROUPDETAIL t1  LEFT JOIN T_SRFTSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_SRFTSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.TSSDGROUPDETAILID AS TSSDGROUPDETAILID, t1.TSSDGROUPDETAILNAME AS TSSDGROUPDETAILNAME, t1.TSSDGROUPID AS TSSDGROUPID, t11.TSSDGROUPNAME AS TSSDGROUPNAME, t1.TSSDITEMID AS TSSDITEMID, t21.TSSDITEMNAME AS TSSDITEMNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFTSSDGROUPDETAIL t1  LEFT JOIN T_SRFTSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_SRFTSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[TSSDGROUPDETAILID], t1.[TSSDGROUPDETAILNAME], t1.[TSSDGROUPID], t11.[TSSDGROUPNAME], t1.[TSSDITEMID], t21.[TSSDITEMNAME], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFTSSDGROUPDETAIL] t1  LEFT JOIN T_SRFTSSDGROUP t11 ON t1.TSSDGROUPID = t11.TSSDGROUPID  LEFT JOIN T_SRFTSSDITEM t21 ON t1.TSSDITEMID = t21.TSSDITEMID  
			]]>
    </sql>

</mapper>

