.data-reveal-type {
    height: 100%;
    width: 100%;
    position: relative;
    .show-type {
        text-align: right;
        padding-right: 16px;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 2px;
        .ivu-btn-group {
            .collapse-btn {
                padding: 0;
            }
        }
    }
    .data-reveal-content {
        height: 100%;
        overflow: auto;
    }
}