<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pcm.mapper.PcmXygzzsqmxMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PcmXygzzsqmxResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FINISHED`, t1.`GW`, t1.`PCMXYGZZSQID`, t1.`PCMXYGZZSQMXID`, t1.`PCMXYGZZSQMXNAME`, t21.`PCMXYGZZSQNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZJ`, t1.`ZW`, t1.`ZZ` FROM `T_PCMXYGZZSQMX` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_PCMXYGZZSQ t21 ON t1.PCMXYGZZSQID = t21.PCMXYGZZSQID  ) t1 where pcmxygzzsqmxid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PcmXygzzsqmxResultMap" type="cn.ibizlab.ehr.core.pcm.domain.PcmXygzzsqmx" autoMapping="true">
        <id property="pcmxygzzsqmxid" column="pcmxygzzsqmxid" /><!--主键字段映射-->
		<result property="pcmxygzzsqid" column="pcmxygzzsqid" />
		<result property="pimpersonid" column="pimpersonid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pcmxygzzsq" javaType="cn.ibizlab.ehr.core.pcm.domain.PcmXygzzsq" column="pcmxygzzsqid" select="cn.ibizlab.ehr.core.pcm.mapper.PcmXygzzsqMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PCMXYGZZSQMX_PCMXYGZZSQ_PCMXYGZZSQID] -->
	 <select id="selectByPcmxygzzsqid" resultMap="PcmXygzzsqmxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pcmxygzzsqid=#{pcmxygzzsqid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PCMXYGZZSQMX_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="PcmXygzzsqmxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>

    <!--数据集合[WSHSQ]-->
	 <select id="searchWSHSQ"  parameterType="cn.ibizlab.ehr.core.pcm.filter.PcmXygzzsqmxSearchContext"  resultMap="PcmXygzzsqmxResultMap">
         select t1.* from (
                <include refid="WSHSQ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pcm.filter.PcmXygzzsqmxSearchContext"  resultMap="PcmXygzzsqmxResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FINISHED`, t1.`GW`, t1.`PCMXYGZZSQID`, t1.`PCMXYGZZSQMXID`, t1.`PCMXYGZZSQMXNAME`, t21.`PCMXYGZZSQNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZJ`, t1.`ZW`, t1.`ZZ` FROM `T_PCMXYGZZSQMX` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_PCMXYGZZSQ t21 ON t1.PCMXYGZZSQID = t21.PCMXYGZZSQID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FINISHED`, t1.`GW`, t1.`PCMXYGZZSQID`, t1.`PCMXYGZZSQMXID`, t1.`PCMXYGZZSQMXNAME`, t21.`PCMXYGZZSQNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZJ`, t1.`ZW`, t1.`ZZ` FROM `T_PCMXYGZZSQMX` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_PCMXYGZZSQ t21 ON t1.PCMXYGZZSQID = t21.PCMXYGZZSQID  
			]]>
    </sql>
    <!--数据查询[WSHSQ]-->
    <sql id="WSHSQ" databaseId="mysql">
       <![CDATA[	SELECT t1.`BM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FINISHED`, t1.`GW`, t1.`PCMXYGZZSQID`, t1.`PCMXYGZZSQMXID`, t1.`PCMXYGZZSQMXNAME`, t21.`PCMXYGZZSQNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZJ`, t1.`ZW`, t1.`ZZ` FROM `T_PCMXYGZZSQMX` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_PCMXYGZZSQ t21 ON t1.PCMXYGZZSQID = t21.PCMXYGZZSQID  
				 WHERE 	( t1.`FINISHED` = 0 )
			]]>
    </sql>
</mapper>

