<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.TSSDEngineMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TSSDEngineResultMap" type="cn.ibizlab.ehr.core.common.domain.TSSDEngine" autoMapping="true">
        <id property="tssdengineid" column="tssdengineid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.TSSDEngineSearchContext"  resultMap="TSSDEngineResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENGINEOBJECT, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.TSSDENGINEID, t1.TSSDENGINENAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFTSSDENGINE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENGINEOBJECT`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t1.`TSSDENGINEID`, t1.`TSSDENGINENAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_TSSDENGINE` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENGINEOBJECT, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.TSSDENGINEID, t1.TSSDENGINENAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFTSSDENGINE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ENGINEOBJECT AS ENGINEOBJECT, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.TSSDENGINEID AS TSSDENGINEID, t1.TSSDENGINENAME AS TSSDENGINENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFTSSDENGINE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ENGINEOBJECT AS ENGINEOBJECT, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.TSSDENGINEID AS TSSDENGINEID, t1.TSSDENGINENAME AS TSSDENGINENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFTSSDENGINE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[ENGINEOBJECT], t1.[RESERVER], t1.[RESERVER2], t1.[RESERVER3], t1.[RESERVER4], t1.[TSSDENGINEID], t1.[TSSDENGINENAME], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFTSSDENGINE] t1  
			]]>
    </sql>

</mapper>

