<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.demodel.mapper.QueryModelMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="QueryModelResultMap" type="cn.ibizlab.ehr.core.demodel.domain.QueryModel" autoMapping="true">
        <id property="querymodelid" column="querymodelid" /><!--主键字段映射-->
		<result property="deid" column="deid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="de" javaType="cn.ibizlab.ehr.core.demodel.domain.DataEntity" column="deid" select="cn.ibizlab.ehr.core.demodel.mapper.DataEntityMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_QUERYMODEL_DATAENTITY_DEID] -->
	 <select id="selectByDeid" resultMap="QueryModelResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  deid=#{deid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.demodel.filter.QueryModelSearchContext"  resultMap="QueryModelResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurDE]-->
	 <select id="searchCurDE"  parameterType="cn.ibizlab.ehr.core.demodel.filter.QueryModelSearchContext"  resultMap="QueryModelResultMap">
         select t1.* from (
                <include refid="CurDE" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEID, t11.DENAME, t1.ISRAWMODE, t1.MEMO, t1.QMVERSION, t1.QUERYMODELID, t1.QUERYMODELNAME, t1.QUERYOBJECT, t1.SELECTMODE, t1.SELECTORDER, t1.SRFSYSPUB, t1.SRFUSERPUB, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.DEID =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DEID`, t11.`DENAME`, t1.`ISRAWMODE`, t1.`MEMO`, t1.`QMVERSION`, t1.`QUERYMODELID`, t1.`QUERYMODELNAME`, t1.`QUERYOBJECT`, t1.`SELECTMODE`, t1.`SELECTORDER`, t1.`SRFSYSPUB`, t1.`SRFUSERPUB`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_QUERYMODEL` t1  LEFT JOIN T_dataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.`DEID` =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEID, t11.DENAME, t1.ISRAWMODE, t1.MEMO, t1.QMVERSION, t1.QUERYMODELID, t1.QUERYMODELNAME, t1.QUERYOBJECT, t1.SELECTMODE, t1.SELECTORDER, t1.SRFSYSPUB, t1.SRFUSERPUB, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.DEID =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DEID AS DEID, t11.DENAME AS DENAME, t1.ISRAWMODE AS ISRAWMODE, t1.MEMO AS MEMO, t1.QMVERSION AS QMVERSION, t1.QUERYMODELID AS QUERYMODELID, t1.QUERYMODELNAME AS QUERYMODELNAME, t1.QUERYOBJECT AS QUERYOBJECT, t1.SELECTMODE AS SELECTMODE, t1.SELECTORDER AS SELECTORDER, t1.SRFSYSPUB AS SRFSYSPUB, t1.SRFUSERPUB AS SRFUSERPUB, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.DEID =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DEID AS DEID, t11.DENAME AS DENAME, t1.ISRAWMODE AS ISRAWMODE, t1.MEMO AS MEMO, t1.QMVERSION AS QMVERSION, t1.QUERYMODELID AS QUERYMODELID, t1.QUERYMODELNAME AS QUERYMODELNAME, t1.QUERYOBJECT AS QUERYOBJECT, t1.SELECTMODE AS SELECTMODE, t1.SELECTORDER AS SELECTORDER, t1.SRFSYSPUB AS SRFSYSPUB, t1.SRFUSERPUB AS SRFUSERPUB, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.DEID =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[CurDE]-->
    <sql id="CurDE" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[DEID], t11.[DENAME], t1.[ISRAWMODE], t1.[MEMO], t1.[QMVERSION], t1.[QUERYMODELID], t1.[QUERYMODELNAME], t1.[QUERYOBJECT], t1.[SELECTMODE], t1.[SELECTORDER], t1.[SRFSYSPUB], t1.[SRFUSERPUB], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFQUERYMODEL] t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
				 WHERE 	( t1.[DEID] =  #{srf.datacontext.deid} )
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEID, t11.DENAME, t1.ISRAWMODE, t1.MEMO, t1.QMVERSION, t1.QUERYMODELID, t1.QUERYMODELNAME, t1.QUERYOBJECT, t1.SELECTMODE, t1.SELECTORDER, t1.SRFSYSPUB, t1.SRFUSERPUB, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DEID`, t11.`DENAME`, t1.`ISRAWMODE`, t1.`MEMO`, t1.`QMVERSION`, t1.`QUERYMODELID`, t1.`QUERYMODELNAME`, t1.`QUERYOBJECT`, t1.`SELECTMODE`, t1.`SELECTORDER`, t1.`SRFSYSPUB`, t1.`SRFUSERPUB`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_QUERYMODEL` t1  LEFT JOIN T_dataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DEID, t11.DENAME, t1.ISRAWMODE, t1.MEMO, t1.QMVERSION, t1.QUERYMODELID, t1.QUERYMODELNAME, t1.QUERYOBJECT, t1.SELECTMODE, t1.SELECTORDER, t1.SRFSYSPUB, t1.SRFUSERPUB, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DEID AS DEID, t11.DENAME AS DENAME, t1.ISRAWMODE AS ISRAWMODE, t1.MEMO AS MEMO, t1.QMVERSION AS QMVERSION, t1.QUERYMODELID AS QUERYMODELID, t1.QUERYMODELNAME AS QUERYMODELNAME, t1.QUERYOBJECT AS QUERYOBJECT, t1.SELECTMODE AS SELECTMODE, t1.SELECTORDER AS SELECTORDER, t1.SRFSYSPUB AS SRFSYSPUB, t1.SRFUSERPUB AS SRFUSERPUB, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DEID AS DEID, t11.DENAME AS DENAME, t1.ISRAWMODE AS ISRAWMODE, t1.MEMO AS MEMO, t1.QMVERSION AS QMVERSION, t1.QUERYMODELID AS QUERYMODELID, t1.QUERYMODELNAME AS QUERYMODELNAME, t1.QUERYOBJECT AS QUERYOBJECT, t1.SELECTMODE AS SELECTMODE, t1.SELECTORDER AS SELECTORDER, t1.SRFSYSPUB AS SRFSYSPUB, t1.SRFUSERPUB AS SRFUSERPUB, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFQUERYMODEL t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[DEID], t11.[DENAME], t1.[ISRAWMODE], t1.[MEMO], t1.[QMVERSION], t1.[QUERYMODELID], t1.[QUERYMODELNAME], t1.[QUERYOBJECT], t1.[SELECTMODE], t1.[SELECTORDER], t1.[SRFSYSPUB], t1.[SRFUSERPUB], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFQUERYMODEL] t1  LEFT JOIN t_srfdataentity t11 ON t1.DEID = t11.DEID  
			]]>
    </sql>

</mapper>

