<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.TSSDItemMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TSSDItemResultMap" type="cn.ibizlab.ehr.core.common.domain.TSSDItem" autoMapping="true">
        <id property="tssditemid" column="tssditemid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.TSSDItemSearchContext"  resultMap="TSSDItemResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.HOURTYPE, t1.HOURVALUE, t1.MINUTETYPE, t1.MINUTEVALUE, t1.MONTHDAYTYPE, t1.MONTHDAYVALUE, t1.MONTHTYPE, t1.MONTHVALUE, t1.MONTHWEEKTYPE, t1.MONTHWEEKVALUE, t1.SECONDTYPE, t1.SECONDVALUE, t1.TSSDITEMID, t1.TSSDITEMNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.VERSION FROM T_SRFTSSDITEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`HOURTYPE`, t1.`HOURVALUE`, t1.`MINUTETYPE`, t1.`MINUTEVALUE`, t1.`MONTHDAYTYPE`, t1.`MONTHDAYVALUE`, t1.`MONTHTYPE`, t1.`MONTHVALUE`, t1.`MONTHWEEKTYPE`, t1.`MONTHWEEKVALUE`, t1.`SECONDTYPE`, t1.`SECONDVALUE`, t1.`TSSDITEMID`, t1.`TSSDITEMNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VERSION` FROM `T_TSSDITEM` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.HOURTYPE, t1.HOURVALUE, t1.MINUTETYPE, t1.MINUTEVALUE, t1.MONTHDAYTYPE, t1.MONTHDAYVALUE, t1.MONTHTYPE, t1.MONTHVALUE, t1.MONTHWEEKTYPE, t1.MONTHWEEKVALUE, t1.SECONDTYPE, t1.SECONDVALUE, t1.TSSDITEMID, t1.TSSDITEMNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.VERSION FROM T_TSSDITEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.HOURTYPE AS HOURTYPE, t1.HOURVALUE AS HOURVALUE, t1.MINUTETYPE AS MINUTETYPE, t1.MINUTEVALUE AS MINUTEVALUE, t1.MONTHDAYTYPE AS MONTHDAYTYPE, t1.MONTHDAYVALUE AS MONTHDAYVALUE, t1.MONTHTYPE AS MONTHTYPE, t1.MONTHVALUE AS MONTHVALUE, t1.MONTHWEEKTYPE AS MONTHWEEKTYPE, t1.MONTHWEEKVALUE AS MONTHWEEKVALUE, t1.SECONDTYPE AS SECONDTYPE, t1.SECONDVALUE AS SECONDVALUE, t1.TSSDITEMID AS TSSDITEMID, t1.TSSDITEMNAME AS TSSDITEMNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.VERSION AS VERSION FROM T_SRFTSSDITEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.HOURTYPE AS HOURTYPE, t1.HOURVALUE AS HOURVALUE, t1.MINUTETYPE AS MINUTETYPE, t1.MINUTEVALUE AS MINUTEVALUE, t1.MONTHDAYTYPE AS MONTHDAYTYPE, t1.MONTHDAYVALUE AS MONTHDAYVALUE, t1.MONTHTYPE AS MONTHTYPE, t1.MONTHVALUE AS MONTHVALUE, t1.MONTHWEEKTYPE AS MONTHWEEKTYPE, t1.MONTHWEEKVALUE AS MONTHWEEKVALUE, t1.SECONDTYPE AS SECONDTYPE, t1.SECONDVALUE AS SECONDVALUE, t1.TSSDITEMID AS TSSDITEMID, t1.TSSDITEMNAME AS TSSDITEMNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.VERSION AS VERSION FROM T_SRFTSSDITEM t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[HOURTYPE], t1.[HOURVALUE], t1.[MINUTETYPE], t1.[MINUTEVALUE], t1.[MONTHDAYTYPE], t1.[MONTHDAYVALUE], t1.[MONTHTYPE], t1.[MONTHVALUE], t1.[MONTHWEEKTYPE], t1.[MONTHWEEKVALUE], t1.[SECONDTYPE], t1.[SECONDVALUE], t1.[TSSDITEMID], t1.[TSSDITEMNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[VERSION] FROM [T_SRFTSSDITEM] t1  
			]]>
    </sql>

</mapper>

