<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFUserGroupDetailMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFUserGroupDetailResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFUserGroupDetail" autoMapping="true">
        <id property="wfusergroupdetailid" column="wfusergroupdetailid" /><!--主键字段映射-->
		<result property="wfuserid" column="wfuserid" />
		<result property="wfusergroupid" column="wfusergroupid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfusergroup" javaType="cn.ibizlab.ehr.core.wf.domain.WFUserGroup" column="wfusergroupid" select="cn.ibizlab.ehr.core.wf.mapper.WFUserGroupMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfuser" javaType="cn.ibizlab.ehr.core.wf.domain.WFUser" column="wfuserid" select="cn.ibizlab.ehr.core.wf.mapper.WFUserMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFUSERGROUPDETAIL_WFUSERGROUP_WFUSERGROUPID] -->
	 <select id="selectByWfusergroupid" resultMap="WFUserGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfusergroupid=#{wfusergroupid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFUSERGROUPDETAIL_WFUSER_WFUSERID] -->
	 <select id="selectByWfuserid" resultMap="WFUserGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfuserid=#{wfuserid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFUserGroupDetailSearchContext"  resultMap="WFUserGroupDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFUSERGROUPDETAILID, t1.WFUSERGROUPDETAILNAME, t1.WFUSERGROUPID, t11.WFUSERGROUPNAME, t1.WFUSERID, t21.WFUSERNAME FROM T_SRFWFUSERGROUPDETAIL t1  LEFT JOIN T_SRFWFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_SRFWFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WFUSERGROUPDETAILID`, t1.`WFUSERGROUPDETAILNAME`, t1.`WFUSERGROUPID`, t11.`WFUSERGROUPNAME`, t1.`WFUSERID`, t21.`WFUSERNAME` FROM `T_WFUSERGROUPDETAIL` t1  LEFT JOIN T_WFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_WFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFUSERGROUPDETAILID, t1.WFUSERGROUPDETAILNAME, t1.WFUSERGROUPID, t11.WFUSERGROUPNAME, t1.WFUSERID, t21.WFUSERNAME FROM T_WFUSERGROUPDETAIL t1  LEFT JOIN T_WFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_WFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFUSERGROUPDETAILID, t1.WFUSERGROUPDETAILNAME, t1.WFUSERGROUPID, t11.WFUSERGROUPNAME, t1.WFUSERID, t21.WFUSERNAME FROM T_SRFWFUSERGROUPDETAIL t1  LEFT JOIN T_SRFWFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_SRFWFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFUSERGROUPDETAILID, t1.WFUSERGROUPDETAILNAME, t1.WFUSERGROUPID, t11.WFUSERGROUPNAME, t1.WFUSERID, t21.WFUSERNAME FROM T_SRFWFUSERGROUPDETAIL t1  LEFT JOIN T_SRFWFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_SRFWFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WFUSERGROUPDETAILID], t1.[WFUSERGROUPDETAILNAME], t1.[WFUSERGROUPID], t11.[WFUSERGROUPNAME], t1.[WFUSERID], t21.[WFUSERNAME] FROM [T_SRFWFUSERGROUPDETAIL] t1  LEFT JOIN T_SRFWFUSERGROUP t11 ON t1.WFUSERGROUPID = t11.WFUSERGROUPID  LEFT JOIN T_SRFWFUSER t21 ON t1.WFUSERID = t21.WFUSERID  
			]]>
    </sql>

</mapper>

