<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.UserRoleDetailMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="UserRoleDetailResultMap" type="cn.ibizlab.ehr.core.common.domain.UserRoleDetail" autoMapping="true">
        <id property="userroledetailid" column="userroledetailid" /><!--主键字段映射-->
		<result property="userrolename" column="uesrrolename" />
		<result property="userobjectid" column="userobjectid" />
		<result property="userroleid" column="userroleid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="userobject" javaType="cn.ibizlab.ehr.core.common.domain.UserObject" column="userobjectid" select="cn.ibizlab.ehr.core.common.mapper.UserObjectMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="userrole" javaType="cn.ibizlab.ehr.core.common.domain.UserRole" column="userroleid" select="cn.ibizlab.ehr.core.common.mapper.UserRoleMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_USERROLEDETAIL_USEROBJECT_USEROBJECTID] -->
	 <select id="selectByUserobjectid" resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  userobjectid=#{userobjectid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_USERROLEDETAIL_USERROLE_USERROLEID] -->
	 <select id="selectByUserroleid" resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  userroleid=#{userroleid}
     </select>

    <!--数据集合[CurrentCompany]-->
	 <select id="searchCurrentCompany"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleDetailSearchContext"  resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="CurrentCompany" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[OrderByUserCX]-->
	 <select id="searchOrderByUserCX"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleDetailSearchContext"  resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="OrderByUserCX" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleDetailSearchContext"  resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[SysManager]-->
	 <select id="searchSysManager"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleDetailSearchContext"  resultMap="UserRoleDetailResultMap">
         select t1.* from (
                <include refid="SysManager" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurrentCompany]-->
    <sql id="CurrentCompany" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>

    <!--数据查询[CurrentCompany]-->
    <sql id="CurrentCompany" databaseId="oracle">
       <![CDATA[	select * from  (SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UESRROLENAME AS UESRROLENAME, t1.UPDATEDATE, t1.UPDATEMAN, (select t.orgname from v_orguser t where t.ORGUSERID = t1.USEROBJECTID) AS USERDATA, (select t2.porgname from v_ormorg t2 where exists(select 1 from t_srforguser t where t.orgid = t2.orgid and t.orguserid = t1.USEROBJECTID)) as USERDATA2, t1.USEROBJECTID, t1.USEROBJECTNAME, t1.USERROLEDETAILID, t1.USERROLEDETAILNAME, t1.USERROLEID, t1.USERTAG FROM v_USERROLEDETAIL t1 ) t1   
				 WHERE 	( ( exists(select 1 from t_srforguser t2  left join t_srforg t3 on t3.orgid = t2.orgid where t2.orguserid = t1.userobjectid  and  ( instr(t3.levelcode, ( select a.levelcode from t_srforg a where a.orgid = #{srf.sessioncontext.SRFORGID')} ) )=1 ) )  OR  exists(select 1 from t_srfuserroledetail t2 where t2.userroleid = '32A40E9C-9BC9-41AD-ACDD-DCE44CB4B16C' and t2.userobjectid =#{srf.sessioncontext.SRFPERSONID')})  OR  'ibzadmin' = (select t.loginaccountname  from t_srfloginaccount t  where t.userid = #{srf.sessioncontext.SRFPERSONID')} and rownum = 1) ) )
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t11.USERROLENAME AS UESRROLENAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t21.USEROBJECTNAME, t1.USERROLEDETAILID, t1.USERROLEDETAILNAME, t1.USERROLEID, t1.USERTAG FROM T_SRFUSERROLEDETAIL t1  LEFT JOIN T_SRFUSERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_SRFUSEROBJECT t21 ON t1.USEROBJECTID = t21.USEROBJECTID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t21.`USERROLENAME` AS `UESRROLENAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`USEROBJECTID`, t11.`USEROBJECTNAME`, t1.`USERROLEDETAILID`, t1.`USERROLEDETAILNAME`, t1.`USERROLEID`, t1.`USERTAG` FROM `T_SRFUSERROLEDETAIL` t1  LEFT JOIN T_SRFUSEROBJECT t11 ON t1.USEROBJECTID = t11.USEROBJECTID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t21.USERROLENAME AS UESRROLENAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t11.USEROBJECTNAME, t1.USERROLEDETAILID, t1.USERROLEDETAILNAME, t1.USERROLEID, t1.USERTAG FROM T_SRFUSERROLEDETAIL t1  LEFT JOIN T_SRFUSEROBJECT t11 ON t1.USEROBJECTID = t11.USEROBJECTID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t11.USERROLENAME AS UESRROLENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERDATA AS USERDATA, t1.USERDATA2 AS USERDATA2, t1.USEROBJECTID AS USEROBJECTID, t21.USEROBJECTNAME AS USEROBJECTNAME, t1.USERROLEDETAILID AS USERROLEDETAILID, t1.USERROLEDETAILNAME AS USERROLEDETAILNAME, t1.USERROLEID AS USERROLEID, t1.USERTAG AS USERTAG FROM T_SRFUSERROLEDETAIL t1  LEFT JOIN T_SRFUSERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_SRFUSEROBJECT t21 ON t1.USEROBJECTID = t21.USEROBJECTID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t11.USERROLENAME AS UESRROLENAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERDATA AS USERDATA, t1.USERDATA2 AS USERDATA2, t1.USEROBJECTID AS USEROBJECTID, t21.USEROBJECTNAME AS USEROBJECTNAME, t1.USERROLEDETAILID AS USERROLEDETAILID, t1.USERROLEDETAILNAME AS USERROLEDETAILNAME, t1.USERROLEID AS USERROLEID, t1.USERTAG AS USERTAG FROM T_SRFUSERROLEDETAIL t1  LEFT JOIN T_SRFUSERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_SRFUSEROBJECT t21 ON t1.USEROBJECTID = t21.USEROBJECTID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[RESERVER], t1.[RESERVER2], t1.[RESERVER3], t1.[RESERVER4], t11.[USERROLENAME] AS [UESRROLENAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[USEROBJECTID], t21.[USEROBJECTNAME], t1.[USERROLEDETAILID], t1.[USERROLEDETAILNAME], t1.[USERROLEID], t1.[USERTAG] FROM [T_SRFUSERROLEDETAIL] t1  LEFT JOIN T_SRFUSERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_SRFUSEROBJECT t21 ON t1.USEROBJECTID = t21.USEROBJECTID  
			]]>
    </sql>

    <!--数据查询[OrderByUserCX]-->
    <sql id="OrderByUserCX" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>

    <!--数据查询[OrderByUserCX]-->
    <sql id="OrderByUserCX" databaseId="oracle">
       <![CDATA[	select * from  (SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UESRROLENAME AS UESRROLENAME, t1.UPDATEDATE, t1.UPDATEMAN, (select t.orgname from v_orguser t where t.ORGUSERID = t1.USEROBJECTID) AS USERDATA, (select t2.porgname from v_ormorg t2 where exists(select 1 from t_srforguser t where t.orgid = t2.orgid and t.orguserid = t1.USEROBJECTID)) as USERDATA2, t1.USEROBJECTID, t1.USEROBJECTNAME, t1.USERROLEDETAILID, t1.USERROLEDETAILNAME, t1.USERROLEID, t1.USERTAG FROM v_USERROLEDETAIL t1 ) t1
				 WHERE 	( exists(select 1 from t_srfuserroledetail t2 where t2.userroledetailid=t1.userroledetailid and  t2.userobjectid =#{srf.datacontext.ORGUSERID')}) )
			]]>
    </sql>

    <!--数据查询[SysManager]-->
    <sql id="SysManager" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>

    <!--数据查询[SysManager]-->
    <sql id="SysManager" databaseId="oracle">
       <![CDATA[	select * from  (SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UESRROLENAME AS UESRROLENAME, t1.UPDATEDATE, t1.UPDATEMAN, (select t.orgname from v_orguser t where t.ORGUSERID = t1.USEROBJECTID) AS USERDATA, (select t2.porgname from v_ormorg t2 where exists(select 1 from t_srforguser t where t.orgid = t2.orgid and t.orguserid = t1.USEROBJECTID)) as USERDATA2, t1.USEROBJECTID, t1.USEROBJECTNAME, t1.USERROLEDETAILID, t1.USERROLEDETAILNAME, t1.USERROLEID, t1.USERTAG FROM v_USERROLEDETAIL t1 ) t1   
			]]>
    </sql>

</mapper>

