<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TRMPLANFORMUMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TRMPLANFORMUResultMap" type="cn.ibizlab.ehr.core.trm.domain.TRMPLANFORMU" autoMapping="true">
        <id property="trmplanformuid" column="trmplanformuid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
		<result property="pimpersonid" column="pimpersonid" />
		<result property="ormorgsectorid" column="ormorgsectorid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorgsector" javaType="cn.ibizlab.ehr.core.orm.domain.ORMORGSECTOR" column="ormorgsectorid" select="cn.ibizlab.ehr.core.orm.mapper.ORMORGSECTORMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.ORMORG" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.ORMORGMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PIMPERSON" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PIMPERSONMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMPLANFORMU_ORMORGSECTOR_ORMORGSECTORID] -->
	 <select id="selectByOrmorgsectorid" resultMap="TRMPLANFORMUResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgsectorid=#{orgsectorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMPLANFORMU_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="TRMPLANFORMUResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMPLANFORMU_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="TRMPLANFORMUResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TRMPLANFORMUSearchContext"  resultMap="TRMPLANFORMUResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZSJ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`JD`, t1.`ND`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMORGSECTORID`, t31.`ORGSECTORNAME` AS `ORMORGSECTORNAME`, t1.`PIMPERSONID`, t21.`PIMPERSONNAME`, t1.`PXZZF`, t31.`SHORTNAME`, t1.`TRMPLANFORMUID`, t1.`TRMPLANFORMUNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t11.`ZZDZS` FROM `T_TRMPLANFORMU` t1  LEFT JOIN T_ORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_PIMPERSON t21 ON t1.PIMPERSONID = t21.PIMPERSONID  LEFT JOIN T_ORGSECTOR t31 ON t1.ORMORGSECTORID = t31.ORGSECTORID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.BZSJ, t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.JD, t1.ND, t1.ORMORGID, t11.ORGNAME AS ORMORGNAME, t1.ORMORGSECTORID, t31.ORGSECTORNAME AS ORMORGSECTORNAME, t1.PIMPERSONID, t21.PIMPERSONNAME, t1.PXZZF, t31.SHORTNAME, t1.TRMPLANFORMUID, t1.TRMPLANFORMUNAME, t1.UPDATEDATE, t1.UPDATEMAN, t11.ZZDZS FROM T_TRMPLANFORMU t1  LEFT JOIN T_ORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_PIMPERSON t21 ON t1.PIMPERSONID = t21.PIMPERSONID  LEFT JOIN T_ORGSECTOR t31 ON t1.ORMORGSECTORID = t31.ORGSECTORID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

</mapper>

