<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TrmTrainPersonMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TrmTrainPersonResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BM`, t11.`BZR`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FJH`, t1.`FS`, t1.`GW`, t11.`JHXBM`, t1.`JSFS`, t1.`LXDH`, t1.`NJ`, t1.`PIMPERSONID`, t1.`PIMPERSONNAME`, t1.`PXBJ`, t1.`PXJG`, t1.`PXJSSJ`, t1.`PXKC`, t1.`PXKSSJ`, t1.`SFZS`, t1.`TRAINBEGIN`, t1.`TRAINEND`, t1.`TRAINRES`, t1.`TRMTRAINAGENCYNAME`, t1.`TRMTRAINCOURSENAME`, t1.`TRMTRAINPLANTERMID`, t1.`TRMTRAINPLANTERMNAME`, t21.`TRMTRAINTEACHERNAME`, t1.`TRMTRIANPERSONID`, t1.`TRMTRIANPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`YGBH`, t1.`ZW`, t1.`ZZ` FROM `T_TRMTRIANPERSON` t1  LEFT JOIN T_TRMTRAINPLANTERM t11 ON t1.TRMTRAINPLANTERMID = t11.TRMTRAINPLANTERMID  LEFT JOIN T_TRMTRAINTEACHER t21 ON t11.TRMTRAINTEACHERID = t21.TRMTRAINTEACHERID  ) t1 where trmtrianpersonid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TrmTrainPersonResultMap" type="cn.ibizlab.ehr.core.trm.domain.TrmTrainPerson" autoMapping="true">
        <id property="trmtrianpersonid" column="trmtrianpersonid" /><!--主键字段映射-->
		<result property="pimpersonid" column="pimpersonid" />
		<result property="trmtrainplantermid" column="trmtrainplantermid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtrainplanterm" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainPlanterm" column="trmtrainplantermid" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainPlantermMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRIANPERSON_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="TrmTrainPersonResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRIANPERSON_TRMTRAINPLANTERM_TRMTRAINPLANTERMID] -->
	 <select id="selectByTrmtrainplantermid" resultMap="TrmTrainPersonResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtrainplantermid=#{trmtrainplantermid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TrmTrainPersonSearchContext"  resultMap="TrmTrainPersonResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BM`, t11.`BZR`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FJH`, t1.`FS`, t1.`GW`, t11.`JHXBM`, t1.`JSFS`, t1.`LXDH`, t1.`NJ`, t1.`PIMPERSONID`, t1.`PIMPERSONNAME`, t1.`PXBJ`, t1.`PXJG`, t1.`PXJSSJ`, t1.`PXKC`, t1.`PXKSSJ`, t1.`SFZS`, t1.`TRAINBEGIN`, t1.`TRAINEND`, t1.`TRAINRES`, t1.`TRMTRAINAGENCYNAME`, t1.`TRMTRAINCOURSENAME`, t1.`TRMTRAINPLANTERMID`, t1.`TRMTRAINPLANTERMNAME`, t21.`TRMTRAINTEACHERNAME`, t1.`TRMTRIANPERSONID`, t1.`TRMTRIANPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`YGBH`, t1.`ZW`, t1.`ZZ` FROM `T_TRMTRIANPERSON` t1  LEFT JOIN T_TRMTRAINPLANTERM t11 ON t1.TRMTRAINPLANTERMID = t11.TRMTRAINPLANTERMID  LEFT JOIN T_TRMTRAINTEACHER t21 ON t11.TRMTRAINTEACHERID = t21.TRMTRAINTEACHERID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BM`, t11.`BZR`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`FJH`, t1.`FS`, t1.`GW`, t11.`JHXBM`, t1.`JSFS`, t1.`LXDH`, t1.`NJ`, t1.`PIMPERSONID`, t1.`PIMPERSONNAME`, t1.`PXBJ`, t1.`PXJG`, t1.`PXJSSJ`, t1.`PXKC`, t1.`PXKSSJ`, t1.`SFZS`, t1.`TRAINBEGIN`, t1.`TRAINEND`, t1.`TRAINRES`, t1.`TRMTRAINAGENCYNAME`, t1.`TRMTRAINCOURSENAME`, t1.`TRMTRAINPLANTERMID`, t1.`TRMTRAINPLANTERMNAME`, t21.`TRMTRAINTEACHERNAME`, t1.`TRMTRIANPERSONID`, t1.`TRMTRIANPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`YGBH`, t1.`ZW`, t1.`ZZ` FROM `T_TRMTRIANPERSON` t1  LEFT JOIN T_TRMTRAINPLANTERM t11 ON t1.TRMTRAINPLANTERMID = t11.TRMTRAINPLANTERMID  LEFT JOIN T_TRMTRAINTEACHER t21 ON t11.TRMTRAINTEACHERID = t21.TRMTRAINTEACHERID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

