<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmOrgResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  ) t1 where orgid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmOrgResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmOrg" autoMapping="true">
        <id property="orgid" column="orgid" /><!--主键字段映射-->
		<result property="porgid" column="porgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="porg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="porgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMORG_ORMORG_PORGID] -->
	 <select id="selectByPorgid" resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  porgid=#{orgid}
     </select>

    <!--数据集合[ALLSIGNORG]-->
	 <select id="searchALLSIGNORG"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="AllSignORG" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[AllLevelTwoOrg2]-->
	 <select id="searchAllLevelTwoOrg2"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="AllLevelTwoOrg2" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Orglist_Profile]-->
	 <select id="searchOrglist_Profile"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="Orglist_Profile" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[REP_ORG]-->
	 <select id="searchREP_ORG"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultType="java.util.HashMap">
	 	select countnum as "countnum",orgid as "orgid" from (
         select t1.* from (
                <include refid="REP_ORG" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 ) groupinfo
		 group by countnum,orgid
     </select>

    <!--数据集合[AuthOrg]-->
	 <select id="searchAuthOrg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[GSGWZY]-->
	 <select id="searchGSGWZY"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="GSGWZY" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[SubSubOrg]-->
	 <select id="searchSubSubOrg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="SubSubOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurChild]-->
	 <select id="searchCurChild"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="CurChild" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[SJYXZZ]-->
	 <select id="searchSJYXZZ"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="SJYXZZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[REP_ORGPNUM]-->
	 <select id="searchREP_ORGPNUM"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultType="java.util.HashMap">
	 	select orgname as "orgname",countnum as "countnum" from (
         select t1.* from (
                <include refid="REP_ORGPNUM" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
		 ) groupinfo
		 group by orgname,countnum
     </select>

    <!--数据集合[KZSJZZXZ]-->
	 <select id="searchKZSJZZXZ"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="KZSJZZXZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[DanQian]-->
	 <select id="searchDanQian"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="DanQian" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[AllLevelTwoOrg]-->
	 <select id="searchAllLevelTwoOrg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="AllLevelTwoOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[SubOrg]-->
	 <select id="searchSubOrg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="SubOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[HTGLDW]-->
	 <select id="searchHTGLDW"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="HTGLDW" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[KZXLXZ]-->
	 <select id="searchKZXLXZ"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="KZXLXZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[AuthSJYXZZ]-->
	 <select id="searchAuthSJYXZZ"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="SJYXZZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[UseByFP]-->
	 <select id="searchUseByFP"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="UseByFP" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurPorg]-->
	 <select id="searchCurPorg"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmOrgSearchContext"  resultMap="OrmOrgResultMap">
         select t1.* from (
                <include refid="CurPorg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[AllLevelTwoOrg]-->
    <sql id="AllLevelTwoOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`PORGID` = '64BCDCC1-24AA-42E4-AC7A-FB6F242F3FF1'  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[AllLevelTwoOrg2]-->
    <sql id="AllLevelTwoOrg2" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( length(t1.ORGCODE)=3 )
			]]>
    </sql>
    <!--数据查询[AllSignORG]-->
    <sql id="AllSignORG" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`LEGALENTITY` = '10' )
			]]>
    </sql>
    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`PORGID` IS NOT NULL  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[CurPorg]-->
    <sql id="CurPorg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`PORGID` IS NULL  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[DanQian]-->
    <sql id="DanQian" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`STARTSTOPSIGN` = '1'  AND  ( t1.`ORGID` =  #{srf.sessioncontext.srforgid}  OR  t1.`PORGID` =  #{srf.sessioncontext.srforgid}  OR  'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.srfpersonid}) ) )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.`ORGID` <> 'DEFAULT' )
			]]>
    </sql>
    <!--数据查询[GSGWZY]-->
    <sql id="GSGWZY" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( ( t1.`ORGID` =  #{srf.sessioncontext.srforgid}  OR  'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.srfpersonid}) ) )
			]]>
    </sql>
    <!--数据查询[HTGLDW]-->
    <sql id="HTGLDW" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( ( 'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.srfpersonid})  OR  instr(t1.levelcode, ( select a.levelcode from t_srforg a where a.orgid = #{srf.sessioncontext.srforgid} ) )=1 ) )
			]]>
    </sql>
    <!--数据查询[KZSJZZXZ]-->
    <sql id="KZSJZZXZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
			]]>
    </sql>
    <!--数据查询[KZXLXZ]-->
    <sql id="KZXLXZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
			]]>
    </sql>
    <!--数据查询[Orglist_Profile]-->
    <sql id="Orglist_Profile" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( t1.companyflag=t1.orgid  AND  t1.`STARTSTOPSIGN` = '1' )
			]]>
    </sql>
    <!--数据查询[REP_ORG]-->
    <sql id="REP_ORG" databaseId="mysql">
       <![CDATA[	select t2.orgid ,count(1) as countnum from t_pimperson t left outer join t_srforg t1 on t.ormorgid=t1.orgid left outer join t_srforg t2 on t1.companyflag=t2.orgid  where jlss='10' and t.YGZT not in ('40','50','51','60','130')  group by t2.orgid
			]]>
    </sql>
    <!--数据查询[REP_ORGPNUM]-->
    <sql id="REP_ORGPNUM" databaseId="mysql">
       <![CDATA[	select * from  ( select shortname as orgname from t_srforg where orgcode like 'BG%' ) v1 left outer join  (  select count(1) as countnum from t_pimperson t  where jlss='10' and t.YGZT not in ('40','50','51','60','130')  ) v2 on 1=1
			]]>
    </sql>
    <!--数据查询[SJYXZZ]-->
    <sql id="SJYXZZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( length(t1.ORGCODE)>=5 )
			]]>
    </sql>
    <!--数据查询[SubOrg]-->
    <sql id="SubOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( ( t1.`ORGID` =  #{srf.webcontext.nodeid}  OR  t1.`PORGID` =  #{srf.webcontext.nodeid} ) )
			]]>
    </sql>
    <!--数据查询[SubSubOrg]-->
    <sql id="SubSubOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( ( t1.`ORGID` =  #{srf.webcontext.nodeid}  OR  t1.`PORGID` =  #{srf.webcontext.nodeid} ) )
			]]>
    </sql>
    <!--数据查询[UseByFP]-->
    <sql id="UseByFP" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	( ( length(t1.ORGCODE)>=5   and   ( t1.companyflag  = #{srf.sessioncontext.srforgid}  or 'ibzadmin' = (select a.loginaccountname from t_srfloginaccount a where a.loginaccountid = #{srf.sessioncontext.srfpersonid})  or  ((select a.orgcode from t_srforg a where orgid = #{srf.sessioncontext.srforgid})  in ('10101','100','BG')) ) ) )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BTQY`, t1.`COMPANYFLAG`, t1.`CORRESPONDINGORG`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ERPORGID`, t1.`GSSS`, t1.`LEGALENTITY`, t1.`LEVELCODE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`PX`, t1.`SHORTNAME`, t1.`SSOU`, t1.`STARTSTOPSIGN`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XN`, t1.`ZZCJSJ`, t1.`ZZDZBM`, t1.`ZZDZE`, t1.`ZZDZS`, t1.`ZZDZY`, t1.`ZZLX` FROM `T_SRFORG` t1  LEFT JOIN T_SRFORG t11 ON t1.PORGID = t11.ORGID  
			]]>
    </sql>
</mapper>

