<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TrmTrainDemandSumMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TrmTrainDemandSumResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`HZRQ`, t11.`KCBM`, t1.`ORMORGID`, t31.`ORGNAME` AS `ORMORGNAME`, t1.`TRMTRAINCOURSEID`, t11.`TRMTRAINCOURSENAME`, t1.`TRMTRAINDEMANDID`, t21.`TRMTRAINDEMANDNAME`, t1.`TRMTRAINDEMANDSUMID`, t1.`TRMTRAINDEMANDSUMNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XQRS` FROM `T_TRMTRAINDEMANDSUM` t1  LEFT JOIN T_TRMTRAINCOURSE t11 ON t1.TRMTRAINCOURSEID = t11.TRMTRAINCOURSEID  LEFT JOIN T_TRMTRAINDEMAND t21 ON t1.TRMTRAINDEMANDID = t21.TRMTRAINDEMANDID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  ) t1 where trmtraindemandsumid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TrmTrainDemandSumResultMap" type="cn.ibizlab.ehr.core.trm.domain.TrmTrainDemandSum" autoMapping="true">
        <id property="trmtraindemandsumid" column="trmtraindemandsumid" /><!--主键字段映射-->
		<result property="trmtraincourseid" column="trmtraincourseid" />
		<result property="ormorgid" column="ormorgid" />
		<result property="trmtraindemandid" column="trmtraindemandid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtraincourse" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainCourse" column="trmtraincourseid" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainCourseMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtraindemand" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainDemand" column="trmtraindemandid" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainDemandMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINDEMANDSUM_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="TrmTrainDemandSumResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINDEMANDSUM_TRMTRAINCOURSE_TRMTRAINCOURSEID] -->
	 <select id="selectByTrmtraincourseid" resultMap="TrmTrainDemandSumResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtraincourseid=#{trmtraincourseid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINDEMANDSUM_TRMTRAINDEMAND_TRMTRAINDEMANDID] -->
	 <select id="selectByTrmtraindemandid" resultMap="TrmTrainDemandSumResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtraindemandid=#{trmtraindemandid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TrmTrainDemandSumSearchContext"  resultMap="TrmTrainDemandSumResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`HZRQ`, t11.`KCBM`, t1.`ORMORGID`, t31.`ORGNAME` AS `ORMORGNAME`, t1.`TRMTRAINCOURSEID`, t11.`TRMTRAINCOURSENAME`, t1.`TRMTRAINDEMANDID`, t21.`TRMTRAINDEMANDNAME`, t1.`TRMTRAINDEMANDSUMID`, t1.`TRMTRAINDEMANDSUMNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XQRS` FROM `T_TRMTRAINDEMANDSUM` t1  LEFT JOIN T_TRMTRAINCOURSE t11 ON t1.TRMTRAINCOURSEID = t11.TRMTRAINCOURSEID  LEFT JOIN T_TRMTRAINDEMAND t21 ON t1.TRMTRAINDEMANDID = t21.TRMTRAINDEMANDID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`HZRQ`, t11.`KCBM`, t1.`ORMORGID`, t31.`ORGNAME` AS `ORMORGNAME`, t1.`TRMTRAINCOURSEID`, t11.`TRMTRAINCOURSENAME`, t1.`TRMTRAINDEMANDID`, t21.`TRMTRAINDEMANDNAME`, t1.`TRMTRAINDEMANDSUMID`, t1.`TRMTRAINDEMANDSUMNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XQRS` FROM `T_TRMTRAINDEMANDSUM` t1  LEFT JOIN T_TRMTRAINCOURSE t11 ON t1.TRMTRAINCOURSEID = t11.TRMTRAINCOURSEID  LEFT JOIN T_TRMTRAINDEMAND t21 ON t1.TRMTRAINDEMANDID = t21.TRMTRAINDEMANDID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

