<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.UserObjectMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="UserObjectResultMap" type="cn.ibizlab.ehr.core.common.domain.UserObject" autoMapping="true">
        <id property="userobjectid" column="userobjectid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.UserObjectSearchContext"  resultMap="UserObjectResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.MEMO, t1.OWNERID, t1.OWNERTYPE, t1.SUBTYPE, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t1.USEROBJECTLEVEL, t1.USEROBJECTNAME, t1.USEROBJECTTYPE FROM T_SRFUSEROBJECT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`MEMO`, t1.`OWNERID`, t1.`OWNERTYPE`, t1.`SUBTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`USEROBJECTID`, t1.`USEROBJECTLEVEL`, t1.`USEROBJECTNAME`, t1.`USEROBJECTTYPE` FROM `T_SRFUSEROBJECT` t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.MEMO, t1.OWNERID, t1.OWNERTYPE, t1.SUBTYPE, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t1.USEROBJECTLEVEL, t1.USEROBJECTNAME, t1.USEROBJECTTYPE FROM T_SRFUSEROBJECT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.MEMO, t1.OWNERID, t1.OWNERTYPE, t1.SUBTYPE, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t1.USEROBJECTLEVEL, t1.USEROBJECTNAME, t1.USEROBJECTTYPE FROM T_SRFUSEROBJECT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.MEMO, t1.OWNERID, t1.OWNERTYPE, t1.SUBTYPE, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USEROBJECTID, t1.USEROBJECTLEVEL, t1.USEROBJECTNAME, t1.USEROBJECTTYPE FROM T_SRFUSEROBJECT t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[ENABLE], t1.[MEMO], t1.[OWNERID], t1.[OWNERTYPE], t1.[SUBTYPE], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[USEROBJECTID], t1.[USEROBJECTLEVEL], t1.[USEROBJECTNAME], t1.[USEROBJECTTYPE] FROM [T_SRFUSEROBJECT] t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

</mapper>

