<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.OrgSectorMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="db2">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="mysql">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="oracle">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="postgresql">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="ppas">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="OrgSectorResultMap" databaseId="sqlserver">
        <![CDATA[select * from v_orgsector t1     where  orgsectorid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrgSectorResultMap" type="cn.ibizlab.ehr.core.common.domain.OrgSector" autoMapping="true">
        <id property="orgsectorid" column="orgsectorid" /><!--主键字段映射-->
		<result property="orgid" column="orgid" />
		<result property="reporgsectorid" column="reporgsectorid" />
		<result property="porgsectorid" column="porgsectorid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="porgsector" javaType="cn.ibizlab.ehr.core.common.domain.OrgSector" column="porgsectorid" select="cn.ibizlab.ehr.core.common.mapper.OrgSectorMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="reporgsector" javaType="cn.ibizlab.ehr.core.common.domain.OrgSector" column="reporgsectorid" select="cn.ibizlab.ehr.core.common.mapper.OrgSectorMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="org" javaType="cn.ibizlab.ehr.core.common.domain.Org" column="orgid" select="cn.ibizlab.ehr.core.common.mapper.OrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORGSECTOR_ORGSECTOR_PORGSECTORID] -->
	 <select id="selectByPorgsectorid" resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  porgsectorid=#{orgsectorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORGSECTOR_ORGSECTOR_REPORGSECTORID] -->
	 <select id="selectByReporgsectorid" resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  reporgsectorid=#{orgsectorid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORGSECTOR_ORG_ORGID] -->
	 <select id="selectByOrgid" resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  orgid=#{orgid}
     </select>

    <!--数据集合[CurChild]-->
	 <select id="searchCurChild"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="CurChild" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurOrgOrg]-->
	 <select id="searchCurOrgOrg"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="CurOrgOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[UserOrgSector]-->
	 <select id="searchUserOrgSector"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="UserOrgSector" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[OrgRoot]-->
	 <select id="searchOrgRoot"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="OrgRoot" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[UserOrg]-->
	 <select id="searchUserOrg"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="UserOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurOrg]-->
	 <select id="searchCurOrg"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="CurOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.OrgSectorSearchContext"  resultMap="OrgSectorResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`PORGSECTORID` =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurChild]-->
    <sql id="CurChild" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
				 WHERE 	( t1.[PORGSECTORID] =  #{srf.datacontext.nodeid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`ORGID` =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrg]-->
    <sql id="CurOrg" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
				 WHERE 	( t1.[ORGID] =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrgOrg]-->
    <sql id="CurOrgOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`ORGID` =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[CurOrgOrg]-->
    <sql id="CurOrgOrg" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.orgid} )
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.nodeid}  AND  t1.PORGSECTORID IS NULL )
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`ORGID` =  #{srf.datacontext.nodeid}  AND  t1.`PORGSECTORID` IS NULL )
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.nodeid}  AND  t1.PORGSECTORID IS NULL )
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.nodeid}  AND  t1.PORGSECTORID IS NULL )
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.datacontext.nodeid}  AND  t1.PORGSECTORID IS NULL )
			]]>
    </sql>

    <!--数据查询[OrgRoot]-->
    <sql id="OrgRoot" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
				 WHERE 	( t1.[ORGID] =  #{srf.datacontext.nodeid}  AND  t1.[PORGSECTORID] IS NULL )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`ORGID` =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.ORGID =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrg]-->
    <sql id="UserOrg" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
				 WHERE 	( t1.[ORGID] =  #{srf.sessioncontext.SRFORGID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="db2">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="mysql">
       <![CDATA[	SELECT t1.`BIZCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LEVELCODE`, t1.`MEMO`, t1.`ORDERVALUE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`ORGSECTORID`, t1.`ORGSECTORNAME`, t1.`PORGSECTORID`, t1.`PORGSECTORNAME`, t1.`REPORGSECTORID`, t1.`REPORGSECTORNAME`, t1.`RESERVER`, t1.`RESERVER10`, t1.`RESERVER11`, t1.`RESERVER12`, t1.`RESERVER13`, t1.`RESERVER14`, t1.`RESERVER15`, t1.`RESERVER16`, t1.`RESERVER17`, t1.`RESERVER18`, t1.`RESERVER19`, t1.`RESERVER2`, t1.`RESERVER20`, t1.`RESERVER21`, t1.`RESERVER22`, t1.`RESERVER25`, t1.`RESERVER26`, t1.`RESERVER27`, t1.`RESERVER28`, t1.`RESERVER29`, t1.`RESERVER3`, t1.`RESERVER30`, t1.`RESERVER4`, t1.`RESERVER5`, t1.`RESERVER6`, t1.`RESERVER7`, t1.`RESERVER8`, t1.`RESERVER9`, t1.`SHORTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`VALIDFLAG`, t1.`VIRTUALFLAG` FROM `T_SRFORGSECTOR` t1  
				 WHERE 	( t1.`PORGSECTORID` =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="oracle">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="postgresql">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="ppas">
       <![CDATA[	SELECT t1.BIZCODE, t1.CREATEDATE, t1.CREATEMAN, t1.LEVELCODE, t1.MEMO, t1.ORDERVALUE, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.ORGSECTORID, t1.ORGSECTORNAME, t1.PORGSECTORID, t1.PORGSECTORNAME, t1.REPORGSECTORID, t1.REPORGSECTORNAME, t1.RESERVER, t1.RESERVER10, t1.RESERVER11, t1.RESERVER12, t1.RESERVER13, t1.RESERVER14, t1.RESERVER15, t1.RESERVER16, t1.RESERVER17, t1.RESERVER18, t1.RESERVER19, t1.RESERVER2, t1.RESERVER20, t1.RESERVER21, t1.RESERVER22, t1.RESERVER25, t1.RESERVER26, t1.RESERVER27, t1.RESERVER28, t1.RESERVER29, t1.RESERVER3, t1.RESERVER30, t1.RESERVER4, t1.RESERVER5, t1.RESERVER6, t1.RESERVER7, t1.RESERVER8, t1.RESERVER9, t1.SHORTNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.VALIDFLAG, t1.VIRTUALFLAG FROM T_SRFORGSECTOR t1  
				 WHERE 	( t1.PORGSECTORID =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

    <!--数据查询[UserOrgSector]-->
    <sql id="UserOrgSector" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[BIZCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[LEVELCODE], t1.[MEMO], t1.[ORDERVALUE], t1.[ORGCODE], t1.[ORGID], t1.[ORGNAME], t1.[ORGSECTORID], t1.[ORGSECTORNAME], t1.[PORGSECTORID], t1.[PORGSECTORNAME], t1.[REPORGSECTORID], t1.[REPORGSECTORNAME], t1.[RESERVER], t1.[RESERVER10], t1.[RESERVER11], t1.[RESERVER12], t1.[RESERVER13], t1.[RESERVER14], t1.[RESERVER15], t1.[RESERVER16], t1.[RESERVER17], t1.[RESERVER18], t1.[RESERVER19], t1.[RESERVER2], t1.[RESERVER20], t1.[RESERVER21], t1.[RESERVER22], t1.[RESERVER25], t1.[RESERVER26], t1.[RESERVER27], t1.[RESERVER28], t1.[RESERVER29], t1.[RESERVER3], t1.[RESERVER30], t1.[RESERVER4], t1.[RESERVER5], t1.[RESERVER6], t1.[RESERVER7], t1.[RESERVER8], t1.[RESERVER9], t1.[SHORTNAME], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[VALIDFLAG], t1.[VIRTUALFLAG] FROM [T_SRFORGSECTOR] t1  
				 WHERE 	( t1.[PORGSECTORID] =  #{srf.sessioncontext.SRFORGSECTORID} )
			]]>
    </sql>

</mapper>

