<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.UserRoleMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="db2">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="mysql">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="oracle">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="postgresql">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="ppas">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="UserRoleResultMap" databaseId="sqlserver">
        <![CDATA[select * from v_userrole t1     where  userroleid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="UserRoleResultMap" type="cn.ibizlab.ehr.core.common.domain.UserRole" autoMapping="true">
        <id property="userroleid" column="userroleid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[LevelC]-->
	 <select id="searchLevelC"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleSearchContext"  resultMap="UserRoleResultMap">
         select t1.* from (
                <include refid="LevelC" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleSearchContext"  resultMap="UserRoleResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ISSYSTEM, t1.MEMO, t1.MENUMODE, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERROLEID, t1.USERROLENAME, t1.USERROLETYPE FROM T_SRFUSERROLE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ISSYSTEM`, t1.`MEMO`, t1.`MENUMODE`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`USERROLEID`, t1.`USERROLENAME`, t1.`USERROLETYPE` FROM `T_SRFUSERROLE` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ISSYSTEM, t1.MEMO, t1.MENUMODE, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERROLEID, t1.USERROLENAME, t1.USERROLETYPE FROM T_SRFUSERROLE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ISSYSTEM AS ISSYSTEM, t1.MEMO AS MEMO, t1.MENUMODE AS MENUMODE, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERDATA AS USERDATA, t1.USERDATA2 AS USERDATA2, t1.USERROLEID AS USERROLEID, t1.USERROLENAME AS USERROLENAME, t1.USERROLETYPE AS USERROLETYPE FROM T_SRFUSERROLE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.ISSYSTEM AS ISSYSTEM, t1.MEMO AS MEMO, t1.MENUMODE AS MENUMODE, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERDATA AS USERDATA, t1.USERDATA2 AS USERDATA2, t1.USERROLEID AS USERROLEID, t1.USERROLENAME AS USERROLENAME, t1.USERROLETYPE AS USERROLETYPE FROM T_SRFUSERROLE t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[ISSYSTEM], t1.[MEMO], t1.[MENUMODE], t1.[RESERVER], t1.[RESERVER2], t1.[RESERVER3], t1.[RESERVER4], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERDATA], t1.[USERDATA2], t1.[USERROLEID], t1.[USERROLENAME], t1.[USERROLETYPE] FROM [T_SRFUSERROLE] t1  
			]]>
    </sql>

    <!--数据查询[LevelC]-->
    <sql id="LevelC" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ISSYSTEM`, t1.`MEMO`, t1.`MENUMODE`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERDATA`, t1.`USERDATA2`, t1.`USERROLEID`, t1.`USERROLENAME`, t1.`USERROLETYPE` FROM `T_SRFUSERROLE` t1  
				 WHERE 	( ( 'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.SRFPERSONID')})  OR  ( t1.`USERDATA` = '20'  AND  exists(select 1 from t_srfuserroledetail t2 where t2.userroleid = 'BF5D496B-8B7A-4C64-AA5B-82A6D8C18DF2' and t2.userobjectid =#{srf.sessioncontext.SRFPERSONID')}) )  OR  ( t1.`USERDATA` IS NOT NULL  AND  exists(select 1 from t_srfuserroledetail t2 where t2.userroleid = '32A40E9C-9BC9-41AD-ACDD-DCE44CB4B16C' and t2.userobjectid =#{srf.sessioncontext.SRFPERSONID')}) ) ) )
			]]>
    </sql>

    <!--数据查询[LevelC]-->
    <sql id="LevelC" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ISSYSTEM, t1.MEMO, t1.MENUMODE, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERDATA, t1.USERDATA2, t1.USERROLEID, t1.USERROLENAME, t1.USERROLETYPE FROM T_SRFUSERROLE t1  
				 WHERE 	( ( 'ibzadmin' = (select t.loginaccountname from t_srfloginaccount t where t.loginaccountid = #{srf.sessioncontext.SRFPERSONID')})  OR  ( t1.USERDATA = '20'  AND  exists(select 1 from t_srfuserroledetail t2 where t2.userroleid = 'BF5D496B-8B7A-4C64-AA5B-82A6D8C18DF2' and t2.userobjectid =#{srf.sessioncontext.SRFPERSONID')}) )  OR  ( t1.USERDATA IS NOT NULL  AND  exists(select 1 from t_srfuserroledetail t2 where t2.userroleid = '32A40E9C-9BC9-41AD-ACDD-DCE44CB4B16C' and t2.userobjectid =#{srf.sessioncontext.SRFPERSONID')}) ) ) )
			]]>
    </sql>

</mapper>

