// this is less

.tabexppanel {
    height: 100%;
    >.ivu-tabs-bar {
        margin-bottom: 0px;
    }
    >.ivu-tabs-content {
        height: calc(100% - 36px);
        padding: 0px !important;
        .ivu-tabs-tabpane {
            height: 100%;
        }
    }
}