<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmQyglMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmQyglResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZSM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMQYGLID`, t1.`ORMQYGLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMQYGL` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  ) t1 where ormqyglid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmQyglResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmQygl" autoMapping="true">
        <id property="ormqyglid" column="ormqyglid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMQYGL_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="OrmQyglResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmQyglSearchContext"  resultMap="OrmQyglResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZSM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMQYGLID`, t1.`ORMQYGLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMQYGL` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZSM`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`ORMQYGLID`, t1.`ORMQYGLNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_ORMQYGL` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  
			]]>
    </sql>
</mapper>

