<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFIAActionMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFIAActionResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFIAAction" autoMapping="true">
        <id property="wfiaactionid" column="wfiaactionid" /><!--主键字段映射-->
		<result property="wfstepid" column="wfstepid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfstep" javaType="cn.ibizlab.ehr.core.wf.domain.WFStep" column="wfstepid" select="cn.ibizlab.ehr.core.wf.mapper.WFStepMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFIAACTION_WFSTEP_WFSTEPID] -->
	 <select id="selectByWfstepid" resultMap="WFIAActionResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfstepid=#{wfstepid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFIAActionSearchContext"  resultMap="WFIAActionResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.ACTIONCOUNT, t1.ACTIONLOGICNAME, t1.ACTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.FAHELPER, t1.NEXTCONDITION, t1.NEXTTO, t1.ORDERFLAG, t1.PAGEPATH, t1.PANELID, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFIAACTIONID, t1.WFIAACTIONNAME, t1.WFSTEPID, t1.WFSTEPNAME FROM T_SRFWFIAACTION t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ACTIONCOUNT`, t1.`ACTIONLOGICNAME`, t1.`ACTIONNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FAHELPER`, t1.`NEXTCONDITION`, t1.`NEXTTO`, t1.`ORDERFLAG`, t1.`PAGEPATH`, t1.`PANELID`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WFIAACTIONID`, t1.`WFIAACTIONNAME`, t1.`WFSTEPID`, t1.`WFSTEPNAME` FROM `T_WFIAACTION` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.ACTIONCOUNT, t1.ACTIONLOGICNAME, t1.ACTIONNAME, t1.CREATEDATE, t1.CREATEMAN, t1.FAHELPER, t1.NEXTCONDITION, t1.NEXTTO, t1.ORDERFLAG, t1.PAGEPATH, t1.PANELID, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFIAACTIONID, t1.WFIAACTIONNAME, t1.WFSTEPID, t1.WFSTEPNAME FROM T_WFIAACTION t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.ACTIONCOUNT AS ACTIONCOUNT, t1.ACTIONLOGICNAME AS ACTIONLOGICNAME, t1.ACTIONNAME AS ACTIONNAME, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FAHELPER AS FAHELPER, t1.NEXTCONDITION AS NEXTCONDITION, t1.NEXTTO AS NEXTTO, t1.ORDERFLAG AS ORDERFLAG, t1.PAGEPATH AS PAGEPATH, t1.PANELID AS PANELID, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFIAACTIONID AS WFIAACTIONID, t1.WFIAACTIONNAME AS WFIAACTIONNAME, t1.WFSTEPID AS WFSTEPID, t1.WFSTEPNAME AS WFSTEPNAME FROM T_SRFWFIAACTION t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.ACTIONCOUNT AS ACTIONCOUNT, t1.ACTIONLOGICNAME AS ACTIONLOGICNAME, t1.ACTIONNAME AS ACTIONNAME, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FAHELPER AS FAHELPER, t1.NEXTCONDITION AS NEXTCONDITION, t1.NEXTTO AS NEXTTO, t1.ORDERFLAG AS ORDERFLAG, t1.PAGEPATH AS PAGEPATH, t1.PANELID AS PANELID, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFIAACTIONID AS WFIAACTIONID, t1.WFIAACTIONNAME AS WFIAACTIONNAME, t1.WFSTEPID AS WFSTEPID, t1.WFSTEPNAME AS WFSTEPNAME FROM T_SRFWFIAACTION t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[ACTIONCOUNT], t1.[ACTIONLOGICNAME], t1.[ACTIONNAME], t1.[CREATEDATE], t1.[CREATEMAN], t1.[FAHELPER], t1.[NEXTCONDITION], t1.[NEXTTO], t1.[ORDERFLAG], t1.[PAGEPATH], t1.[PANELID], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WFIAACTIONID], t1.[WFIAACTIONNAME], t1.[WFSTEPID], t1.[WFSTEPNAME] FROM [T_SRFWFIAACTION] t1  
			]]>
    </sql>

</mapper>

