<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.sal.mapper.SalItemMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SalItemResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`SALITEMID`, t1.`SALITEMNAME`, t1.`SALSUBJECTID`, t11.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_SALITEM` t1  LEFT JOIN T_SALSUBJECT t11 ON t1.SALSUBJECTID = t11.SALSUBJECTID  ) t1 where salitemid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SalItemResultMap" type="cn.ibizlab.ehr.core.sal.domain.SalItem" autoMapping="true">
        <id property="salitemid" column="salitemid" /><!--主键字段映射-->
		<result property="salsubjectid" column="salsubjectid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="salsubject" javaType="cn.ibizlab.ehr.core.sal.domain.SalSubject" column="salsubjectid" select="cn.ibizlab.ehr.core.sal.mapper.SalSubjectMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALITEM_SALSUBJECT_SALSUBJECTID] -->
	 <select id="selectBySalsubjectid" resultMap="SalItemResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  salsubjectid=#{salsubjectid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.sal.filter.SalItemSearchContext"  resultMap="SalItemResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`SALITEMID`, t1.`SALITEMNAME`, t1.`SALSUBJECTID`, t11.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_SALITEM` t1  LEFT JOIN T_SALSUBJECT t11 ON t1.SALSUBJECTID = t11.SALSUBJECTID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`SALITEMID`, t1.`SALITEMNAME`, t1.`SALSUBJECTID`, t11.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XH` FROM `T_SALITEM` t1  LEFT JOIN T_SALSUBJECT t11 ON t1.SALSUBJECTID = t11.SALSUBJECTID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

