<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.wf.mapper.WFActionMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFActionResultMap" type="cn.ibizlab.ehr.core.wf.domain.WFAction" autoMapping="true">
        <id property="wfactionid" column="wfactionid" /><!--主键字段映射-->
		<result property="wfworkflowid" column="wfworkflowid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="wfworkflow" javaType="cn.ibizlab.ehr.core.wf.domain.WFWorkflow" column="wfworkflowid" select="cn.ibizlab.ehr.core.wf.mapper.WFWorkflowMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WFACTION_WFWORKFLOW_WFWORKFLOWID] -->
	 <select id="selectByWfworkflowid" resultMap="WFActionResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  wfworkflowid=#{wfworkflowid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.wf.filter.WFActionSearchContext"  resultMap="WFActionResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.ACTIONCODE, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFACTIONID, t1.WFACTIONNAME, t1.WFWORKFLOWID, t11.WFWORKFLOWNAME FROM T_SRFWFACTION t1  LEFT JOIN T_SRFWFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ACTIONCODE`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`MEMO`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WFACTIONID`, t1.`WFACTIONNAME`, t1.`WFWORKFLOWID`, t11.`WFWORKFLOWNAME` FROM `T_WFACTION` t1  LEFT JOIN T_WFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.ACTIONCODE, t1.CREATEDATE, t1.CREATEMAN, t1.MEMO, t1.UPDATEDATE, t1.UPDATEMAN, t1.WFACTIONID, t1.WFACTIONNAME, t1.WFWORKFLOWID, t11.WFWORKFLOWNAME FROM T_SRFWFACTION t1  LEFT JOIN T_SRFWFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.ACTIONCODE AS ACTIONCODE, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.MEMO AS MEMO, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFACTIONID AS WFACTIONID, t1.WFACTIONNAME AS WFACTIONNAME, t1.WFWORKFLOWID AS WFWORKFLOWID, t11.WFWORKFLOWNAME AS WFWORKFLOWNAME FROM T_SRFWFACTION t1  LEFT JOIN T_SRFWFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.ACTIONCODE AS ACTIONCODE, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.MEMO AS MEMO, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.WFACTIONID AS WFACTIONID, t1.WFACTIONNAME AS WFACTIONNAME, t1.WFWORKFLOWID AS WFWORKFLOWID, t11.WFWORKFLOWNAME AS WFWORKFLOWNAME FROM T_SRFWFACTION t1  LEFT JOIN T_SRFWFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[ACTIONCODE], t1.[CREATEDATE], t1.[CREATEMAN], t1.[MEMO], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WFACTIONID], t1.[WFACTIONNAME], t1.[WFWORKFLOWID], t11.[WFWORKFLOWNAME] FROM [T_SRFWFACTION] t1  LEFT JOIN T_SRFWFWORKFLOW t11 ON t1.WFWORKFLOWID = t11.WFWORKFLOWID  
			]]>
    </sql>

</mapper>

