<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.DataSyncOut2Mapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DataSyncOut2ResultMap" type="cn.ibizlab.ehr.core.common.domain.DataSyncOut2" autoMapping="true">
        <id property="datasyncout2id" column="datasyncout2id" /><!--主键字段映射-->
		<result property="deid" column="deid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="de" javaType="cn.ibizlab.ehr.core.demodel.domain.DataEntity" column="deid" select="cn.ibizlab.ehr.core.demodel.mapper.DataEntityMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_DATASYNCOUT2_DATAENTITY_DEID] -->
	 <select id="selectByDeid" resultMap="DataSyncOut2ResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  deid=#{deid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.DataSyncOut2SearchContext"  resultMap="DataSyncOut2ResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DATAKEY, t1.DATASYNCOUT2ID, t1.DATASYNCOUT2NAME, t1.DEID, t1.DENAME, t1.ERROR, t1.EVENTTYPE, t1.SYNCAGENT, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFDATASYNCOUT2 t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATAKEY`, t1.`DATASYNCOUT2ID`, t1.`DATASYNCOUT2NAME`, t1.`DEID`, t1.`DENAME`, t1.`ERROR`, t1.`EVENTTYPE`, t1.`SYNCAGENT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SRFDATASYNCOUT2` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.DATAKEY, t1.DATASYNCOUT2ID, t1.DATASYNCOUT2NAME, t1.DEID, t1.DENAME, t1.ERROR, t1.EVENTTYPE, t1.SYNCAGENT, t1.UPDATEDATE, t1.UPDATEMAN FROM T_DATASYNCOUT2 t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DATAKEY AS DATAKEY, t1.DATASYNCOUT2ID AS DATASYNCOUT2ID, t1.DATASYNCOUT2NAME AS DATASYNCOUT2NAME, t1.DEID AS DEID, t1.DENAME AS DENAME, t1.ERROR AS ERROR, t1.EVENTTYPE AS EVENTTYPE, t1.SYNCAGENT AS SYNCAGENT, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFDATASYNCOUT2 t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.DATAKEY AS DATAKEY, t1.DATASYNCOUT2ID AS DATASYNCOUT2ID, t1.DATASYNCOUT2NAME AS DATASYNCOUT2NAME, t1.DEID AS DEID, t1.DENAME AS DENAME, t1.ERROR AS ERROR, t1.EVENTTYPE AS EVENTTYPE, t1.SYNCAGENT AS SYNCAGENT, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFDATASYNCOUT2 t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[DATAKEY], t1.[DATASYNCOUT2ID], t1.[DATASYNCOUT2NAME], t1.[DEID], t1.[DENAME], t1.[ERROR], t1.[EVENTTYPE], t1.[SYNCAGENT], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFDATASYNCOUT2] t1  
			]]>
    </sql>

</mapper>

