<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.LoginLogMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="LoginLogResultMap" type="cn.ibizlab.ehr.core.common.domain.LoginLog" autoMapping="true">
        <id property="loginlogid" column="loginlogid" /><!--主键字段映射-->
		<result property="loginaccountid" column="loginaccountid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="loginaccount" javaType="cn.ibizlab.ehr.core.common.domain.LoginAccount" column="loginaccountid" select="cn.ibizlab.ehr.core.common.mapper.LoginAccountMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_LOGINLOG_LOGINACCOUNT_LOGINACCOUNTID] -->
	 <select id="selectByLoginaccountid" resultMap="LoginLogResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  loginaccountid=#{loginaccountid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.LoginLogSearchContext"  resultMap="LoginLogResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.IPADDRESS, t1.LOGINACCOUNTID, t1.LOGINACCOUNTNAME, t1.LOGINLOGID, t1.LOGINLOGNAME, t1.LOGINTIME, t1.LOGOUTTIME, t1.SERVERADDR, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERAGENT FROM T_SRFLOGINLOG t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`IPADDRESS`, t1.`LOGINACCOUNTID`, t1.`LOGINACCOUNTNAME`, t1.`LOGINLOGID`, t1.`LOGINLOGNAME`, t1.`LOGINTIME`, t1.`LOGOUTTIME`, t1.`SERVERADDR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERAGENT` FROM `T_LOGINLOG` t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.IPADDRESS, t1.LOGINACCOUNTID, t1.LOGINACCOUNTNAME, t1.LOGINLOGID, t1.LOGINLOGNAME, t1.LOGINTIME, t1.LOGOUTTIME, t1.SERVERADDR, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERAGENT FROM T_SRFLOGINLOG t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.IPADDRESS AS IPADDRESS, t1.LOGINACCOUNTID AS LOGINACCOUNTID, t1.LOGINACCOUNTNAME AS LOGINACCOUNTNAME, t1.LOGINLOGID AS LOGINLOGID, t1.LOGINLOGNAME AS LOGINLOGNAME, t1.LOGINTIME AS LOGINTIME, t1.LOGOUTTIME AS LOGOUTTIME, t1.SERVERADDR AS SERVERADDR, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERAGENT AS USERAGENT FROM T_SRFLOGINLOG t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.IPADDRESS AS IPADDRESS, t1.LOGINACCOUNTID AS LOGINACCOUNTID, t1.LOGINACCOUNTNAME AS LOGINACCOUNTNAME, t1.LOGINLOGID AS LOGINLOGID, t1.LOGINLOGNAME AS LOGINLOGNAME, t1.LOGINTIME AS LOGINTIME, t1.LOGOUTTIME AS LOGOUTTIME, t1.SERVERADDR AS SERVERADDR, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERAGENT AS USERAGENT FROM T_SRFLOGINLOG t1  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[IPADDRESS], t1.[LOGINACCOUNTID], t1.[LOGINACCOUNTNAME], t1.[LOGINLOGID], t1.[LOGINLOGNAME], t1.[LOGINTIME], t1.[LOGOUTTIME], t1.[SERVERADDR], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERAGENT] FROM [T_SRFLOGINLOG] t1  
			]]>
    </sql>

</mapper>

