<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.par.mapper.ParLhmbmxMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="ParLhmbmxResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZFZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FJ`, t1.`JZYQ`, t1.`KHBF`, t1.`PARJXLHMBID`, t11.`PARJXLHMBNAME`, t1.`PARLHMBMXID`, t1.`PARLHMBMXNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WCBZ`, t1.`XH` FROM `T_PARLHMBMX` t1  LEFT JOIN T_PARJXLHMB t11 ON t1.PARJXLHMBID = t11.PARJXLHMBID  ) t1 where parlhmbmxid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ParLhmbmxResultMap" type="cn.ibizlab.ehr.core.par.domain.ParLhmbmx" autoMapping="true">
        <id property="parlhmbmxid" column="parlhmbmxid" /><!--主键字段映射-->
		<result property="parjxlhmbid" column="parjxlhmbid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parjxlhmb" javaType="cn.ibizlab.ehr.core.par.domain.ParJxlhmb" column="parjxlhmbid" select="cn.ibizlab.ehr.core.par.mapper.ParJxlhmbMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PARLHMBMX_PARJXLHMB_PARJXLHMBID] -->
	 <select id="selectByParjxlhmbid" resultMap="ParLhmbmxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  parjxlhmbid=#{parjxlhmbid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.par.filter.ParLhmbmxSearchContext"  resultMap="ParLhmbmxResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZFZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FJ`, t1.`JZYQ`, t1.`KHBF`, t1.`PARJXLHMBID`, t11.`PARJXLHMBNAME`, t1.`PARLHMBMXID`, t1.`PARLHMBMXNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WCBZ`, t1.`XH` FROM `T_PARLHMBMX` t1  LEFT JOIN T_PARJXLHMB t11 ON t1.PARJXLHMBID = t11.PARJXLHMBID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZFZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FJ`, t1.`JZYQ`, t1.`KHBF`, t1.`PARJXLHMBID`, t11.`PARJXLHMBNAME`, t1.`PARLHMBMXID`, t1.`PARLHMBMXNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WCBZ`, t1.`XH` FROM `T_PARLHMBMX` t1  LEFT JOIN T_PARJXLHMB t11 ON t1.PARJXLHMBID = t11.PARJXLHMBID  
			]]>
    </sql>
</mapper>

