<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.att.mapper.AttEndenceSetupMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="AttEndenceSetupResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  ) t1 where attendencesetupid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="AttEndenceSetupResultMap" type="cn.ibizlab.ehr.core.att.domain.AttEndenceSetup" autoMapping="true">
        <id property="attendencesetupid" column="attendencesetupid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
		<result property="pimpersonid" column="pimpersonid" />
		<result property="vacholidayrulesid" column="vacholidayrulesid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="vacholidayrules" javaType="cn.ibizlab.ehr.core.vac.domain.VacHolidayRules" column="vacholidayrulesid" select="cn.ibizlab.ehr.core.vac.mapper.VacHolidayRulesMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDENCESETUP_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDENCESETUP_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDENCESETUP_VACHOLIDAYRULES_VACHOLIDAYRULESID] -->
	 <select id="selectByVacholidayrulesid" resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  vacholidayrulesid=#{vacholidayrulesid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndenceSetupSearchContext"  resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurOrgKQSZ]-->
	 <select id="searchCurOrgKQSZ"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndenceSetupSearchContext"  resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="CurOrgKQSZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[KQYBXKQB]-->
	 <select id="searchKQYBXKQB"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndenceSetupSearchContext"  resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="KQYBXKQB" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[KQYCZKQSZ]-->
	 <select id="searchKQYCZKQSZ"  parameterType="cn.ibizlab.ehr.core.att.filter.AttEndenceSetupSearchContext"  resultMap="AttEndenceSetupResultMap">
         select t1.* from (
                <include refid="KQYCZKQSZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurOrgKQSZ]-->
    <sql id="CurOrgKQSZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( ( t1.`ORMORGID` =  #{srf.webcontext.nodeid}  OR  EXISTS (select orgid from T_SRFORG where ORGCODE='BG' and orgid=  #{srf.webcontext.nodeid})  OR  t1.ORMORGID IN (select orgid from T_SRFORG where  COMPANYFLAG= #{srf.webcontext.nodeid})  OR  t1.ORMORGID IN (select orgid from T_SRFORG where  porgid= #{srf.webcontext.nodeid}) ) )
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[KQYBXKQB]-->
    <sql id="KQYBXKQB" databaseId="mysql">
       <![CDATA[	SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( ( t1.`ORMORGID` =  #{srf.sessioncontext.srforgid}  OR  instr(t21.levelcode, ( select a.levelcode from t_srforg a where a.orgid = #{srf.sessioncontext.srforgid} ) )=1 ) )
			]]>
    </sql>
    <!--数据查询[KQYCZKQSZ]-->
    <sql id="KQYCZKQSZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( t1.`PIMPERSONID` =  #{srf.sessioncontext.srfpersonid} )
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`ALLOWOUTWORK`, t1.`ATTENDENCESETUPID`, t1.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t1.`ENABLE`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t31.`ZZDZS` AS `ORMORGNAME`, t1.`PIMPERSONID`, t11.`PIMPERSONNAME`, t31.`PORGID`, t1.`SBSJ`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACHOLIDAYRULESID`, t21.`VACHOLIDAYRULESNAME`, t1.`XBSJ` FROM `T_ATTENDENCESETUP` t1  LEFT JOIN T_PIMPERSON t11 ON t1.PIMPERSONID = t11.PIMPERSONID  LEFT JOIN T_VACHOLIDAYRULES t21 ON t1.VACHOLIDAYRULESID = t21.VACHOLIDAYRULESID  LEFT JOIN T_SRFORG t31 ON t1.ORMORGID = t31.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

