<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.att.mapper.AttendRecordDetailMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="AttendRecordDetailResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ATTENDANCERECORDID`, t11.`ATTENDANCERECORDNAME`, t1.`ATTENDRECORDDETAILID`, t1.`ATTENDRECORDDETAILNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LAT`, t1.`LNG`, t1.`SIGNLOCATION`, t1.`SIGNTIME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ATTENDRECORDDETAIL` t1  LEFT JOIN T_ATTENDANCERECORD t11 ON t1.ATTENDANCERECORDID = t11.ATTENDANCERECORDID  ) t1 where attendrecorddetailid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="AttendRecordDetailResultMap" type="cn.ibizlab.ehr.core.att.domain.AttendRecordDetail" autoMapping="true">
        <id property="attendrecorddetailid" column="attendrecorddetailid" /><!--主键字段映射-->
		<result property="attendancerecordid" column="attendancerecordid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="attendancerecord" javaType="cn.ibizlab.ehr.core.att.domain.AttEndanceRecord" column="attendancerecordid" select="cn.ibizlab.ehr.core.att.mapper.AttEndanceRecordMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDRECORDDETAIL_ATTENDANCERECORD_ATTENDANCERECORDID] -->
	 <select id="selectByAttendancerecordid" resultMap="AttendRecordDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  attendancerecordid=#{attendancerecordid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.att.filter.AttendRecordDetailSearchContext"  resultMap="AttendRecordDetailResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCERECORDID`, t11.`ATTENDANCERECORDNAME`, t1.`ATTENDRECORDDETAILID`, t1.`ATTENDRECORDDETAILNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LAT`, t1.`LNG`, t1.`SIGNLOCATION`, t1.`SIGNTIME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ATTENDRECORDDETAIL` t1  LEFT JOIN T_ATTENDANCERECORD t11 ON t1.ATTENDANCERECORDID = t11.ATTENDANCERECORDID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCERECORDID`, t11.`ATTENDANCERECORDNAME`, t1.`ATTENDRECORDDETAILID`, t1.`ATTENDRECORDDETAILNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`LAT`, t1.`LNG`, t1.`SIGNLOCATION`, t1.`SIGNTIME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_ATTENDRECORDDETAIL` t1  LEFT JOIN T_ATTENDANCERECORD t11 ON t1.ATTENDANCERECORDID = t11.ATTENDANCERECORDID  
			]]>
    </sql>
</mapper>

