.view-go-back {
    width: 50px;
    height: 52px;
    font-size: 26px;
    text-align: center;
    color: #304265;
    cursor: pointer;
    border-right: 1px solid rgba(224, 227, 233, 0.7);
    margin-right: 10px;
    margin-top: -6px;
    margin-left: -6px;
    margin-bottom: -6px;

    >i {
        margin-top: 12px;
    }
}

.view-go-back:hover {
    background: rgba(204,214,229,.22);
}