<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.orm.mapper.OrmZwdqgzMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="OrmZwdqgzResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NL`, t1.`ORMORGID` AS `ORGID`, t1.`ORMDUTYID`, t31.`ORMDUTYNAME`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`ORMRANKID`, t11.`ORMRANKNAME`, t1.`ORMZWDQGZID`, t1.`ORMZWDQGZNAME`, t1.`SFMRDQNL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`ZWBM`, t1.`ZWLX`, t21.`ZZDZS` FROM `T_ORMZWDQGZ` t1  LEFT JOIN T_ORMRANK t11 ON t1.ORMRANKID = t11.ORMRANKID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_ORMDUTY t31 ON t1.ORMDUTYID = t31.ORMDUTYID  ) t1 where ormzwdqgzid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="OrmZwdqgzResultMap" type="cn.ibizlab.ehr.core.orm.domain.OrmZwdqgz" autoMapping="true">
        <id property="ormzwdqgzid" column="ormzwdqgzid" /><!--主键字段映射-->
		<result property="ormrankid" column="ormrankid" />
		<result property="ormorgid" column="ormorgid" />
		<result property="ormdutyid" column="ormdutyid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormduty" javaType="cn.ibizlab.ehr.core.orm.domain.OrmDuty" column="ormdutyid" select="cn.ibizlab.ehr.core.orm.mapper.OrmDutyMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormrank" javaType="cn.ibizlab.ehr.core.orm.domain.OrmRank" column="ormrankid" select="cn.ibizlab.ehr.core.orm.mapper.OrmRankMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMZWDQGZ_ORMDUTY_ORMDUTYID] -->
	 <select id="selectByOrmdutyid" resultMap="OrmZwdqgzResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormdutyid=#{ormdutyid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMZWDQGZ_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="OrmZwdqgzResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ORMZWDQGZ_ORMRANK_ORMRANKID] -->
	 <select id="selectByOrmrankid" resultMap="OrmZwdqgzResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormrankid=#{ormrankid}
     </select>

    <!--数据集合[DQYHZZ]-->
	 <select id="searchDQYHZZ"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmZwdqgzSearchContext"  resultMap="OrmZwdqgzResultMap">
         select t1.* from (
                <include refid="DQYHZZ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.orm.filter.OrmZwdqgzSearchContext"  resultMap="OrmZwdqgzResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NL`, t1.`ORMORGID` AS `ORGID`, t1.`ORMDUTYID`, t31.`ORMDUTYNAME`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`ORMRANKID`, t11.`ORMRANKNAME`, t1.`ORMZWDQGZID`, t1.`ORMZWDQGZNAME`, t1.`SFMRDQNL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`ZWBM`, t1.`ZWLX`, t21.`ZZDZS` FROM `T_ORMZWDQGZ` t1  LEFT JOIN T_ORMRANK t11 ON t1.ORMRANKID = t11.ORMRANKID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_ORMDUTY t31 ON t1.ORMDUTYID = t31.ORMDUTYID  
			]]>
    </sql>
    <!--数据查询[DQYHZZ]-->
    <sql id="DQYHZZ" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NL`, t1.`ORMORGID` AS `ORGID`, t1.`ORMDUTYID`, t31.`ORMDUTYNAME`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`ORMRANKID`, t11.`ORMRANKNAME`, t1.`ORMZWDQGZID`, t1.`ORMZWDQGZNAME`, t1.`SFMRDQNL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`ZWBM`, t1.`ZWLX`, t21.`ZZDZS` FROM `T_ORMZWDQGZ` t1  LEFT JOIN T_ORMRANK t11 ON t1.ORMRANKID = t11.ORMRANKID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_ORMDUTY t31 ON t1.ORMDUTYID = t31.ORMDUTYID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`NL`, t1.`ORMORGID` AS `ORGID`, t1.`ORMDUTYID`, t31.`ORMDUTYNAME`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`ORMRANKID`, t11.`ORMRANKNAME`, t1.`ORMZWDQGZID`, t1.`ORMZWDQGZNAME`, t1.`SFMRDQNL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`XB`, t1.`ZWBM`, t1.`ZWLX`, t21.`ZZDZS` FROM `T_ORMZWDQGZ` t1  LEFT JOIN T_ORMRANK t11 ON t1.ORMRANKID = t11.ORMRANKID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_ORMDUTY t31 ON t1.ORMDUTYID = t31.ORMDUTYID  
			]]>
    </sql>
</mapper>

