<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.sal.mapper.SalItemSubMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SalItemSubResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`SALITEMID`, t21.`SALITEMNAME`, t1.`SALITEMSUBID`, t1.`SALITEMSUBNAME`, t1.`SALSUBJECTID`, t31.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALITEMSUB` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_SALITEM t21 ON t1.SALITEMID = t21.SALITEMID  LEFT JOIN T_SALSUBJECT t31 ON t1.SALSUBJECTID = t31.SALSUBJECTID  ) t1 where salitemsubid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SalItemSubResultMap" type="cn.ibizlab.ehr.core.sal.domain.SalItemSub" autoMapping="true">
        <id property="salitemsubid" column="salitemsubid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
		<result property="salsubjectid" column="salsubjectid" />
		<result property="salitemid" column="salitemid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="salitem" javaType="cn.ibizlab.ehr.core.sal.domain.SalItem" column="salitemid" select="cn.ibizlab.ehr.core.sal.mapper.SalItemMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="salsubject" javaType="cn.ibizlab.ehr.core.sal.domain.SalSubject" column="salsubjectid" select="cn.ibizlab.ehr.core.sal.mapper.SalSubjectMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALITEMSUB_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="SalItemSubResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALITEMSUB_SALITEM_SALITEMID] -->
	 <select id="selectBySalitemid" resultMap="SalItemSubResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  salitemid=#{salitemid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SALITEMSUB_SALSUBJECT_SALSUBJECTID] -->
	 <select id="selectBySalsubjectid" resultMap="SalItemSubResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  salsubjectid=#{salsubjectid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.sal.filter.SalItemSubSearchContext"  resultMap="SalItemSubResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`SALITEMID`, t21.`SALITEMNAME`, t1.`SALITEMSUBID`, t1.`SALITEMSUBNAME`, t1.`SALSUBJECTID`, t31.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALITEMSUB` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_SALITEM t21 ON t1.SALITEMID = t21.SALITEMID  LEFT JOIN T_SALSUBJECT t31 ON t1.SALSUBJECTID = t31.SALSUBJECTID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ORMORGID`, t11.`ORGNAME` AS `ORMORGNAME`, t1.`SALITEMID`, t21.`SALITEMNAME`, t1.`SALITEMSUBID`, t1.`SALITEMSUBNAME`, t1.`SALSUBJECTID`, t31.`SALSUBJECTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SALITEMSUB` t1  LEFT JOIN T_SRFORG t11 ON t1.ORMORGID = t11.ORGID  LEFT JOIN T_SALITEM t21 ON t1.SALITEMID = t21.SALITEMID  LEFT JOIN T_SALSUBJECT t31 ON t1.SALSUBJECTID = t31.SALSUBJECTID  
			]]>
    </sql>
</mapper>

