<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.MsgAccountMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="db2">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="mysql">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="oracle">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="postgresql">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="ppas">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgAccountResultMap" databaseId="sqlserver">
        <![CDATA[select * from v_msgaccount t1     where  msgaccountid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="MsgAccountResultMap" type="cn.ibizlab.ehr.core.common.domain.MsgAccount" autoMapping="true">
        <id property="msgaccountid" column="msgaccountid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.MsgAccountSearchContext"  resultMap="MsgAccountResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.ISLIST, t1.MAILADDRESS, t1.MOBILE, t1.MSGACCOUNTID, t1.MSGACCOUNTNAME, t1.MSGADDRESS, t1.MSNEMAIL, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.WECHARADDR, t1.WXADDR FROM T_SRFMSGACCOUNT t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`ISLIST`, t1.`MAILADDRESS`, t1.`MOBILE`, t1.`MSGACCOUNTID`, t1.`MSGACCOUNTNAME`, t1.`MSGADDRESS`, t1.`MSNEMAIL`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WECHARADDR`, t1.`WXADDR` FROM `T_SRFMSGACCOUNT` t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.ISLIST, t1.MAILADDRESS, t1.MOBILE, t1.MSGACCOUNTID, t1.MSGACCOUNTNAME, t1.MSGADDRESS, t1.MSNEMAIL, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.WECHARADDR, t1.WXADDR FROM T_SRFMSGACCOUNT t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.ISLIST, t1.MAILADDRESS, t1.MOBILE, t1.MSGACCOUNTID, t1.MSGACCOUNTNAME, t1.MSGADDRESS, t1.MSNEMAIL, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.WECHARADDR, t1.WXADDR FROM T_SRFMSGACCOUNT t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.ENABLE, t1.ISLIST, t1.MAILADDRESS, t1.MOBILE, t1.MSGACCOUNTID, t1.MSGACCOUNTNAME, t1.MSGADDRESS, t1.MSNEMAIL, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.WECHARADDR, t1.WXADDR FROM T_SRFMSGACCOUNT t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[ENABLE], t1.[ISLIST], t1.[MAILADDRESS], t1.[MOBILE], t1.[MSGACCOUNTID], t1.[MSGACCOUNTNAME], t1.[MSGADDRESS], t1.[MSNEMAIL], t1.[RESERVER], t1.[RESERVER2], t1.[RESERVER3], t1.[RESERVER4], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[WECHARADDR], t1.[WXADDR] FROM [T_SRFMSGACCOUNT] t1
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

</mapper>

