<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.soc.mapper.SocWelfareinfomxMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SocWelfareinfomxResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`DE`, t11.`DWBL`, t1.`DWJS`, t11.`GRBL`, t1.`GRJS`, t11.`SBFLLX`, t11.`SM`, t1.`SOCSELFAREBASEMXID`, t1.`SOCWELFAREINFOID`, t1.`SOCWELFAREINFOMXID`, t1.`SOCWELFAREINFOMXNAME`, t21.`SOCWELFAREINFONAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SOCWELFAREINFOMX` t1  LEFT JOIN T_SOCSELFAREBASEMX t11 ON t1.SOCSELFAREBASEMXID = t11.SOCSELFAREBASEMXID  LEFT JOIN T_SOCWELFAREINFO t21 ON t1.SOCWELFAREINFOID = t21.SOCWELFAREINFOID  ) t1 where socwelfareinfomxid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SocWelfareinfomxResultMap" type="cn.ibizlab.ehr.core.soc.domain.SocWelfareinfomx" autoMapping="true">
        <id property="socwelfareinfomxid" column="socwelfareinfomxid" /><!--主键字段映射-->
		<result property="socselfarebasemxid" column="socselfarebasemxid" />
		<result property="socwelfareinfoid" column="socwelfareinfoid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="socselfarebasemx" javaType="cn.ibizlab.ehr.core.soc.domain.SocSelfarebasemx" column="socselfarebasemxid" select="cn.ibizlab.ehr.core.soc.mapper.SocSelfarebasemxMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="socwelfareinfo" javaType="cn.ibizlab.ehr.core.soc.domain.SocWelfareInfo" column="socwelfareinfoid" select="cn.ibizlab.ehr.core.soc.mapper.SocWelfareInfoMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SOCWELFAREINFOMX_SOCSELFAREBASEMX_SOCSELFAREBASEMXID] -->
	 <select id="selectBySocselfarebasemxid" resultMap="SocWelfareinfomxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  socselfarebasemxid=#{socselfarebasemxid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SOCWELFAREINFOMX_SOCWELFAREINFO_SOCWELFAREINFOID] -->
	 <select id="selectBySocwelfareinfoid" resultMap="SocWelfareinfomxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  socwelfareinfoid=#{socwelfareinfoid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.soc.filter.SocWelfareinfomxSearchContext"  resultMap="SocWelfareinfomxResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`DE`, t11.`DWBL`, t1.`DWJS`, t11.`GRBL`, t1.`GRJS`, t11.`SBFLLX`, t11.`SM`, t1.`SOCSELFAREBASEMXID`, t1.`SOCWELFAREINFOID`, t1.`SOCWELFAREINFOMXID`, t1.`SOCWELFAREINFOMXNAME`, t21.`SOCWELFAREINFONAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SOCWELFAREINFOMX` t1  LEFT JOIN T_SOCSELFAREBASEMX t11 ON t1.SOCSELFAREBASEMXID = t11.SOCSELFAREBASEMXID  LEFT JOIN T_SOCWELFAREINFO t21 ON t1.SOCWELFAREINFOID = t21.SOCWELFAREINFOID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t11.`DE`, t11.`DWBL`, t1.`DWJS`, t11.`GRBL`, t1.`GRJS`, t11.`SBFLLX`, t11.`SM`, t1.`SOCSELFAREBASEMXID`, t1.`SOCWELFAREINFOID`, t1.`SOCWELFAREINFOMXID`, t1.`SOCWELFAREINFOMXNAME`, t21.`SOCWELFAREINFONAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SOCWELFAREINFOMX` t1  LEFT JOIN T_SOCSELFAREBASEMX t11 ON t1.SOCSELFAREBASEMXID = t11.SOCSELFAREBASEMXID  LEFT JOIN T_SOCWELFAREINFO t21 ON t1.SOCWELFAREINFOID = t21.SOCWELFAREINFOID  
			]]>
    </sql>
</mapper>

