<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.par.mapper.ParLdkhqzMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="ParLdkhqzResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t21.`KHLX` AS `KHDX`, t1.`KHOBJECT`, t1.`PARKHZCMXID`, t11.`PARKHZCMXNAME`, t1.`PARLDKHQZID`, t1.`PARLDKHQZNAME`, t1.`PFZT`, t1.`QZZB`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PARLDKHQZ` t1  LEFT JOIN T_PARKHZCMX t11 ON t1.PARKHZCMXID = t11.PARKHZCMXID  LEFT JOIN T_PARJXKHJCSZ t21 ON t11.PARJXKHJCSZID = t21.PARJXKHJCSZID  ) t1 where parldkhqzid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ParLdkhqzResultMap" type="cn.ibizlab.ehr.core.par.domain.ParLdkhqz" autoMapping="true">
        <id property="parldkhqzid" column="parldkhqzid" /><!--主键字段映射-->
		<result property="parkhzcmxid" column="parkhzcmxid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parkhzcmx" javaType="cn.ibizlab.ehr.core.par.domain.ParKhzcmx" column="parkhzcmxid" select="cn.ibizlab.ehr.core.par.mapper.ParKhzcmxMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PARLDKHQZ_PARKHZCMX_PARKHZCMXID] -->
	 <select id="selectByParkhzcmxid" resultMap="ParLdkhqzResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  parkhzcmxid=#{parkhzcmxid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.par.filter.ParLdkhqzSearchContext"  resultMap="ParLdkhqzResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t21.`KHLX` AS `KHDX`, t1.`KHOBJECT`, t1.`PARKHZCMXID`, t11.`PARKHZCMXNAME`, t1.`PARLDKHQZID`, t1.`PARLDKHQZNAME`, t1.`PFZT`, t1.`QZZB`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PARLDKHQZ` t1  LEFT JOIN T_PARKHZCMX t11 ON t1.PARKHZCMXID = t11.PARKHZCMXID  LEFT JOIN T_PARJXKHJCSZ t21 ON t11.PARJXKHJCSZID = t21.PARJXKHJCSZID  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t21.`KHLX` AS `KHDX`, t1.`KHOBJECT`, t1.`PARKHZCMXID`, t11.`PARKHZCMXNAME`, t1.`PARLDKHQZID`, t1.`PARLDKHQZNAME`, t1.`PFZT`, t1.`QZZB`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_PARLDKHQZ` t1  LEFT JOIN T_PARKHZCMX t11 ON t1.PARKHZCMXID = t11.PARKHZCMXID  LEFT JOIN T_PARJXKHJCSZ t21 ON t11.PARJXKHJCSZID = t21.PARJXKHJCSZID  
			]]>
    </sql>
</mapper>

