<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.vac.mapper.VacUseNxjmxMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="VacUseNxjmxResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BCNXJTS`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ND`, t1.`QJZL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACLEAVEDETAILID`, t1.`VACSYNJCXID`, t1.`VACUSENXJMXID`, t1.`VACUSENXJMXNAME` FROM `T_VACUSENXJMX` t1  ) t1 where vacusenxjmxid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="VacUseNxjmxResultMap" type="cn.ibizlab.ehr.core.vac.domain.VacUseNxjmx" autoMapping="true">
        <id property="vacusenxjmxid" column="vacusenxjmxid" /><!--主键字段映射-->
		<result property="vacleavedetailid" column="vacleavedetailid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="vacleavedetail" javaType="cn.ibizlab.ehr.core.vac.domain.VacLeaveDetail" column="vacleavedetailid" select="cn.ibizlab.ehr.core.vac.mapper.VacLeaveDetailMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_VACUSENXJMX_VACLEAVEDETAIL_VACLEAVEDETAILID] -->
	 <select id="selectByVacleavedetailid" resultMap="VacUseNxjmxResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  vacleavedetailid=#{vacleavedetailid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.vac.filter.VacUseNxjmxSearchContext"  resultMap="VacUseNxjmxResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BCNXJTS`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ND`, t1.`QJZL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACLEAVEDETAILID`, t1.`VACSYNJCXID`, t1.`VACUSENXJMXID`, t1.`VACUSENXJMXNAME` FROM `T_VACUSENXJMX` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BCNXJTS`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ND`, t1.`QJZL`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`VACLEAVEDETAILID`, t1.`VACSYNJCXID`, t1.`VACUSENXJMXID`, t1.`VACUSENXJMXNAME` FROM `T_VACUSENXJMX` t1  
			]]>
    </sql>
</mapper>

