<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TrmTrainFaciesMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TrmTrainFaciesResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BGSB`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DD`, t1.`DGSB`, t1.`ENABLE`, t1.`SB`, t1.`SFFC`, t1.`SFGX`, t1.`SSBM`, t1.`SSLB`, t1.`SSSL`, t1.`SSZP`, t1.`TRMTRAINADDRESSID`, t11.`TRMTRAINADDRESSNAME`, t1.`TRMTRAINFACIESID`, t1.`TRMTRAINFACIESNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYSB` FROM `T_TRMTRAINFACIES` t1  LEFT JOIN T_TRMTRAINADDRESS t11 ON t1.TRMTRAINADDRESSID = t11.TRMTRAINADDRESSID  ) t1 where trmtrainfaciesid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TrmTrainFaciesResultMap" type="cn.ibizlab.ehr.core.trm.domain.TrmTrainFacies" autoMapping="true">
        <id property="trmtrainfaciesid" column="trmtrainfaciesid" /><!--主键字段映射-->
		<result property="trmtrainaddressid" column="trmtrainaddressid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtrainaddress" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainAddress" column="trmtrainaddressid" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainAddressMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINFACIES_TRMTRAINADDRESS_TRMTRAINADDRESSID] -->
	 <select id="selectByTrmtrainaddressid" resultMap="TrmTrainFaciesResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtrainaddressid=#{trmtrainaddressid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TrmTrainFaciesSearchContext"  resultMap="TrmTrainFaciesResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BGSB`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DD`, t1.`DGSB`, t1.`ENABLE`, t1.`SB`, t1.`SFFC`, t1.`SFGX`, t1.`SSBM`, t1.`SSLB`, t1.`SSSL`, t1.`SSZP`, t1.`TRMTRAINADDRESSID`, t11.`TRMTRAINADDRESSNAME`, t1.`TRMTRAINFACIESID`, t1.`TRMTRAINFACIESNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYSB` FROM `T_TRMTRAINFACIES` t1  LEFT JOIN T_TRMTRAINADDRESS t11 ON t1.TRMTRAINADDRESSID = t11.TRMTRAINADDRESSID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BGSB`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DD`, t1.`DGSB`, t1.`ENABLE`, t1.`SB`, t1.`SFFC`, t1.`SFGX`, t1.`SSBM`, t1.`SSLB`, t1.`SSSL`, t1.`SSZP`, t1.`TRMTRAINADDRESSID`, t11.`TRMTRAINADDRESSNAME`, t1.`TRMTRAINFACIESID`, t1.`TRMTRAINFACIESNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YYSB` FROM `T_TRMTRAINFACIES` t1  LEFT JOIN T_TRMTRAINADDRESS t11 ON t1.TRMTRAINADDRESSID = t11.TRMTRAINADDRESSID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

