<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.PVPartMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="db2">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="mysql">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="oracle">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="postgresql">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="ppas">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="PVPartResultMap" databaseId="sqlserver">
        <![CDATA[select * from v_pvpart t1     where  pvpartid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PVPartResultMap" type="cn.ibizlab.ehr.core.common.domain.PVPart" autoMapping="true">
        <id property="pvpartid" column="pvpartid" /><!--主键字段映射-->
		<result property="portalpageid" column="portalpageid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="portalpage" javaType="cn.ibizlab.ehr.core.common.domain.PortalPage" column="portalpageid" select="cn.ibizlab.ehr.core.common.mapper.PortalPageMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PVPART_PORTALPAGE_PORTALPAGEID] -->
	 <select id="selectByPortalpageid" resultMap="PVPartResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  portalpageid=#{portalpageid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.PVPartSearchContext"  resultMap="PVPartResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[CurPV]-->
	 <select id="searchCurPV"  parameterType="cn.ibizlab.ehr.core.common.filter.PVPartSearchContext"  resultMap="PVPartResultMap">
         select t1.* from (
                <include refid="CurPV" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.CTRLID, t1.MEMO, t1.PORTALPAGEID, t11.PORTALPAGENAME, t1.PVPARTID, t1.PVPARTNAME, t1.PVPARTTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.PORTALPAGEID =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CTRLID`, t1.`MEMO`, t1.`PORTALPAGEID`, t11.`PORTALPAGENAME`, t1.`PVPARTID`, t1.`PVPARTNAME`, t1.`PVPARTTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SRFPVPART` t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.`PORTALPAGEID` =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.CTRLID, t1.MEMO, t1.PORTALPAGEID, t11.PORTALPAGENAME, t1.PVPARTID, t1.PVPARTNAME, t1.PVPARTTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.PORTALPAGEID =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.CTRLID AS CTRLID, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t11.PORTALPAGENAME AS PORTALPAGENAME, t1.PVPARTID AS PVPARTID, t1.PVPARTNAME AS PVPARTNAME, t1.PVPARTTYPE AS PVPARTTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.PORTALPAGEID =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.CTRLID AS CTRLID, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t11.PORTALPAGENAME AS PORTALPAGENAME, t1.PVPARTID AS PVPARTID, t1.PVPARTNAME AS PVPARTNAME, t1.PVPARTTYPE AS PVPARTTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.PORTALPAGEID =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[CurPV]-->
    <sql id="CurPV" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[CTRLID], t1.[MEMO], t1.[PORTALPAGEID], t11.[PORTALPAGENAME], t1.[PVPARTID], t1.[PVPARTNAME], t1.[PVPARTTYPE], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFPVPART] t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
				 WHERE 	( t1.[PORTALPAGEID] =  #{srf.datacontext.portalpageid} )
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.CTRLID, t1.MEMO, t1.PORTALPAGEID, t11.PORTALPAGENAME, t1.PVPARTID, t1.PVPARTNAME, t1.PVPARTTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CTRLID`, t1.`MEMO`, t1.`PORTALPAGEID`, t11.`PORTALPAGENAME`, t1.`PVPARTID`, t1.`PVPARTNAME`, t1.`PVPARTTYPE`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SRFPVPART` t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.CTRLID, t1.MEMO, t1.PORTALPAGEID, t11.PORTALPAGENAME, t1.PVPARTID, t1.PVPARTNAME, t1.PVPARTTYPE, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.CTRLID AS CTRLID, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t11.PORTALPAGENAME AS PORTALPAGENAME, t1.PVPARTID AS PVPARTID, t1.PVPARTNAME AS PVPARTNAME, t1.PVPARTTYPE AS PVPARTTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.CTRLID AS CTRLID, t1.MEMO AS MEMO, t1.PORTALPAGEID AS PORTALPAGEID, t11.PORTALPAGENAME AS PORTALPAGENAME, t1.PVPARTID AS PVPARTID, t1.PVPARTNAME AS PVPARTNAME, t1.PVPARTTYPE AS PVPARTTYPE, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFPVPART t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[CTRLID], t1.[MEMO], t1.[PORTALPAGEID], t11.[PORTALPAGENAME], t1.[PVPARTID], t1.[PVPARTNAME], t1.[PVPARTTYPE], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFPVPART] t1  LEFT JOIN T_SRFPORTALPAGE t11 ON t1.PORTALPAGEID = t11.PORTALPAGEID  
			]]>
    </sql>

</mapper>

