<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.SysAdminFuncMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SysAdminFuncResultMap" type="cn.ibizlab.ehr.core.common.domain.SysAdminFunc" autoMapping="true">
        <id property="sysadminfuncid" column="sysadminfuncid" /><!--主键字段映射-->
		<result property="sysadminid" column="sysadminid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="sysadmin" javaType="cn.ibizlab.ehr.core.common.domain.SysAdmin" column="sysadminid" select="cn.ibizlab.ehr.core.common.mapper.SysAdminMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SYSADMINFUNC_SYSADMIN_SYSADMINID] -->
	 <select id="selectBySysadminid" resultMap="SysAdminFuncResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  sysadminid=#{sysadminid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.SysAdminFuncSearchContext"  resultMap="SysAdminFuncResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t11.ADMINOBJECT, t1.CREATEDATE, t1.CREATEMAN, t1.FUNCID, t1.MEMO, t1.PARAM, t1.SYSADMINFUNCID, t1.SYSADMINFUNCNAME, t1.SYSADMINID, t11.SYSADMINNAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SRFSYSADMINFUNC t1  LEFT JOIN T_SRFSYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t11.`ADMINOBJECT`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`FUNCID`, t1.`MEMO`, t1.`PARAM`, t1.`SYSADMINFUNCID`, t1.`SYSADMINFUNCNAME`, t1.`SYSADMINID`, t11.`SYSADMINNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_SYSADMINFUNC` t1  LEFT JOIN T_SYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t11.ADMINOBJECT, t1.CREATEDATE, t1.CREATEMAN, t1.FUNCID, t1.MEMO, t1.PARAM, t1.SYSADMINFUNCID, t1.SYSADMINFUNCNAME, t1.SYSADMINID, t11.SYSADMINNAME, t1.UPDATEDATE, t1.UPDATEMAN FROM T_SYSADMINFUNC t1  LEFT JOIN T_SYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t11.ADMINOBJECT AS ADMINOBJECT, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FUNCID AS FUNCID, t1.MEMO AS MEMO, t1.PARAM AS PARAM, t1.SYSADMINFUNCID AS SYSADMINFUNCID, t1.SYSADMINFUNCNAME AS SYSADMINFUNCNAME, t1.SYSADMINID AS SYSADMINID, t11.SYSADMINNAME AS SYSADMINNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFSYSADMINFUNC t1  LEFT JOIN T_SRFSYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t11.ADMINOBJECT AS ADMINOBJECT, t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.FUNCID AS FUNCID, t1.MEMO AS MEMO, t1.PARAM AS PARAM, t1.SYSADMINFUNCID AS SYSADMINFUNCID, t1.SYSADMINFUNCNAME AS SYSADMINFUNCNAME, t1.SYSADMINID AS SYSADMINID, t11.SYSADMINNAME AS SYSADMINNAME, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN FROM T_SRFSYSADMINFUNC t1  LEFT JOIN T_SRFSYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t11.[ADMINOBJECT], t1.[CREATEDATE], t1.[CREATEMAN], t1.[FUNCID], t1.[MEMO], t1.[PARAM], t1.[SYSADMINFUNCID], t1.[SYSADMINFUNCNAME], t1.[SYSADMINID], t11.[SYSADMINNAME], t1.[UPDATEDATE], t1.[UPDATEMAN] FROM [T_SRFSYSADMINFUNC] t1  LEFT JOIN T_SRFSYSADMIN t11 ON t1.SYSADMINID = t11.SYSADMINID  
			]]>
    </sql>

</mapper>

