<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.common.mapper.UserRoleDEFieldesMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="UserRoleDEFieldesResultMap" type="cn.ibizlab.ehr.core.common.domain.UserRoleDEFieldes" autoMapping="true">
        <id property="userroledefieldsid" column="userroledefieldsid" /><!--主键字段映射-->
		<result property="userroleid" column="userroleid" />
		<result property="userroledefieldid" column="userroledefieldid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="userroledefield" javaType="cn.ibizlab.ehr.core.common.domain.UserRoleDEField" column="userroledefieldid" select="cn.ibizlab.ehr.core.common.mapper.UserRoleDEFieldMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="userrole" javaType="cn.ibizlab.ehr.core.common.domain.UserRole" column="userroleid" select="cn.ibizlab.ehr.core.common.mapper.UserRoleMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_USERROLEDEFIELDS_USERROLEDEFIELD_USERROLEDEFIELDID] -->
	 <select id="selectByUserroledefieldid" resultMap="UserRoleDEFieldesResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  userroledefieldid=#{userroledefieldid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_USERROLEDEFIELDS_USERROLE_USERROLEID] -->
	 <select id="selectByUserroleid" resultMap="UserRoleDEFieldesResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  userroleid=#{userroleid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.common.filter.UserRoleDEFieldesSearchContext"  resultMap="UserRoleDEFieldesResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="db2">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERROLEDEFIELDID, t11.USERROLEDEFIELDNAME, t1.USERROLEDEFIELDSID, t1.USERROLEDEFIELDSNAME, t1.USERROLEID, t21.USERROLENAME FROM T_SRFUSERROLEDEFIELDS t1  LEFT JOIN T_SRFUSERROLEDEFIELD t11 ON t1.USERROLEDEFIELDID = t11.USERROLEDEFIELDID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`RESERVER`, t1.`RESERVER2`, t1.`RESERVER3`, t1.`RESERVER4`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERROLEDEFIELDID`, t21.`USERROLEDEFIELDNAME`, t1.`USERROLEDEFIELDSID`, t1.`USERROLEDEFIELDSNAME`, t1.`USERROLEID`, t11.`USERROLENAME` FROM `T_SRFUSERROLEDEFIELDS` t1  LEFT JOIN T_SRFUSERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_SRFUSERROLEDEFIELD t21 ON t1.USERROLEDEFIELDID = t21.USERROLEDEFIELDID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.CREATEDATE, t1.CREATEMAN, t1.RESERVER, t1.RESERVER2, t1.RESERVER3, t1.RESERVER4, t1.UPDATEDATE, t1.UPDATEMAN, t1.USERROLEDEFIELDID, t21.USERROLEDEFIELDNAME, t1.USERROLEDEFIELDSID, t1.USERROLEDEFIELDSNAME, t1.USERROLEID, t11.USERROLENAME FROM T_USERROLEDEFIELDS t1  LEFT JOIN T_USERROLE t11 ON t1.USERROLEID = t11.USERROLEID  LEFT JOIN T_USERROLEDEFIELD t21 ON t1.USERROLEDEFIELDID = t21.USERROLEDEFIELDID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERROLEDEFIELDID AS USERROLEDEFIELDID, t11.USERROLEDEFIELDNAME AS USERROLEDEFIELDNAME, t1.USERROLEDEFIELDSID AS USERROLEDEFIELDSID, t1.USERROLEDEFIELDSNAME AS USERROLEDEFIELDSNAME, t1.USERROLEID AS USERROLEID, t21.USERROLENAME AS USERROLENAME FROM T_SRFUSERROLEDEFIELDS t1  LEFT JOIN T_SRFUSERROLEDEFIELD t11 ON t1.USERROLEDEFIELDID = t11.USERROLEDEFIELDID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="ppas">
       <![CDATA[	SELECT t1.CREATEDATE AS CREATEDATE, t1.CREATEMAN AS CREATEMAN, t1.RESERVER AS RESERVER, t1.RESERVER2 AS RESERVER2, t1.RESERVER3 AS RESERVER3, t1.RESERVER4 AS RESERVER4, t1.UPDATEDATE AS UPDATEDATE, t1.UPDATEMAN AS UPDATEMAN, t1.USERROLEDEFIELDID AS USERROLEDEFIELDID, t11.USERROLEDEFIELDNAME AS USERROLEDEFIELDNAME, t1.USERROLEDEFIELDSID AS USERROLEDEFIELDSID, t1.USERROLEDEFIELDSNAME AS USERROLEDEFIELDSNAME, t1.USERROLEID AS USERROLEID, t21.USERROLENAME AS USERROLENAME FROM T_SRFUSERROLEDEFIELDS t1  LEFT JOIN T_SRFUSERROLEDEFIELD t11 ON t1.USERROLEDEFIELDID = t11.USERROLEDEFIELDID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="sqlserver">
       <![CDATA[	SELECT t1.[CREATEDATE], t1.[CREATEMAN], t1.[RESERVER], t1.[RESERVER2], t1.[RESERVER3], t1.[RESERVER4], t1.[UPDATEDATE], t1.[UPDATEMAN], t1.[USERROLEDEFIELDID], t11.[USERROLEDEFIELDNAME], t1.[USERROLEDEFIELDSID], t1.[USERROLEDEFIELDSNAME], t1.[USERROLEID], t21.[USERROLENAME] FROM [T_SRFUSERROLEDEFIELDS] t1  LEFT JOIN T_SRFUSERROLEDEFIELD t11 ON t1.USERROLEDEFIELDID = t11.USERROLEDEFIELDID  LEFT JOIN T_SRFUSERROLE t21 ON t1.USERROLEID = t21.USERROLEID  
			]]>
    </sql>

</mapper>

