<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.att.mapper.ATTENDANCESETTINGSMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ATTENDANCESETTINGSResultMap" type="cn.ibizlab.ehr.core.att.domain.ATTENDANCESETTINGS" autoMapping="true">
        <id property="attendancesettingsid" column="attendancesettingsid" /><!--主键字段映射-->
		<result property="attendencesetupid" column="attendencesetupid" />
		<result property="pimpersonid" column="pimpersonid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="attendencesetup" javaType="cn.ibizlab.ehr.core.att.domain.ATTENDENCESETUP" column="attendencesetupid" select="cn.ibizlab.ehr.core.att.mapper.ATTENDENCESETUPMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PIMPERSON" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PIMPERSONMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDANCESETTINGS_ATTENDENCESETUP_ATTENDENCESETUPID] -->
	 <select id="selectByAttendencesetupid" resultMap="ATTENDANCESETTINGSResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  attendencesetupid=#{attendencesetupid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ATTENDANCESETTINGS_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="ATTENDANCESETTINGSResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>

    <!--数据集合[YGSZKQ]-->
	 <select id="searchYGSZKQ"  parameterType="cn.ibizlab.ehr.core.att.filter.ATTENDANCESETTINGSSearchContext"  resultMap="ATTENDANCESETTINGSResultMap">
         select t1.* from (
                <include refid="YGSZKQ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[FYGZZKQ]-->
	 <select id="searchFYGZZKQ"  parameterType="cn.ibizlab.ehr.core.att.filter.ATTENDANCESETTINGSSearchContext"  resultMap="ATTENDANCESETTINGSResultMap">
         select t1.* from (
                <include refid="FYGZZKQ" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.att.filter.ATTENDANCESETTINGSSearchContext"  resultMap="ATTENDANCESETTINGSResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`ATTENDANCESETTINGSID`, t1.`ATTENDANCESETTINGSNAME`, t1.`ATTENDENCESETUPID`, t11.`ATTENDENCESETUPNAME`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DKFS`, t31.`ORMORGID`, t11.`ORMORGID` AS `ORMORGID2`, t21.`ZZDZS` AS `ORMORGNAME2`, t31.`ORMORGSECTORID`, t41.`SHORTNAME` AS `ORMORGSECTORNAME`, t1.`PIMPERSONID`, t1.`PIMPERSONNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`YGBH`, t31.`YGZT`, t51.`ZZDZS` FROM `T_ATTENDANCESETTINGS` t1  LEFT JOIN T_ATTENDENCESETUP t11 ON t1.ATTENDENCESETUPID = t11.ATTENDENCESETUPID  LEFT JOIN T_ORG t21 ON t11.ORMORGID = t21.ORGID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  LEFT JOIN T_ORGSECTOR t41 ON t31.ORMORGSECTORID = t41.ORGSECTORID  LEFT JOIN T_ORG t51 ON t31.ORMORGID = t51.ORGID  
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.ATTENDANCESETTINGSID, t1.ATTENDANCESETTINGSNAME, t1.ATTENDENCESETUPID, t11.ATTENDENCESETUPNAME, t1.CREATEDATE, t1.CREATEMAN, t1.DKFS, t31.ORMORGID, t11.ORMORGID AS ORMORGID2, t21.ZZDZS AS ORMORGNAME2, t31.ORMORGSECTORID, t41.SHORTNAME AS ORMORGSECTORNAME, t1.PIMPERSONID, t1.PIMPERSONNAME, t1.UPDATEDATE, t1.UPDATEMAN, t1.YGBH, t31.YGZT, t51.ZZDZS FROM T_ATTENDANCESETTINGS t1  LEFT JOIN T_ATTENDENCESETUP t11 ON t1.ATTENDENCESETUPID = t11.ATTENDENCESETUPID  LEFT JOIN T_ORG t21 ON t11.ORMORGID = t21.ORGID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  LEFT JOIN T_ORGSECTOR t41 ON t31.ORMORGSECTORID = t41.ORGSECTORID  LEFT JOIN T_ORG t51 ON t31.ORMORGID = t51.ORGID  
			]]>
    </sql>

    <!--数据查询[FYGZZKQ]-->
    <sql id="FYGZZKQ" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>

    <!--数据查询[FYGZZKQ]-->
    <sql id="FYGZZKQ" databaseId="oracle">
       <![CDATA[	select * from V_ATTENDANCESETTINGS_FYGZZKQ t1
				 WHERE 	ormorgid2 in (      SELECT t.orgid FROM t_srforg t      WHERE instr(t.levelcode, ( select a.levelcode from t_srforg a where a.orgid = #{srf.sessioncontext.SRFORGID')} ))=1 ) 
			]]>
    </sql>

    <!--数据查询[YGSZKQ]-->
    <sql id="YGSZKQ" databaseId="mysql">
       <![CDATA[	
			]]>
    </sql>

    <!--数据查询[YGSZKQ]-->
    <sql id="YGSZKQ" databaseId="oracle">
       <![CDATA[	select * from V_ATTENDANCESETTINGS_YGSZKQ t1
				 WHERE 	ormorgid2 in (      SELECT t.orgid FROM t_srforg t      WHERE instr(t.levelcode, ( select a.levelcode from t_srforg a where a.orgid = #{srf.sessioncontext.SRFORGID')} ))=1 ) 
			]]>
    </sql>

</mapper>

