<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.trm.mapper.TrmTrainAgencyMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TrmTrainAgencyResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DZXX`, t1.`ENABLE`, t1.`JGBM`, t1.`JGDJ`, t1.`JGLB`, t1.`JGLX`, t1.`JJ`, t1.`KCTXFW`, t1.`KHH`, t1.`KHHMC`, t1.`KHHZH`, t1.`KPDZ`, t1.`KPLX`, t1.`KPMC`, t1.`KPR`, t1.`KPRDH`, t1.`KPXX`, t1.`LXDH`, t1.`LXR`, t1.`NSRSBH`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`PJ`, t1.`PXCS`, t1.`PXZSC`, t1.`SFFC`, t1.`SFGX`, t1.`TRMTRAINAGENCYID`, t1.`TRMTRAINAGENCYID2`, t1.`TRMTRAINAGENCYNAME`, t11.`TRMTRAINAGENCYNAME` AS `TRMTRAINAGENCYNAME2`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WZ`, t1.`ZCXX`, t21.`ZZDZS` FROM `T_TRMTRAINAGENCY` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID2 = t11.TRMTRAINAGENCYID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  ) t1 where trmtrainagencyid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TrmTrainAgencyResultMap" type="cn.ibizlab.ehr.core.trm.domain.TrmTrainAgency" autoMapping="true">
        <id property="trmtrainagencyid" column="trmtrainagencyid" /><!--主键字段映射-->
		<result property="pimpersonid" column="pimpersonid" />
		<result property="ormorgid" column="ormorgid" />
		<result property="trmtrainagencyid2" column="trmtrainagencyid2" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimperson" javaType="cn.ibizlab.ehr.core.pim.domain.PimPerson" column="pimpersonid" select="cn.ibizlab.ehr.core.pim.mapper.PimPersonMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="trmtrainagency2" javaType="cn.ibizlab.ehr.core.trm.domain.TrmTrainAgency" column="trmtrainagencyid2" select="cn.ibizlab.ehr.core.trm.mapper.TrmTrainAgencyMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINAGENCY_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="TrmTrainAgencyResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINAGENCY_PIMPERSON_PIMPERSONID] -->
	 <select id="selectByPimpersonid" resultMap="TrmTrainAgencyResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimpersonid=#{pimpersonid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_TRMTRAINAGENCY_TRMTRAINAGENCY_TRMTRAINAGENCYID2] -->
	 <select id="selectByTrmtrainagencyid2" resultMap="TrmTrainAgencyResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  trmtrainagencyid2=#{trmtrainagencyid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.trm.filter.TrmTrainAgencySearchContext"  resultMap="TrmTrainAgencyResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DZXX`, t1.`ENABLE`, t1.`JGBM`, t1.`JGDJ`, t1.`JGLB`, t1.`JGLX`, t1.`JJ`, t1.`KCTXFW`, t1.`KHH`, t1.`KHHMC`, t1.`KHHZH`, t1.`KPDZ`, t1.`KPLX`, t1.`KPMC`, t1.`KPR`, t1.`KPRDH`, t1.`KPXX`, t1.`LXDH`, t1.`LXR`, t1.`NSRSBH`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`PJ`, t1.`PXCS`, t1.`PXZSC`, t1.`SFFC`, t1.`SFGX`, t1.`TRMTRAINAGENCYID`, t1.`TRMTRAINAGENCYID2`, t1.`TRMTRAINAGENCYNAME`, t11.`TRMTRAINAGENCYNAME` AS `TRMTRAINAGENCYNAME2`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WZ`, t1.`ZCXX`, t21.`ZZDZS` FROM `T_TRMTRAINAGENCY` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID2 = t11.TRMTRAINAGENCYID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`BZ`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DZXX`, t1.`ENABLE`, t1.`JGBM`, t1.`JGDJ`, t1.`JGLB`, t1.`JGLX`, t1.`JJ`, t1.`KCTXFW`, t1.`KHH`, t1.`KHHMC`, t1.`KHHZH`, t1.`KPDZ`, t1.`KPLX`, t1.`KPMC`, t1.`KPR`, t1.`KPRDH`, t1.`KPXX`, t1.`LXDH`, t1.`LXR`, t1.`NSRSBH`, t1.`ORMORGID`, t21.`ORGNAME` AS `ORMORGNAME`, t1.`PIMPERSONID`, t31.`PIMPERSONNAME`, t1.`PJ`, t1.`PXCS`, t1.`PXZSC`, t1.`SFFC`, t1.`SFGX`, t1.`TRMTRAINAGENCYID`, t1.`TRMTRAINAGENCYID2`, t1.`TRMTRAINAGENCYNAME`, t11.`TRMTRAINAGENCYNAME` AS `TRMTRAINAGENCYNAME2`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`WZ`, t1.`ZCXX`, t21.`ZZDZS` FROM `T_TRMTRAINAGENCY` t1  LEFT JOIN T_TRMTRAINAGENCY t11 ON t1.TRMTRAINAGENCYID2 = t11.TRMTRAINAGENCYID  LEFT JOIN T_SRFORG t21 ON t1.ORMORGID = t21.ORGID  LEFT JOIN T_PIMPERSON t31 ON t1.PIMPERSONID = t31.PIMPERSONID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

