<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.ehr.core.pim.mapper.PimQualMajorMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="PimQualMajorResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GWLX`, t1.`GWTYPE`, t1.`GWZS`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t1.`PIMQUALMAJORID`, t1.`PIMQUALMAJORNAME`, t1.`PIMQUALTYPEID`, t11.`PIMQUALTYPENAME`, t1.`PROFESSIONALTYPE`, t1.`QUALEVEL`, t1.`QUAMAJOR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZYJSZW`, concat(IFNULL(t1.`QUALEVEL`,''),IFNULL(t1.`PIMQUALMAJORNAME`,''),IFNULL(t1.`QUAMAJOR`,'')) AS `ZYZGZY` FROM `T_PIMQUALMAJOR` t1  LEFT JOIN T_PIMQUALTYPE t11 ON t1.PIMQUALTYPEID = t11.PIMQUALTYPEID  ) t1 where pimqualmajorid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="PimQualMajorResultMap" type="cn.ibizlab.ehr.core.pim.domain.PimQualMajor" autoMapping="true">
        <id property="pimqualmajorid" column="pimqualmajorid" /><!--主键字段映射-->
		<result property="ormorgid" column="ormorgid" />
		<result property="pimqualtypeid" column="pimqualtypeid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ormorg" javaType="cn.ibizlab.ehr.core.orm.domain.OrmOrg" column="ormorgid" select="cn.ibizlab.ehr.core.orm.mapper.OrmOrgMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="pimqualtype" javaType="cn.ibizlab.ehr.core.pim.domain.PimQualType" column="pimqualtypeid" select="cn.ibizlab.ehr.core.pim.mapper.PimQualTypeMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMQUALMAJOR_ORMORG_ORMORGID] -->
	 <select id="selectByOrmorgid" resultMap="PimQualMajorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  ormorgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_PIMQUALMAJOR_PIMQUALTYPE_PIMQUALTYPEID] -->
	 <select id="selectByPimqualtypeid" resultMap="PimQualMajorResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pimqualtypeid=#{pimqualtypeid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimQualMajorSearchContext"  resultMap="PimQualMajorResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[XZZGZY]-->
	 <select id="searchXZZGZY"  parameterType="cn.ibizlab.ehr.core.pim.filter.PimQualMajorSearchContext"  resultMap="PimQualMajorResultMap">
         select t1.* from (
                <include refid="XZZGZY" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GWLX`, t1.`GWTYPE`, t1.`GWZS`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t1.`PIMQUALMAJORID`, t1.`PIMQUALMAJORNAME`, t1.`PIMQUALTYPEID`, t11.`PIMQUALTYPENAME`, t1.`PROFESSIONALTYPE`, t1.`QUALEVEL`, t1.`QUAMAJOR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZYJSZW`, concat(IFNULL(t1.`QUALEVEL`,''),IFNULL(t1.`PIMQUALMAJORNAME`,''),IFNULL(t1.`QUAMAJOR`,'')) AS `ZYZGZY` FROM `T_PIMQUALMAJOR` t1  LEFT JOIN T_PIMQUALTYPE t11 ON t1.PIMQUALTYPEID = t11.PIMQUALTYPEID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GWLX`, t1.`GWTYPE`, t1.`GWZS`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t1.`PIMQUALMAJORID`, t1.`PIMQUALMAJORNAME`, t1.`PIMQUALTYPEID`, t11.`PIMQUALTYPENAME`, t1.`PROFESSIONALTYPE`, t1.`QUALEVEL`, t1.`QUAMAJOR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZYJSZW`, concat(IFNULL(t1.`QUALEVEL`,''),IFNULL(t1.`PIMQUALMAJORNAME`,''),IFNULL(t1.`QUAMAJOR`,'')) AS `ZYZGZY` FROM `T_PIMQUALMAJOR` t1  LEFT JOIN T_PIMQUALTYPE t11 ON t1.PIMQUALTYPEID = t11.PIMQUALTYPEID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[XZZGZY]-->
    <sql id="XZZGZY" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`ENABLE`, t1.`GWLX`, t1.`GWTYPE`, t1.`GWZS`, t1.`ORMORGID` AS `ORGID`, t1.`ORMORGID`, t1.`PIMQUALMAJORID`, t1.`PIMQUALMAJORNAME`, t1.`PIMQUALTYPEID`, t11.`PIMQUALTYPENAME`, t1.`PROFESSIONALTYPE`, t1.`QUALEVEL`, t1.`QUAMAJOR`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`ZYJSZW`, concat(IFNULL(t1.`QUALEVEL`,''),IFNULL(t1.`PIMQUALMAJORNAME`,''),IFNULL(t1.`QUAMAJOR`,'')) AS `ZYZGZY` FROM `T_PIMQUALMAJOR` t1  LEFT JOIN T_PIMQUALTYPE t11 ON t1.PIMQUALTYPEID = t11.PIMQUALTYPEID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

